<a href="https://colab.research.google.com/github/wildhugecoconut/JBB-Nuclio-Capstone/blob/main/JBB_CAPSTONE_PROJECT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Captura de pantalla 2023-07-30 174141.png]()

EN ESTE DF PONDREMOS SIEMPRE QUE EL HOMBRE ES 0 Y LA MUJER ES 1, EN LA COLUMNA GENDER

In [ ]:
import pandas as pd     # Manejo de dataframes
import numpy as np      # Calculos matriciales
import matplotlib.pyplot as plt    # Visualizacion
import seaborn as sns              # Visualizacion
from google.colab import drive     # Drive en Colab

pd.set_option('display.max_columns', None)   # para visualizar mas columnas en un df

import warnings
warnings.filterwarnings("ignore")  # inhabilita warnings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dfm2022 = pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indicsmen2022.xlsx")

In [ ]:
dfm2022=dfm2022.iloc[15:]
dfm2022.columns=dfm2022.iloc[0]
dfm2022=dfm2022[1:]
dfm2022.reset_index(drop=True,inplace=True)
dfm2022["gender"]="male"
dfm2022["Date"]="2022"

In [ ]:
dfw2022 = pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indicswomen2022.xlsx")

In [ ]:
dfw2022=dfw2022.iloc[15:]
dfw2022.columns=dfw2022.iloc[0]
dfw2022=dfw2022[1:]
dfw2022.reset_index(drop=True,inplace=True)
dfw2022["gender"]="female"
dfw2022["Date"]="2022"

In [ ]:
df2022 = pd.concat([dfw2022, dfm2022], ignore_index=True)

In [ ]:
dfm2021=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indicsmen2021.xlsx")

In [ ]:
dfm2021=dfm2021.iloc[15:]
dfm2021.columns=dfm2021.iloc[0]
dfm2021=dfm2021[1:]
dfm2021.reset_index(drop=True,inplace=True)
dfm2021["gender"]="male"
dfm2021["Date"]="2021"

In [ ]:
dfw2021=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indicswomen2021.xlsx")

In [ ]:
dfw2021=dfw2021.iloc[15:]
dfw2021.columns=dfw2021.iloc[0]
dfw2021=dfw2021[1:]
dfw2021.reset_index(drop=True,inplace=True)
dfw2021["gender"]="female"
dfw2021["Date"]="2021"

In [ ]:
df2021 = pd.concat([dfw2021, dfm2021], ignore_index=True)

In [ ]:
dfw2020=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indicswomen2020.xlsx")

In [ ]:
dfw2020=dfw2020.iloc[15:]
dfw2020.columns=dfw2020.iloc[0]
dfw2020=dfw2020[1:]
dfw2020.reset_index(drop=True,inplace=True)
dfw2020["gender"]="female"
dfw2020["Date"]="2020"

In [ ]:
dfm2020=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indicsmen2020.xlsx")

In [ ]:
dfm2020=dfm2020.iloc[15:]
dfm2020.columns=dfm2020.iloc[0]
dfm2020=dfm2020[1:]
dfm2020.reset_index(drop=True,inplace=True)
dfm2020["gender"]="male"
dfm2020["Date"]="2020"

In [ ]:
df2020 = pd.concat([dfw2020, dfm2020], ignore_index=True)

In [ ]:
df2020.shape

(56, 34)

In [ ]:
df2021.shape

(56, 34)

In [ ]:
dfm2019=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indics2019men.xlsx")

In [ ]:
dfm2019=dfm2019.iloc[15:]
dfm2019.columns=dfm2019.iloc[0]
dfm2019=dfm2019[1:]
dfm2019.reset_index(drop=True,inplace=True)
dfm2019["gender"]="male"
dfm2019["Date"]="2019"

In [ ]:
dfw2019=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indicswomen2019.xlsx")

In [ ]:
dfw2019=dfw2019.iloc[15:]
dfw2019.columns=dfw2019.iloc[0]
dfw2019=dfw2019[1:]
dfw2019.reset_index(drop=True,inplace=True)
dfw2019["gender"]="female"
dfw2019["Date"]="2019"

In [ ]:
df2019 = pd.concat([dfw2019, dfm2019], ignore_index=True)

In [ ]:
dfm2017=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indics2017men.xlsx")

In [ ]:
dfm2017=dfm2017.iloc[15:]
dfm2017.columns=dfm2017.iloc[0]
dfm2017=dfm2017[1:]
dfm2017.reset_index(drop=True,inplace=True)
dfm2017["gender"]="male"
dfm2017["Date"]="2017"

In [ ]:
dfw2017=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indics2017women.xlsx")

In [ ]:
dfw2017=dfw2017.iloc[15:]
dfw2017.columns=dfw2017.iloc[0]
dfw2017=dfw2017[1:]
dfw2017.reset_index(drop=True,inplace=True)
dfw2017["gender"]="female"
dfw2017["Date"]="2017"

In [ ]:
df2017 = pd.concat([dfw2017, dfm2017], ignore_index=True)

In [ ]:
dfm2015=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indics2015men.xlsx")

In [ ]:
dfm2015=dfm2015.iloc[15:]
dfm2015.columns=dfm2015.iloc[0]
dfm2015=dfm2015[1:]
dfm2015.reset_index(drop=True,inplace=True)
dfm2015["gender"]="male"
dfm2015["Date"]="2015"

In [ ]:
dfw2015=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indics2015women.xlsx")

In [ ]:
dfw2015=dfw2015.iloc[15:]
dfw2015.columns=dfw2015.iloc[0]
dfw2015=dfw2015[1:]
dfw2015.reset_index(drop=True,inplace=True)
dfw2015["gender"]="female"
dfw2015["Date"]="2015"

In [ ]:
df2015 = pd.concat([dfw2015, dfm2015], ignore_index=True)

In [ ]:
dfw2013=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indics2013women.xlsx")

In [ ]:
dfw2013=dfw2013.iloc[15:]
dfw2013.columns=dfw2013.iloc[0]
dfw2013=dfw2013[1:]
dfw2013.reset_index(drop=True,inplace=True)
dfw2013["gender"]="female"
dfw2013["Date"]="2013"

In [ ]:
dfm2013=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/index_data__index_indics2013men.xlsx")

In [ ]:
dfm2013=dfm2013.iloc[15:]
dfm2013.columns=dfm2013.iloc[0]
dfm2013=dfm2013[1:]
dfm2013.reset_index(drop=True,inplace=True)
dfm2013["gender"]="male"
dfm2013["Date"]="2013"

In [ ]:
df2013 = pd.concat([dfw2013, dfm2013], ignore_index=True)

In [ ]:
df2013.shape

(56, 34)

In [ ]:
dfw2013.shape

(28, 34)

In [ ]:
df2013.shape

(56, 34)

In [ ]:
df2013.head()

15,Geographic region\Individual indicators used to compute the Gender Equality Index,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date
0,Austria,42,33,26,36,64,1926,21738,15,23,13,19,43,32,72,25,23,39,29,31,9,0,30,20,14,67,84,61,65,51,2,5,female,2013
1,Belgium,37,30,38,30,66,2460,18790,14,26,28,15,53,47,82,32,16,23,39,40,10,22,40,27,12,71,83,63,68,29,1,3,female,2013
2,Bulgaria,42,30,19,20,66,717,6791,22,17,22,9,25,36,67,12,6,32,22,25,11,14,44,60,20,62,77,67,68,9,15,15,female,2013
3,Cyprus,51,33,18,17,53,1976,20930,18,20,30,16,38,46,82,10,8,17,13,20,4,0,25,11,4,72,84,64,81,33,7,13,female,2013
4,Czechia,43,30,24,11,61,1124,10737,9,29,13,18,42,38,69,23,8,11,19,18,12,14,30,18,7,60,81,65,73,30,3,4,female,2013

In [ ]:
df_final = pd.concat([df2022, df2021,df2020,df2019,df2017,df2015,df2013], ignore_index=True)

In [ ]:
df_final.shape

(392, 34)

In [ ]:
df_final.tail(30)

15,Geographic region\Individual indicators used to compute the Gender Equality Index,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date
362,Slovenia,46,33,24,25,60,1709,14257,15,28,21,23,32,48,80,41,17,34,11,22,10,20,43,31,6,56,83,55,72,37,0,1,female,2013
363,Slovakia,43,30,26,11,66,1024,9201,11,28,15,14,47,27,56,11,7,17,17,15,22,14,17,11,10,59,79,52,76,33,6,4,female,2013
364,Austria,62,39,8,36,65,2574,23107,12,23,18,18,22,15,11,25,32,61,71,69,91,100,70,80,86,72,78,59,53,55,3,6,male,2013
365,Belgium,54,35,11,33,66,2835,19734,13,25,27,15,30,34,36,39,15,77,61,60,90,78,60,73,88,75,78,64,50,36,1,3,male,2013
366,Bulgaria,51,33,4,31,62,827,7027,18,19,15,9,14,18,11,19,6,68,78,75,89,86,56,40,80,72,70,63,47,18,14,15,male,2013
367,Cyprus,65,41,6,18,51,2503,21851,14,22,27,15,15,25,17,22,10,83,88,80,96,100,75,89,96,77,79,65,54,39,6,14,male,2013
368,Czechia,63,37,5,11,65,1438,11357,7,30,15,17,18,25,12,28,7,89,81,82,88,86,70,83,93,65,75,62,54,37,4,5,male,2013
369,Germany,58,39,9,18,68,3062,20995,14,22,26,15,22,27,33,25,23,72,69,68,87,100,63,76,84,66,78,58,47,53,6,4,male,2013
370,Denmark,58,41,13,50,73,3307,19324,14,21,24,33,29,18,45,51,24,53,62,66,82,71,63,71,83,73,77,62,44,59,4,5,male,2013
371,Estonia,53,36,5,16,65,1424,9025,15,19,22,18,13,35,38,38,14,92,77,71,93,82,100,88,90,56,71,54,43,36,5,7,male,2013
372,Greece,57,37,7,16,52,2134,15168,19,18,18,11,17,12,9,18,5,77,83,79,94,92,89,83,92,78,78,66,54,25,6,7,male,2013
373,Spain,53,38,7,35,57,2239,17879,19,17,24,16,22,27,25,45,6,63,66,58,90,80,60,67,87,75,79,65,62,46,7,9,male,2013
374,European Union - 27 countries (from 2020),56,37,8,26,63,2581,16853,15,20,20,14,21,27,26,31,15,75,76,74,88,82,60,70,87,70,77,61,52,40,7,8,male,2013
375,Finland,56,38,8,51,67,2818,19543,13,26,26,26,17,34,51,44,18,48,60,58,74,69,53,55,78,70,77,59,46,57,4,6,male,2013
376,France,55,36,10,22,67,2488,21850,11,22,22,13,22,24,33,39,16,66,80,52,88,70,63,71,79,70,78,62,54,39,5,8,male,2013
377,Croatia,46,34,4,29,61,1460,8893,20,17,15,10,13,27,16,19,10,83,75,76,84,93,71,100,93,48,73,57,57,28,14,10,male,2013
378,Hungary,51,31,6,13,64,1395,7592,11,29,15,14,17,35,20,13,8,100,91,87,86,71,100,75,91,59,71,56,59,38,8,6,male,2013
379,Ireland,54,38,8,43,64,3465,20415,14,21,28,15,24,27,36,48,15,84,85,83,92,85,50,57,84,83,79,66,46,47,2,5,male,2013
380,Italy,54,35,7,22,56,2385,18330,16,19,11,12,20,29,12,28,10,82,80,88,95,94,30,67,92,71,79,63,66,30,6,10,male,2013
381,Lithuania,48,33,7,21,63,1047,7599,21,12,20,16,15,37,24,18,6,81,81,78,87,80,68,67,90,55,68,57,45,34,3,3,male,2013
382,Luxembourg,62,35,10,30,72,3182,31455,12,24,32,21,23,31,34,46,16,73,80,79,96,100,44,44,83,77,78,64,46,51,4,3,male,2013
383,Latvia,49,35,4,26,61,770,7280,20,14,17,15,12,33,40,23,8,76,79,79,77,79,64,100,86,53,68,53,43,34,20,22,male,2013
384,Malta,62,39,10,38,67,2150,15768,13,23,13,13,31,22,14,26,11,85,91,78,98,91,85,88,91,70,79,70,56,45,5,4,male,2013
385,Netherlands,60,42,10,56,62,2872,21838,9,28,28,24,24,32,35,58,34,66,61,66,85,75,67,58,74,80,79,61,58,41,1,3,male,2013
386,Poland,58,34,5,19,59,1482,9008,16,20,16,15,19,34,20,21,6,81,82,81,88,76,79,79,97,61,72,59,52,26,14,10,male,2013
387,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,male,2013
388,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,male,2013
389,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,male,2013
390,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,male,2013
391,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,male,2013

In [ ]:
pd.to_pickle(df_final,"/content/drive/MyDrive/capstone igualdad de genero/pk_df_final_concat")

In [ ]:
df=df_final.copy()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 34 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   Geographic region\Individual indicators used to compute the Gender Equality Index                                                      392 non-null    object
 1   FTE employment rate (%,  15+ population)                                                                                               392 non-null    object
 2   Duration of working life (years, 15+ population)                                                                                       392 non-null    object
 3   Employed people in Education, Human Health and Social Work activities (%, 15+ employed)                                                392 non-null    object
 4   Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)                    392 non-null    object
 5   Career Prospects Index (points, 0-100)                                                                                                 392 non-null    object
 6   Mean monthly earnings (PPS, working population)                                                                                        392 non-null    object
 7   Mean equivalised net income (PPS, 16+ population)                                                                                      392 non-null    object
 8   At-risk-of-poverty rate (%, 16+ population)                                                                                            392 non-null    object
 9   S20/S80 income quintile share (16+ population)                                                                                         392 non-null    object
 10  Graduates of tertiary education (%, 15+ population)                                                                                    392 non-null    object
 11  People participating in formal or non-formal education and training (%, 15+ population)                                                392 non-null    object
 12  Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)           392 non-null    object
 13  People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)     392 non-null    object
 14  People doing cooking and/or housework, every day (%, 18+ population)                                                                   392 non-null    object
 15  Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)  392 non-null    object
 16  Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)                                         392 non-null    object
 17  Share of ministers (%)                                                                                                                 392 non-null    object
 18  Share of members of parliament (%)                                                                                                     392 non-null    object
 19  Share of members of regional assemblies (%)                                                                                            392 non-null    object
 20  Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                    392 non-null    object
 21  Share of board members of central bank (%)                                                                                             392 non-null    object
 22  Share of board members of research funding organisations (%)                                                                           392 non-null    object
 23  Share of board members of publically owned broadcasting organisations (%)                                                              392 non-null    object
 24  Share of members of highest decision making body of the national Olympic sport organisations (%)                                       392 non-null    object
 25  Self-perceived health, good or very good (%, 16+ population)                                                                           392 non-null    object
 26  Life expectancy in absolute value at birth (years)                                                                                     392 non-null    object
 27  Healthy life years in absolute value at birth (years)                                                                                  392 non-null    object
 28  People who don’t smoke and are not involved in harmful drinking (%, 16+ population)                                                    392 non-null    object
 29  People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)                                            392 non-null    object
 30  Population with unmet needs for medical examination (%, 16+ population)                                                                392 non-null    object
 31  People with unmet needs for dental examination (%, 16+ population)                                                                     392 non-null    object
 32  gender                                                                                                                                 392 non-null    object
 33  Date                                                                                                                                   392 non-null    object
dtypes: object(34)
memory usage: 104.2+ KB

In [ ]:
df["Geographic region\Individual indicators used to compute the Gender Equality Index"].value_counts()

Austria                                      14
Belgium                                      14
Slovenia                                     14
Sweden                                       14
Romania                                      14
Portugal                                     14
Poland                                       14
Netherlands                                  14
Malta                                        14
Latvia                                       14
Luxembourg                                   14
Lithuania                                    14
Italy                                        14
Ireland                                      14
Hungary                                      14
Croatia                                      14
France                                       14
Finland                                      14
European Union - 27 countries (from 2020)    14
Spain                                        14
Greece                                       14
Estonia                                      14
Denmark                                      14
Germany                                      14
Czechia                                      14
Cyprus                                       14
Bulgaria                                     14
Slovakia                                     14
Name: Geographic region\Individual indicators used to compute the Gender Equality Index, dtype: int64

In [ ]:
df.isnull().sum()

15
Geographic region\Individual indicators used to compute the Gender Equality Index                                                        0
FTE employment rate (%,  15+ population)                                                                                                 0
Duration of working life (years, 15+ population)                                                                                         0
Employed people in Education, Human Health and Social Work activities (%, 15+ employed)                                                  0
Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)                      0
Career Prospects Index (points, 0-100)                                                                                                   0
Mean monthly earnings (PPS, working population)                                                                                          0
Mean equivalised net income (PPS, 16+ population)                                                                                        0
At-risk-of-poverty rate (%, 16+ population)                                                                                              0
S20/S80 income quintile share (16+ population)                                                                                           0
Graduates of tertiary education (%, 15+ population)                                                                                      0
People participating in formal or non-formal education and training (%, 15+ population)                                                  0
Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)             0
People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)       0
People doing cooking and/or housework, every day (%, 18+ population)                                                                     0
Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)    0
Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)                                           0
Share of ministers (%)                                                                                                                   0
Share of members of parliament (%)                                                                                                       0
Share of members of regional assemblies (%)                                                                                              0
Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                      0
Share of board members of central bank (%)                                                                                               0
Share of board members of research funding organisations (%)                                                                             0
Share of board members of publically owned broadcasting organisations (%)                                                                0
Share of members of highest decision making body of the national Olympic sport organisations (%)                                         0
Self-perceived health, good or very good (%, 16+ population)                                                                             0
Life expectancy in absolute value at birth (years)                                                                                       0
Healthy life years in absolute value at birth (years)                                                                                    0
People who don’t smoke and are not involved in harmful drinking (%, 16+ population)                                                      0
People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)                                              0
Population with unmet needs for medical examination (%, 16+ population)                                                                  0
People with unmet needs for dental examination (%, 16+ population)                                                                       0
gender                                                                                                                                   0
Date                                                                                                                                     0
dtype: int64

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 34 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   Geographic region\Individual indicators used to compute the Gender Equality Index                                                      392 non-null    object
 1   FTE employment rate (%,  15+ population)                                                                                               392 non-null    object
 2   Duration of working life (years, 15+ population)                                                                                       392 non-null    object
 3   Employed people in Education, Human Health and Social Work activities (%, 15+ employed)                                                392 non-null    object
 4   Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)                    392 non-null    object
 5   Career Prospects Index (points, 0-100)                                                                                                 392 non-null    object
 6   Mean monthly earnings (PPS, working population)                                                                                        392 non-null    object
 7   Mean equivalised net income (PPS, 16+ population)                                                                                      392 non-null    object
 8   At-risk-of-poverty rate (%, 16+ population)                                                                                            392 non-null    object
 9   S20/S80 income quintile share (16+ population)                                                                                         392 non-null    object
 10  Graduates of tertiary education (%, 15+ population)                                                                                    392 non-null    object
 11  People participating in formal or non-formal education and training (%, 15+ population)                                                392 non-null    object
 12  Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)           392 non-null    object
 13  People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)     392 non-null    object
 14  People doing cooking and/or housework, every day (%, 18+ population)                                                                   392 non-null    object
 15  Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)  392 non-null    object
 16  Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)                                         392 non-null    object
 17  Share of ministers (%)                                                                                                                 392 non-null    object
 18  Share of members of parliament (%)                                                                                                     392 non-null    object
 19  Share of members of regional assemblies (%)                                                                                            392 non-null    object
 20  Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                    392 non-null    object
 21  Share of board members of central bank (%)                                                                                             392 non-null    object
 22  Share of board members of research funding organisations (%)                                                                           392 non-null    object
 23  Share of board members of publically owned broadcasting organisations (%)                                                              392 non-null    object
 24  Share of members of highest decision making body of the national Olympic sport organisations (%)                                       392 non-null    object
 25  Self-perceived health, good or very good (%, 16+ population)                                                                           392 non-null    object
 26  Life expectancy in absolute value at birth (years)                                                                                     392 non-null    object
 27  Healthy life years in absolute value at birth (years)                                                                                  392 non-null    object
 28  People who don’t smoke and are not involved in harmful drinking (%, 16+ population)                                                    392 non-null    object
 29  People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)                                            392 non-null    object
 30  Population with unmet needs for medical examination (%, 16+ population)                                                                392 non-null    object
 31  People with unmet needs for dental examination (%, 16+ population)                                                                     392 non-null    object
 32  gender                                                                                                                                 392 non-null    object
 33  Date                                                                                                                                   392 non-null    object
dtypes: object(34)
memory usage: 104.2+ KB

In [ ]:
len(df[df.duplicated()])

0

In [ ]:
df_final.rename(columns={"Geographic region\Individual indicators used to compute the Gender Equality Index": "Region"}, inplace=True)

In [ ]:
df_final

15,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,female,2022
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,female,2022
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,female,2022
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,female,2022
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,female,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,male,2013
388,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,male,2013
389,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,male,2013
390,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,male,2013
391,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,male,2013

In [ ]:
df_final["Date"].value_counts()

2022    56
2021    56
2020    56
2019    56
2017    56
2015    56
2013    56
Name: Date, dtype: int64

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [65, 65, 77, 86, 70, 54, 44, 42, 61],
    'Homicidios Mujeres': [40, 37, 40, 44, 37, 31, 17, 22, 29],
    'Homicidios Hombres': [25, 28, 37, 42, 33, 23, 27, 20, 32],
    'Homicidios Mujeres por familiares': [26, 27, 21, 31, 29, 23, 14, 15, 21],
    'Homicidios hombres por familiares': [3, 9, 10, 7, 10, 9, 4, 2, 9],
    'Homicidios por 100.000': ['0.73', '0.73', '0.87', '0.97', '0.80', '0.62', '0.51', '0.49', '0.72']
    ##https://datosmacro.expansion.com/demografia/homicidios/austria
}

In [ ]:
df_austria=pd.DataFrame(data)

In [ ]:
df_austria

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,65,40,25,26,3,0.73
1,2020,65,37,28,27,9,0.73
2,2019,77,40,37,21,10,0.87
3,2018,86,44,42,31,7,0.97
4,2017,70,37,33,29,10,0.80
5,2016,54,31,23,23,9,0.62
6,2015,44,17,27,14,4,0.51
7,2014,42,22,20,15,2,0.49
8,2013,61,29,32,21,9,0.72

In [ ]:
'''
2018 2016 2014
'''

'\n2018 2016 2014\n'

In [ ]:
data = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [226, 236, 253, 266, 267, 299, 300, 329, 327],
    "Suicidios hombres": [901, 863, 907, 962, 994, 933, 987, 1012, 980],
    "Suicidios": [1127, 1099, 1160, 1228, 1261, 1232, 1287, 1341, 1307],
    "Suicidios tasa femenina": ["4.80", "5.19", "5.52", "5.85", "5.86", "6.64", "6.60", "7.42", "7.51"],
    "Suicidios tasa masculina": ["19.90", "19.12", "20.06", "22.08", "22.49", "21.32", "23.01", "23.89", "23.65"],
    "Suicidios por 100.000": ["12.20", "12.04", "12.67", "13.83", "14.04", "13.85", "14.65", "15.47", "15.39"]
}

df_suicidios_austria = pd.DataFrame(data)
df_suicidios_austria

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,226,901,1127,4.80,19.90,12.20
1,2020,236,863,1099,5.19,19.12,12.04
2,2019,253,907,1160,5.52,20.06,12.67
3,2018,266,962,1228,5.85,22.08,13.83
4,2017,267,994,1261,5.86,22.49,14.04
5,2016,299,933,1232,6.64,21.32,13.85
6,2015,300,987,1287,6.60,23.01,14.65
7,2014,329,1012,1341,7.42,23.89,15.47
8,2013,327,980,1307,7.51,23.65,15.39

In [ ]:
df_austria_merged= pd.merge(df_austria,df_suicidios_austria,on="Fecha",how="left")
df_austria_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,65,40,25,26,3,0.73,226,901,1127,4.80,19.90,12.20
1,2020,65,37,28,27,9,0.73,236,863,1099,5.19,19.12,12.04
2,2019,77,40,37,21,10,0.87,253,907,1160,5.52,20.06,12.67
3,2018,86,44,42,31,7,0.97,266,962,1228,5.85,22.08,13.83
4,2017,70,37,33,29,10,0.80,267,994,1261,5.86,22.49,14.04
5,2016,54,31,23,23,9,0.62,299,933,1232,6.64,21.32,13.85
6,2015,44,17,27,14,4,0.51,300,987,1287,6.60,23.01,14.65
7,2014,42,22,20,15,2,0.49,329,1012,1341,7.42,23.89,15.47
8,2013,61,29,32,21,9,0.72,327,980,1307,7.51,23.65,15.39

In [ ]:
df_austria_merged["Region"]="Austria"

In [ ]:
print(type(df_final))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df_final["Region"].value_counts()

Austria                                      14
Belgium                                      14
Slovenia                                     14
Sweden                                       14
Romania                                      14
Portugal                                     14
Poland                                       14
Netherlands                                  14
Malta                                        14
Latvia                                       14
Luxembourg                                   14
Lithuania                                    14
Italy                                        14
Ireland                                      14
Hungary                                      14
Croatia                                      14
France                                       14
Finland                                      14
European Union - 27 countries (from 2020)    14
Spain                                        14
Greece                                       14
Estonia                                      14
Denmark                                      14
Germany                                      14
Czechia                                      14
Cyprus                                       14
Bulgaria                                     14
Slovakia                                     14
Name: Region, dtype: int64

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [290, 298, 331, 289, 307, 294, 302, 323, 302],
    'Homicidios Mujeres': [97, 119, 126, 117, 113, 113, 121, 128, 121],
    'Homicidios Hombres': [193, 179, 205, 172, 194, 181, 181, 195, 181],
    'Homicidios Mujeres por familiares': [60, 77, 68, 73, 64, 67, 75, 69, 74],
    'Homicidios Hombres por familiares': [21, 35, 29, 22, 30, 24, 26, 19, 32],
    'Homicidios por 100.000': [0.61, 0.63, 0.70, 0.62, 0.66, 0.63, 0.65, 0.70, 0.65]
}

df_españa = pd.DataFrame(data)
df_españa

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,290,97,193,60,21,0.61
1,2020,298,119,179,77,35,0.63
2,2019,331,126,205,68,29,0.70
3,2018,289,117,172,73,22,0.62
4,2017,307,113,194,64,30,0.66
5,2016,294,113,181,67,24,0.63
6,2015,302,121,181,75,26,0.65
7,2014,323,128,195,69,19,0.70
8,2013,302,121,181,74,32,0.65

In [ ]:
data_espana = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [1021, 1011, 900, 920, 961, 907, 922, 972, 959],
    "Suicidios hombres": [2982, 2930, 2771, 2619, 2718, 2662, 2680, 2938, 2911],
    "Suicidios": [4003, 3941, 3671, 3539, 3679, 3569, 3602, 3910, 3870],
    "Suicidios tasa femenina": ["4.20", "4.19", "3.74", "3.83", "4.03", "3.81", "3.91", "4.12", "4.05"],
    "Suicidios tasa masculina": ["12.80", "12.54", "11.83", "11.31", "11.73", "11.58", "11.75", "12.86", "12.69"],
    "Suicidios por 100.000": ["8.40", "8.28", "7.71", "7.49", "7.81", "7.63", "7.76", "8.42", "8.31"]
}

df_espana_suicidios = pd.DataFrame(data_espana)
df_espana_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,1021,2982,4003,4.20,12.80,8.40
1,2020,1011,2930,3941,4.19,12.54,8.28
2,2019,900,2771,3671,3.74,11.83,7.71
3,2018,920,2619,3539,3.83,11.31,7.49
4,2017,961,2718,3679,4.03,11.73,7.81
5,2016,907,2662,3569,3.81,11.58,7.63
6,2015,922,2680,3602,3.91,11.75,7.76
7,2014,972,2938,3910,4.12,12.86,8.42
8,2013,959,2911,3870,4.05,12.69,8.31

In [ ]:
df_españa_merged=pd.merge(df_espana_suicidios,df_españa,on="Fecha",how="left")

In [ ]:
df_españa_merged["Region"]="España"

In [ ]:
df_españa_merged

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Region
0,2021,1021,2982,4003,4.20,12.80,8.40,290,97,193,60,21,0.61,España
1,2020,1011,2930,3941,4.19,12.54,8.28,298,119,179,77,35,0.63,España
2,2019,900,2771,3671,3.74,11.83,7.71,331,126,205,68,29,0.70,España
3,2018,920,2619,3539,3.83,11.31,7.49,289,117,172,73,22,0.62,España
4,2017,961,2718,3679,4.03,11.73,7.81,307,113,194,64,30,0.66,España
5,2016,907,2662,3569,3.81,11.58,7.63,294,113,181,67,24,0.63,España
6,2015,922,2680,3602,3.91,11.75,7.76,302,121,181,75,26,0.65,España
7,2014,972,2938,3910,4.12,12.86,8.42,323,128,195,69,19,0.70,España
8,2013,959,2911,3870,4.05,12.69,8.31,302,121,181,74,32,0.65,España

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [9, 11, 14, 9, 19, 10, 20, 16, 12],
    'Homicidios Mujeres': [6, 6, 7, 5, 9, 2, 11, 6, 3],
    'Homicidios Hombres': [3, 5, 7, 4, 10, 8, 9, 10, 9],
    'Homicidios Mujeres por familiares': [6, 6, 3, 5, 6, 2, 3, 4, 2],
    'Homicidios Hombres por familiares': [1, 3, 4, 1, 3, 2, 2, 4, 3],
    'Homicidios por 100.000': [0.42, 0.52, 0.66, 0.43, 0.91, 0.48, 0.96, 0.77, 0.58]
}

df_eslovenia = pd.DataFrame(data)
df_eslovenia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,9,6,3,6,1,0.42
1,2020,11,6,5,6,3,0.52
2,2019,14,7,7,3,4,0.66
3,2018,9,5,4,5,1,0.43
4,2017,19,9,10,6,3,0.91
5,2016,10,2,8,2,2,0.48
6,2015,20,11,9,3,2,0.96
7,2014,16,6,10,4,4,0.77
8,2013,12,3,9,2,3,0.58

In [ ]:
data_eslovenia = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [74, 88, 81, 85, 77, 92, 65, 92],
    "Suicidios hombres": [300, 309, 278, 333, 300, 342, 330, 368],
    "Suicidios": [374, 397, 359, 418, 377, 434, 395, 460],
    "Suicidios tasa femenina": ["6.97", "8.34", "7.78", "8.07", "7.59", "8.84", "6.25", "8.65"],
    "Suicidios tasa masculina": ["28.33", "29.29", "26.92", "32.36", "29.29", "33.54", "32.40", "35.88"],
    "Suicidios por 100.000": ["17.69", "18.82", "17.31", "20.13", "18.35", "21.08", "19.20", "22.14"]
}

df_eslovenia_suicidios = pd.DataFrame(data_eslovenia)
df_eslovenia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,74,300,374,6.97,28.33,17.69
1,2019,88,309,397,8.34,29.29,18.82
2,2018,81,278,359,7.78,26.92,17.31
3,2017,85,333,418,8.07,32.36,20.13
4,2016,77,300,377,7.59,29.29,18.35
5,2015,92,342,434,8.84,33.54,21.08
6,2014,65,330,395,6.25,32.40,19.20
7,2013,92,368,460,8.65,35.88,22.14

In [ ]:
df_eslovenia_merged=pd.merge(df_eslovenia,df_espana_suicidios,on="Fecha",how="left")
df_eslovenia_merged["Region"]="Slovenia"
df_eslovenia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,9,6,3,6,1,0.42,1021,2982,4003,4.20,12.80,8.40,Slovenia
1,2020,11,6,5,6,3,0.52,1011,2930,3941,4.19,12.54,8.28,Slovenia
2,2019,14,7,7,3,4,0.66,900,2771,3671,3.74,11.83,7.71,Slovenia
3,2018,9,5,4,5,1,0.43,920,2619,3539,3.83,11.31,7.49,Slovenia
4,2017,19,9,10,6,3,0.91,961,2718,3679,4.03,11.73,7.81,Slovenia
5,2016,10,2,8,2,2,0.48,907,2662,3569,3.81,11.58,7.63,Slovenia
6,2015,20,11,9,3,2,0.96,922,2680,3602,3.91,11.75,7.76,Slovenia
7,2014,16,6,10,4,4,0.77,972,2938,3910,4.12,12.86,8.42,Slovenia
8,2013,12,3,9,2,3,0.58,959,2911,3870,4.05,12.69,8.31,Slovenia

In [ ]:
data = {
    'Fecha': [2021, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [125, None, None, 193, 174, 230, 210, 205],
    'Homicidios Mujeres': [11, 55, 73, 92, 67, 105, 81, 99],
    'Homicidios Hombres': [114, 91, 117, 106, 107, 126, 129, 106],
    'Homicidios por 100.000': [1.08, None, None, 1.69, 1.53, 2.04, 1.87, 1.84]
}

df_belgica = pd.DataFrame(data)
df_belgica

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000
0,2021,125.0,11,114,1.08
1,2019,NaN,55,91,NaN
2,2018,NaN,73,117,NaN
3,2017,193.0,92,106,1.69
4,2016,174.0,67,107,1.53
5,2015,230.0,105,126,2.04
6,2014,210.0,81,129,1.87
7,2013,205.0,99,106,1.84

In [ ]:
data_belgica = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [477, 470, 514, 490, 553, 557, 566, 540],
    "Suicidios hombres": [1287, 1291, 1308, 1235, 1393, 1351, 1367, 1395],
    "Suicidios": [1764, 1761, 1822, 1725, 1946, 1908, 1933, 1935],
    "Suicidios tasa femenina": ["8.12", "7.96", "8.78", "8.54", "9.53", "9.67", "9.93", "9.43"],
    "Suicidios tasa masculina": ["22.33", "22.46", "22.97", "22.30", "24.56", "23.85", "24.61", "25.04"],
    "Suicidios por 100.000": ["15.13", "15.11", "15.77", "15.31", "16.93", "16.65", "17.15", "17.10"]
}

df_belgica_suicidios = pd.DataFrame(data_belgica)
df_belgica_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,477,1287,1764,8.12,22.33,15.13
1,2019,470,1291,1761,7.96,22.46,15.11
2,2018,514,1308,1822,8.78,22.97,15.77
3,2017,490,1235,1725,8.54,22.30,15.31
4,2016,553,1393,1946,9.53,24.56,16.93
5,2015,557,1351,1908,9.67,23.85,16.65
6,2014,566,1367,1933,9.93,24.61,17.15
7,2013,540,1395,1935,9.43,25.04,17.10

In [ ]:
df_belgica_merged=pd.merge(df_belgica,df_belgica_suicidios, on="Fecha",how="left")
df_belgica_merged["Region"]="Belgium"
df_belgica_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,125.0,11,114,1.08,NaN,NaN,NaN,NaN,NaN,NaN,Belgium
1,2019,NaN,55,91,NaN,470.0,1291.0,1761.0,7.96,22.46,15.11,Belgium
2,2018,NaN,73,117,NaN,514.0,1308.0,1822.0,8.78,22.97,15.77,Belgium
3,2017,193.0,92,106,1.69,490.0,1235.0,1725.0,8.54,22.30,15.31,Belgium
4,2016,174.0,67,107,1.53,553.0,1393.0,1946.0,9.53,24.56,16.93,Belgium
5,2015,230.0,105,126,2.04,557.0,1351.0,1908.0,9.67,23.85,16.65,Belgium
6,2014,210.0,81,129,1.87,566.0,1367.0,1933.0,9.93,24.61,17.15,Belgium
7,2013,205.0,99,106,1.84,540.0,1395.0,1935.0,9.43,25.04,17.10,Belgium

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [244, 281, 244, 250, 255, 306, 339, 325, 218],
    'Homicidios Mujeres': [76, 96, 71, 82, 89, 91, 95, 107, 58],
    'Homicidios Hombres': [168, 185, 173, 168, 166, 215, 244, 218, 160],
    'Homicidios Mujeres por familiares': [43, 44, 54, 54, 54, 42, 64, None, None],
    'Homicidios Hombres por familiares': [33, 37, 35, 42, 38, 23, 47, None, None],
    'Homicidios por 100.000': [1.26, 1.45, 1.25, 1.28, 1.29, 1.55, 1.70, 1.63, 1.09]
}

df_rumania = pd.DataFrame(data)

df_rumania

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,244,76,168,43.0,33.0,1.26
1,2020,281,96,185,44.0,37.0,1.45
2,2019,244,71,173,54.0,35.0,1.25
3,2018,250,82,168,54.0,42.0,1.28
4,2017,255,89,166,54.0,38.0,1.29
5,2016,306,91,215,42.0,23.0,1.55
6,2015,339,95,244,64.0,47.0,1.70
7,2014,325,107,218,NaN,NaN,1.63
8,2013,218,58,160,NaN,NaN,1.09

In [ ]:

data_rumania = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [241, 241, 321, 332, 318, 342, 322, 363],
    "Suicidios hombres": [1493, 1503, 1622, 1599, 1656, 1883, 1879, 2042],
    "Suicidios": [1734, 1744, 1943, 1931, 1974, 2225, 2201, 2405],
    "Suicidios tasa femenina": ["2.46", "2.46", "3.25", "3.34", "3.17", "3.39", "3.21", "3.60"],
    "Suicidios tasa masculina": ["16.11", "15.92", "17.24", "16.98", "17.37", "19.71", "19.61", "21.16"],
    "Suicidios por 100.000": ["9.14", "9.05", "10.09", "10.01", "10.11", "11.36", "11.22", "12.17"]
}

df_rumania_suicidios = pd.DataFrame(data_rumania)
df_rumania_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,241,1493,1734,2.46,16.11,9.14
1,2019,241,1503,1744,2.46,15.92,9.05
2,2018,321,1622,1943,3.25,17.24,10.09
3,2017,332,1599,1931,3.34,16.98,10.01
4,2016,318,1656,1974,3.17,17.37,10.11
5,2015,342,1883,2225,3.39,19.71,11.36
6,2014,322,1879,2201,3.21,19.61,11.22
7,2013,363,2042,2405,3.60,21.16,12.17

In [ ]:
df_rumania_merged=pd.merge(df_rumania,df_rumania_suicidios,on="Fecha",how="left")
df_rumania_merged["Region"]="Romania"
df_rumania_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,244,76,168,43.0,33.0,1.26,NaN,NaN,NaN,NaN,NaN,NaN,Romania
1,2020,281,96,185,44.0,37.0,1.45,241.0,1493.0,1734.0,2.46,16.11,9.14,Romania
2,2019,244,71,173,54.0,35.0,1.25,241.0,1503.0,1744.0,2.46,15.92,9.05,Romania
3,2018,250,82,168,54.0,42.0,1.28,321.0,1622.0,1943.0,3.25,17.24,10.09,Romania
4,2017,255,89,166,54.0,38.0,1.29,332.0,1599.0,1931.0,3.34,16.98,10.01,Romania
5,2016,306,91,215,42.0,23.0,1.55,318.0,1656.0,1974.0,3.17,17.37,10.11,Romania
6,2015,339,95,244,64.0,47.0,1.70,342.0,1883.0,2225.0,3.39,19.71,11.36,Romania
7,2014,325,107,218,NaN,NaN,1.63,322.0,1879.0,2201.0,3.21,19.61,11.22,Romania
8,2013,218,58,160,NaN,NaN,1.09,363.0,2042.0,2405.0,3.60,21.16,12.17,Romania

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [82, 81, 73, 81, 76, 66, 100, 92, 144],
    'Homicidios Mujeres': [None, 34, 33, 27, 24, 18, 32, 48, 52],
    'Homicidios Hombres': [None, 47, 40, 54, 52, 48, 68, 44, 92],
    'Homicidios Mujeres por familiares': [None, None, 27, None, None, None, None, None, None],
    'Homicidios Hombres por familiares': [None, None, 8, None, None, None, None, None, None],
    'Homicidios por 100.000': [0.80, 0.79, 0.71, 0.79, 0.74, 0.64, 0.96, 0.88, 1.38]
}

df_portugal = pd.DataFrame(data)

df_portugal

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,82,NaN,NaN,NaN,NaN,0.80
1,2020,81,34.0,47.0,NaN,NaN,0.79
2,2019,73,33.0,40.0,27.0,8.0,0.71
3,2018,81,27.0,54.0,NaN,NaN,0.79
4,2017,76,24.0,52.0,NaN,NaN,0.74
5,2016,66,18.0,48.0,NaN,NaN,0.64
6,2015,100,32.0,68.0,NaN,NaN,0.96
7,2014,92,48.0,44.0,NaN,NaN,0.88
8,2013,144,52.0,92.0,NaN,NaN,1.38

In [ ]:
data_portugal = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [208, 241, 259, 274, 231, 329, 298, 241],
    "Suicidios hombres": [737, 751, 737, 788, 750, 803, 925, 812],
    "Suicidios": [945, 992, 996, 1062, 981, 1132, 1223, 1053],
    "Suicidios tasa femenina": ["3.83", "4.36", "4.72", "5.01", "4.21", "6.06", "5.48", "4.40"],
    "Suicidios tasa masculina": ["15.10", "15.18", "15.10", "15.98", "15.29", "16.28", "18.68", "16.32"],
    "Suicidios por 100.000": ["9.15", "9.47", "9.63", "10.20", "9.46", "10.91", "11.75", "10.07"]
}

df_portugal_suicidios = pd.DataFrame(data_portugal)
df_portugal_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,208,737,945,3.83,15.10,9.15
1,2019,241,751,992,4.36,15.18,9.47
2,2018,259,737,996,4.72,15.10,9.63
3,2017,274,788,1062,5.01,15.98,10.20
4,2016,231,750,981,4.21,15.29,9.46
5,2015,329,803,1132,6.06,16.28,10.91
6,2014,298,925,1223,5.48,18.68,11.75
7,2013,241,812,1053,4.40,16.32,10.07

In [ ]:
df_portugal_merged=pd.merge(df_portugal,df_portugal_suicidios,on="Fecha",how="left")
df_portugal_merged["Region"]="Portugal"
df_portugal_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,82,NaN,NaN,NaN,NaN,0.80,NaN,NaN,NaN,NaN,NaN,NaN,Portugal
1,2020,81,34.0,47.0,NaN,NaN,0.79,208.0,737.0,945.0,3.83,15.10,9.15,Portugal
2,2019,73,33.0,40.0,27.0,8.0,0.71,241.0,751.0,992.0,4.36,15.18,9.47,Portugal
3,2018,81,27.0,54.0,NaN,NaN,0.79,259.0,737.0,996.0,4.72,15.10,9.63,Portugal
4,2017,76,24.0,52.0,NaN,NaN,0.74,274.0,788.0,1062.0,5.01,15.98,10.20,Portugal
5,2016,66,18.0,48.0,NaN,NaN,0.64,231.0,750.0,981.0,4.21,15.29,9.46,Portugal
6,2015,100,32.0,68.0,NaN,NaN,0.96,329.0,803.0,1132.0,6.06,16.28,10.91,Portugal
7,2014,92,48.0,44.0,NaN,NaN,0.88,298.0,925.0,1223.0,5.48,18.68,11.75,Portugal
8,2013,144,52.0,92.0,NaN,NaN,1.38,241.0,812.0,1053.0,4.40,16.32,10.07,Portugal

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [113, 124, 111, 108, 113, 106, 112, 87, 87],
    'Homicidios Mujeres': [24, 25, 25, 33, 27, 29, 29, 25, 26],
    'Homicidios Hombres': [89, 99, 86, 75, 86, 77, 83, 62, 61],
    'Homicidios Mujeres por familiares': [None, 13, None, None, None, None, None, None, None],
    'Homicidios Hombres por familiares': [None, 4, None, None, None, None, None, None, None],
    'Homicidios por 100.000': [1.08, 1.20, 1.08, 1.06, 1.12, 1.06, 1.14, 0.89, 0.90]
}

df_suiza = pd.DataFrame(data)

df_suiza

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,113,24,89,NaN,NaN,1.08
1,2020,124,25,99,13.0,4.0,1.20
2,2019,111,25,86,NaN,NaN,1.08
3,2018,108,33,75,NaN,NaN,1.06
4,2017,113,27,86,NaN,NaN,1.12
5,2016,106,29,77,NaN,NaN,1.06
6,2015,112,29,83,NaN,NaN,1.14
7,2014,87,25,62,NaN,NaN,0.89
8,2013,87,26,61,NaN,NaN,0.90

In [ ]:
data_suiza = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [292, 294, 285, 301, 280, 267, 289, 286, 293],
    "Suicidios hombres": [748, 722, 771, 746, 800, 794, 812, 781, 828],
    "Suicidios": [1040, 1016, 1056, 1047, 1080, 1061, 1101, 1067, 1121],
    "Suicidios tasa femenina": ["6.64", "6.39", "6.39", "6.76", "6.38", "6.13", "6.74", "6.76", "7.01"],
    "Suicidios tasa masculina": ["17.24", "16.54", "17.66", "17.24", "18.62", "18.49", "19.43", "18.90", "19.80"],
    "Suicidios por 100.000": ["11.90", "11.43", "11.98", "11.96", "12.45", "12.25", "13.02", "12.77", "13.33"]
}

df_suiza_suicidios = pd.DataFrame(data_suiza)
df_suiza_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,292,748,1040,6.64,17.24,11.90
1,2020,294,722,1016,6.39,16.54,11.43
2,2019,285,771,1056,6.39,17.66,11.98
3,2018,301,746,1047,6.76,17.24,11.96
4,2017,280,800,1080,6.38,18.62,12.45
5,2016,267,794,1061,6.13,18.49,12.25
6,2015,289,812,1101,6.74,19.43,13.02
7,2014,286,781,1067,6.76,18.90,12.77
8,2013,293,828,1121,7.01,19.80,13.33

In [ ]:
df_suecia_merged=pd.merge(df_suiza,df_suiza_suicidios,on="Fecha",how="left")
df_suecia_merged["Region"]="Sweden"
df_suecia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,113,24,89,NaN,NaN,1.08,292,748,1040,6.64,17.24,11.90,Sweden
1,2020,124,25,99,13.0,4.0,1.20,294,722,1016,6.39,16.54,11.43,Sweden
2,2019,111,25,86,NaN,NaN,1.08,285,771,1056,6.39,17.66,11.98,Sweden
3,2018,108,33,75,NaN,NaN,1.06,301,746,1047,6.76,17.24,11.96,Sweden
4,2017,113,27,86,NaN,NaN,1.12,280,800,1080,6.38,18.62,12.45,Sweden
5,2016,106,29,77,NaN,NaN,1.06,267,794,1061,6.13,18.49,12.25,Sweden
6,2015,112,29,83,NaN,NaN,1.14,289,812,1101,6.74,19.43,13.02,Sweden
7,2014,87,25,62,NaN,NaN,0.89,286,781,1067,6.76,18.90,12.77,Sweden
8,2013,87,26,61,NaN,NaN,0.90,293,828,1121,7.01,19.80,13.33,Sweden

In [ ]:
def merge_and_add_region(df_base, df_merge, region_name):
    # Realizar el merge de los DataFrames
    df_merged = pd.merge(df_base, df_merge, on="Fecha", how="left")

    # Agregar la columna de región con el nombre especificado
    df_merged["Region"] = region_name

    return df_merged

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [273, 266, 253, 273, 287, 260, 298, 287, 305],
    'Homicidios Mujeres': [79, 89, 80, 83, 94, 71, 112, 92, 86],
    'Homicidios Hombres': [194, 177, 173, 190, 193, 189, 186, 195, 219],
    'Homicidios por 100.000': [0.71, 0.69, 0.66, 0.71, 0.74, 0.67, 0.77, 0.74, 0.79]
}

df_polonia = pd.DataFrame(data)

df_polonia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000
0,2021,273,79,194,0.71
1,2020,266,89,177,0.69
2,2019,253,80,173,0.66
3,2018,273,83,190,0.71
4,2017,287,94,193,0.74
5,2016,260,71,189,0.67
6,2015,298,112,186,0.77
7,2014,287,92,195,0.74
8,2013,305,86,219,0.79

In [ ]:
data_polonia = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [656, 604, 612, 571, 604, 597, 722, 811, 840],
    "Suicidios hombres": [3948, 3980, 3985, 3891, 3899, 4091, 4712, 5140, 5380],
    "Suicidios": [4604, 4584, 4597, 4462, 4503, 4688, 5434, 5951, 6220],
    "Suicidios tasa femenina": ["3.37", "3.09", "3.12", "2.96", "3.10", "3.08", "3.71", "4.16", "4.30"],
    "Suicidios tasa masculina": ["21.68", "21.80", "21.78", "21.31", "21.38", "22.39", "25.87", "28.05", "29.47"],
    "Suicidios por 100.000": ["12.23", "12.15", "12.16", "11.84", "11.95", "12.43", "14.44", "15.73", "16.48"]
}

df_polonia_suicidios = pd.DataFrame(data_polonia)
df_polonia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,656,3948,4604,3.37,21.68,12.23
1,2020,604,3980,4584,3.09,21.80,12.15
2,2019,612,3985,4597,3.12,21.78,12.16
3,2018,571,3891,4462,2.96,21.31,11.84
4,2017,604,3899,4503,3.10,21.38,11.95
5,2016,597,4091,4688,3.08,22.39,12.43
6,2015,722,4712,5434,3.71,25.87,14.44
7,2014,811,5140,5951,4.16,28.05,15.73
8,2013,840,5380,6220,4.30,29.47,16.48

In [ ]:
df_polonia_merged = merge_and_add_region(df_polonia, df_polonia_suicidios, "Poland")
df_polonia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,273,79,194,0.71,656,3948,4604,3.37,21.68,12.23,Poland
1,2020,266,89,177,0.69,604,3980,4584,3.09,21.80,12.15,Poland
2,2019,253,80,173,0.66,612,3985,4597,3.12,21.78,12.16,Poland
3,2018,273,83,190,0.71,571,3891,4462,2.96,21.31,11.84,Poland
4,2017,287,94,193,0.74,604,3899,4503,3.10,21.38,11.95,Poland
5,2016,260,71,189,0.67,597,4091,4688,3.08,22.39,12.43,Poland
6,2015,298,112,186,0.77,722,4712,5434,3.71,25.87,14.44,Poland
7,2014,287,92,195,0.74,811,5140,5951,4.16,28.05,15.73,Poland
8,2013,305,86,219,0.79,840,5380,6220,4.30,29.47,16.48,Poland

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [114, 107, 109, 100, 132, 94, 104, 123, 125],
    'Homicidios Mujeres': [37, 44, 42, 36, 43, 32, 42, 30, 56],
    'Homicidios Hombres': [77, 63, 67, 64, 89, 62, 62, 93, 69],
    'Homicidios Mujeres por familiares': [27, 39, 31, 31, 26, 26, 33, 21, 35],
    'Homicidios Hombres por familiares': [16, 14, 10, 8, 11, 8, 12, 16, 16],
    'Homicidios por 100.000': [0.65, 0.61, 0.63, 0.58, 0.77, 0.55, 0.61, 0.73, 0.74]
}

df_paises_bajos = pd.DataFrame(data)

df_paises_bajos

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,114,37,77,27,16,0.65
1,2020,107,44,63,39,14,0.61
2,2019,109,42,67,31,10,0.63
3,2018,100,36,64,31,8,0.58
4,2017,132,43,89,26,11,0.77
5,2016,94,32,62,26,8,0.55
6,2015,104,42,62,33,12,0.61
7,2014,123,30,93,21,16,0.73
8,2013,125,56,69,35,16,0.74

In [ ]:
data_paises_bajos = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [578, 607, 584, 664, 627, 624, 599, 600, 559],
    "Suicidios hombres": [1378, 1302, 1310, 1251, 1377, 1333, 1341, 1296, 1365],
    "Suicidios": [1957, 1910, 1895, 1915, 2004, 1957, 1941, 1897, 1924],
    "Suicidios tasa femenina": ["6.53", "6.79", "6.68", "7.57", "7.14", "7.19", "6.95", "6.98", "6.54"],
    "Suicidios tasa masculina": ["15.76", "14.28", "14.42", "13.88", "15.47", "15.31", "15.60", "15.21", "16.02"],
    "Suicidios por 100.000": ["11.13", "10.52", "10.52", "10.70", "11.27", "11.22", "11.24", "11.06", "11.24"]
}

df_paises_bajos_suicidios = pd.DataFrame(data_paises_bajos)
df_paises_bajos_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,578,1378,1957,6.53,15.76,11.13
1,2020,607,1302,1910,6.79,14.28,10.52
2,2019,584,1310,1895,6.68,14.42,10.52
3,2018,664,1251,1915,7.57,13.88,10.70
4,2017,627,1377,2004,7.14,15.47,11.27
5,2016,624,1333,1957,7.19,15.31,11.22
6,2015,599,1341,1941,6.95,15.60,11.24
7,2014,600,1296,1897,6.98,15.21,11.06
8,2013,559,1365,1924,6.54,16.02,11.24

In [ ]:
df_paises_bajos_merged=merge_and_add_region(df_paises_bajos,df_paises_bajos_suicidios,"Netherlands")
df_paises_bajos_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,114,37,77,27,16,0.65,578,1378,1957,6.53,15.76,11.13,Netherlands
1,2020,107,44,63,39,14,0.61,607,1302,1910,6.79,14.28,10.52,Netherlands
2,2019,109,42,67,31,10,0.63,584,1310,1895,6.68,14.42,10.52,Netherlands
3,2018,100,36,64,31,8,0.58,664,1251,1915,7.57,13.88,10.70,Netherlands
4,2017,132,43,89,26,11,0.77,627,1377,2004,7.14,15.47,11.27,Netherlands
5,2016,94,32,62,26,8,0.55,624,1333,1957,7.19,15.31,11.22,Netherlands
6,2015,104,42,62,33,12,0.61,599,1341,1941,6.95,15.60,11.24,Netherlands
7,2014,123,30,93,21,16,0.73,600,1296,1897,6.98,15.21,11.06,Netherlands
8,2013,125,56,69,35,16,0.74,559,1365,1924,6.54,16.02,11.24,Netherlands

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [2, 7, 5, 8, 8, 5, 4, 6, 7],
    'Homicidios Mujeres': [0, 1, 3, 4, 1, 2, 2, 1, 0],
    'Homicidios Hombres': [2, 6, 2, 4, 7, 3, 2, 5, 7],
    'Homicidios Mujeres por familiares': [0, 1, 2, 4, 0, 2, 1, 1, 0],
    'Homicidios Hombres por familiares': [1, 1, 0, 0, 0, 0, 0, 0, 1],
    'Homicidios por 100.000': [0.38, 1.36, 0.99, 1.63, 1.67, 1.07, 0.88, 1.34, 1.60]
}

df_malta = pd.DataFrame(data)

df_malta

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,2,0,2,0,1,0.38
1,2020,7,1,6,1,1,1.36
2,2019,5,3,2,2,0,0.99
3,2018,8,4,4,4,0,1.63
4,2017,8,1,7,0,0,1.67
5,2016,5,2,3,2,0,1.07
6,2015,4,2,2,1,0,0.88
7,2014,6,1,5,1,0,1.34
8,2013,7,0,7,0,1,1.60

In [ ]:
data_malta = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [7, 1, 4, 5, 5, 8, 5, 1],
    "Suicidios hombres": [14, 21, 21, 21, 21, 30, 31, 26],
    "Suicidios": [21, 22, 25, 26, 26, 38, 36, 27],
    "Suicidios tasa femenina": ["2.81", "0.41", "0.84", "2.16", "1.77", "3.16", "2.30", "0.47"],
    "Suicidios tasa masculina": ["5.26", "7.73", "8.12", "8.47", "8.73", "12.08", "12.41", "9.88"],
    "Suicidios por 100.000": ["4.08", "4.17", "4.54", "5.34", "5.27", "7.64", "7.36", "5.16"]
}

df_malta_suicidios = pd.DataFrame(data_malta)
df_malta_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,7,14,21,2.81,5.26,4.08
1,2019,1,21,22,0.41,7.73,4.17
2,2018,4,21,25,0.84,8.12,4.54
3,2017,5,21,26,2.16,8.47,5.34
4,2016,5,21,26,1.77,8.73,5.27
5,2015,8,30,38,3.16,12.08,7.64
6,2014,5,31,36,2.30,12.41,7.36
7,2013,1,26,27,0.47,9.88,5.16

In [ ]:
df_malta_merged=merge_and_add_region(df_malta,df_malta_suicidios,"Malta")
df_malta_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,2,0,2,0,1,0.38,NaN,NaN,NaN,NaN,NaN,NaN,Malta
1,2020,7,1,6,1,1,1.36,7.0,14.0,21.0,2.81,5.26,4.08,Malta
2,2019,5,3,2,2,0,0.99,1.0,21.0,22.0,0.41,7.73,4.17,Malta
3,2018,8,4,4,4,0,1.63,4.0,21.0,25.0,0.84,8.12,4.54,Malta
4,2017,8,1,7,0,0,1.67,5.0,21.0,26.0,2.16,8.47,5.34,Malta
5,2016,5,2,3,2,0,1.07,5.0,21.0,26.0,1.77,8.73,5.27,Malta
6,2015,4,2,2,1,0,0.88,8.0,30.0,38.0,3.16,12.08,7.64,Malta
7,2014,6,1,5,1,0,1.34,5.0,31.0,36.0,2.30,12.41,7.36,Malta
8,2013,7,0,7,0,1,1.60,1.0,26.0,27.0,0.47,9.88,5.16,Malta

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [57, 70, 65, 84, 81, 69, 67, 64, 50],
    'Homicidios Mujeres': [36, 42, 42, 43, 42, 34, 29, 37, 24],
    'Homicidios Hombres': [21, 28, 23, 41, 44, 35, 38, 27, 26],
    'Homicidios Mujeres por familiares': [19, 22, 21, 15, 14, 16, 9, 17, 5],
    'Homicidios Hombres por familiares': [9, 11, 8, 13, 17, 12, 12, 7, 4],
    'Homicidios por 100.000': [3.04, 3.69, 3.39, 4.34, 4.14, 3.50, 3.36, 3.18, 2.46]
}

df_letonia = pd.DataFrame(data)

df_letonia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000
0,2021,57,36,21,19,9,3.04
1,2020,70,42,28,22,11,3.69
2,2019,65,42,23,21,8,3.39
3,2018,84,43,41,15,13,4.34
4,2017,81,42,44,14,17,4.14
5,2016,69,34,35,16,12,3.50
6,2015,67,29,38,9,12,3.36
7,2014,64,37,27,17,7,3.18
8,2013,50,24,26,5,4,2.46

In [ ]:
data_letonia = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [40, 52, 62, 38, 70, 77, 81, 71, 62],
    "Suicidios hombres": [214, 247, 226, 262, 285, 288, 307, 313, 323],
    "Suicidios": [254, 299, 288, 300, 355, 365, 388, 384, 385],
    "Suicidios tasa femenina": ["4.00", "5.18", "6.01", "3.75", "6.76", "7.27", "7.67", "6.67", "5.68"],
    "Suicidios tasa masculina": ["24.40", "28.36", "26.16", "29.98", "31.93", "32.44", "33.82", "34.24", "35.26"],
    "Suicidios por 100.000": ["13.40", "15.89", "15.31", "15.83", "18.33", "18.83", "19.72", "19.31", "19.28"]
}

dfletonia_suicidios = pd.DataFrame(data_letonia)
dfletonia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,40,214,254,4.00,24.40,13.40
1,2020,52,247,299,5.18,28.36,15.89
2,2019,62,226,288,6.01,26.16,15.31
3,2018,38,262,300,3.75,29.98,15.83
4,2017,70,285,355,6.76,31.93,18.33
5,2016,77,288,365,7.27,32.44,18.83
6,2015,81,307,388,7.67,33.82,19.72
7,2014,71,313,384,6.67,34.24,19.31
8,2013,62,323,385,5.68,35.26,19.28

In [ ]:
df_letonia_merged=merge_and_add_region(df_letonia,dfletonia_suicidios,"Latvia")
df_letonia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,57,36,21,19,9,3.04,40,214,254,4.00,24.40,13.40,Latvia
1,2020,70,42,28,22,11,3.69,52,247,299,5.18,28.36,15.89,Latvia
2,2019,65,42,23,21,8,3.39,62,226,288,6.01,26.16,15.31,Latvia
3,2018,84,43,41,15,13,4.34,38,262,300,3.75,29.98,15.83,Latvia
4,2017,81,42,44,14,17,4.14,70,285,355,6.76,31.93,18.33,Latvia
5,2016,69,34,35,16,12,3.50,77,288,365,7.27,32.44,18.83,Latvia
6,2015,67,29,38,9,12,3.36,81,307,388,7.67,33.82,19.72,Latvia
7,2014,64,37,27,17,7,3.18,71,313,384,6.67,34.24,19.31,Latvia
8,2013,50,24,26,5,4,2.46,62,323,385,5.68,35.26,19.28,Latvia

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [4, 3, 4, 3, 2, 5, 5, 4, 1],
    'Homicidios Mujeres': [None, 0, 1, None, None, None, None, 2, 0],
    'Homicidios Hombres': [None, 1, 3, None, None, None, None, 2, 0],
    'Homicidios Mujeres por familiares': [0, 0, 1, 0, 0, 0, 0, 2, None],
    'Homicidios hombres por familiares': [0, 0, 3, 0, 0, 0, 0, 1, None],
    'Homicidios por 100.000': [0.63, 0.48, 0.65, 0.49, 0.34, 0.86, 0.88, 0.72, 0.18]
}

df_luxemburgo = pd.DataFrame(data)
df_luxemburgo

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,4,NaN,NaN,0.0,0.0,0.63
1,2020,3,0.0,1.0,0.0,0.0,0.48
2,2019,4,1.0,3.0,1.0,3.0,0.65
3,2018,3,NaN,NaN,0.0,0.0,0.49
4,2017,2,NaN,NaN,0.0,0.0,0.34
5,2016,5,NaN,NaN,0.0,0.0,0.86
6,2015,5,NaN,NaN,0.0,0.0,0.88
7,2014,4,2.0,2.0,2.0,1.0,0.72
8,2013,1,0.0,0.0,NaN,NaN,0.18

In [ ]:
data_luxemburgo = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [9, 14, 21, 17, 15, 11, 19, 15, 16],
    "Suicidios hombres": [27, 47, 49, 34, 41, 34, 46, 60, 32],
    "Suicidios": [36, 61, 70, 51, 56, 45, 65, 75, 48],
    "Suicidios tasa femenina": ["3.10", "4.47", "6.81", "5.29", "5.39", "4.47", "7.39", "5.76", "5.89"],
    "Suicidios tasa masculina": ["9.00", "14.82", "15.39", "11.78", "13.02", "12.63", "17.86", "19.03", "10.30"],
    "Suicidios por 100.000": ["6.10", "9.68", "11.13", "8.55", "9.22", "8.57", "12.64", "12.40", "8.10"]
}

df_luxemburgo_suicidios = pd.DataFrame(data_luxemburgo)
df_luxemburgo_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,9,27,36,3.10,9.00,6.10
1,2020,14,47,61,4.47,14.82,9.68
2,2019,21,49,70,6.81,15.39,11.13
3,2018,17,34,51,5.29,11.78,8.55
4,2017,15,41,56,5.39,13.02,9.22
5,2016,11,34,45,4.47,12.63,8.57
6,2015,19,46,65,7.39,17.86,12.64
7,2014,15,60,75,5.76,19.03,12.40
8,2013,16,32,48,5.89,10.30,8.10

In [ ]:
df_luxemburgo_merged=merge_and_add_region(df_luxemburgo,df_luxemburgo_suicidios,"Luxembourg")
df_luxemburgo_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,4,NaN,NaN,0.0,0.0,0.63,9,27,36,3.10,9.00,6.10,Luxembourg
1,2020,3,0.0,1.0,0.0,0.0,0.48,14,47,61,4.47,14.82,9.68,Luxembourg
2,2019,4,1.0,3.0,1.0,3.0,0.65,21,49,70,6.81,15.39,11.13,Luxembourg
3,2018,3,NaN,NaN,0.0,0.0,0.49,17,34,51,5.29,11.78,8.55,Luxembourg
4,2017,2,NaN,NaN,0.0,0.0,0.34,15,41,56,5.39,13.02,9.22,Luxembourg
5,2016,5,NaN,NaN,0.0,0.0,0.86,11,34,45,4.47,12.63,8.57,Luxembourg
6,2015,5,NaN,NaN,0.0,0.0,0.88,19,46,65,7.39,17.86,12.64,Luxembourg
7,2014,4,2.0,2.0,2.0,1.0,0.72,15,60,75,5.76,19.03,12.40,Luxembourg
8,2013,1,0.0,0.0,NaN,NaN,0.18,16,32,48,5.89,10.30,8.10,Luxembourg

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [72, 101, 94, 92, 100, 153, 172, 159, 198],
    'Homicidios Mujeres': [22, 29, 22, 17, 26, 46, 49, 53, 60],
    'Homicidios Hombres': [50, 72, 72, 75, 74, 107, 123, 106, 138],
    'Homicidios Mujeres por familiares': [16, 13, 11, 6, 10, 15, 14, 19, 22],
    'Homicidios hombres por familiares': [7, 15, 10, 7, 9, 12, 17, 11, 16],
    'Homicidios por 100.000': [2.58, 3.58, 3.30, 3.20, 3.44, 5.22, 5.80, 5.31, 6.54]
}

df_lituania = pd.DataFrame(data)

df_lituania

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,72,22,50,16,7,2.58
1,2020,101,29,72,13,15,3.58
2,2019,94,22,72,11,10,3.30
3,2018,92,17,75,6,7,3.20
4,2017,100,26,74,10,9,3.44
5,2016,153,46,107,15,12,5.22
6,2015,172,49,123,14,17,5.80
7,2014,159,53,106,19,11,5.31
8,2013,198,60,138,22,16,6.54

In [ ]:
data_lituania = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [128, 133, 122, 141, 153, 129, 170, 160, 198],
    "Suicidios hombres": [441, 479, 539, 543, 600, 693, 721, 771, 886],
    "Suicidios": [569, 612, 661, 684, 753, 822, 891, 931, 1084],
    "Suicidios tasa femenina": ["8.50", "9.02", "7.96", "9.37", "10.04", "8.34", "10.79", "10.12", "12.35"],
    "Suicidios tasa masculina": ["33.50", "36.36", "41.15", "42.12", "46.06", "52.39", "54.04", "57.29", "65.25"],
    "Suicidios por 100.000": ["20.20", "21.86", "23.41", "24.52", "26.66", "28.62", "30.71", "31.89", "36.72"]
}

df_lituania_suicidios = pd.DataFrame(data_lituania)
df_lituania_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,128,441,569,8.50,33.50,20.20
1,2020,133,479,612,9.02,36.36,21.86
2,2019,122,539,661,7.96,41.15,23.41
3,2018,141,543,684,9.37,42.12,24.52
4,2017,153,600,753,10.04,46.06,26.66
5,2016,129,693,822,8.34,52.39,28.62
6,2015,170,721,891,10.79,54.04,30.71
7,2014,160,771,931,10.12,57.29,31.89
8,2013,198,886,1084,12.35,65.25,36.72

In [ ]:
df_lituania_merged=merge_and_add_region(df_lituania,df_lituania_suicidios,"Lithuania")
df_lituania_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,72,22,50,16,7,2.58,128,441,569,8.50,33.50,20.20,Lithuania
1,2020,101,29,72,13,15,3.58,133,479,612,9.02,36.36,21.86,Lithuania
2,2019,94,22,72,11,10,3.30,122,539,661,7.96,41.15,23.41,Lithuania
3,2018,92,17,75,6,7,3.20,141,543,684,9.37,42.12,24.52,Lithuania
4,2017,100,26,74,10,9,3.44,153,600,753,10.04,46.06,26.66,Lithuania
5,2016,153,46,107,15,12,5.22,129,693,822,8.34,52.39,28.62,Lithuania
6,2015,172,49,123,14,17,5.80,170,721,891,10.79,54.04,30.71,Lithuania
7,2014,159,53,106,19,11,5.31,160,771,931,10.12,57.29,31.89,Lithuania
8,2013,198,60,138,22,16,6.54,198,886,1084,12.35,65.25,36.72,Lithuania

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [303, 285, 317, 359, 376, 404, 469, 475, 502],
    'Homicidios Mujeres': [119, 116, 111, 141, 132, 151, 136, 147, 179],
    'Homicidios Hombres': [184, 169, 206, 218, 244, 253, 333, 328, 323],
    'Homicidios Mujeres por familiares': [103, 99, 94, 111, 96, 112, 111, 117, 125],
    'Homicidios hombres por familiares': [45, 47, 59, 50, 48, 44, 59, 74, 55],
    'Homicidios por 100.000': [0.51, 0.48, 0.53, 0.60, 0.63, 0.67, 0.78, 0.79, 0.83]
}

df_italia = pd.DataFrame(data)

df_italia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,303,119,184,103,45,0.51
1,2020,285,116,169,99,47,0.48
2,2019,317,111,206,94,59,0.53
3,2018,359,141,218,111,50,0.60
4,2017,376,132,244,96,48,0.63
5,2016,404,151,253,112,44,0.67
6,2015,469,136,333,111,59,0.78
7,2014,475,147,328,117,74,0.79
8,2013,502,179,323,125,55,0.83

In [ ]:
data_italia = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [787, 824, 874, 863, 830, 884, 932, 968],
    "Suicidios hombres": [2920, 2901, 2914, 3077, 3038, 3105, 3215, 3323],
    "Suicidios": [3707, 3725, 3788, 3940, 3868, 3989, 4147, 4291],
    "Suicidios tasa femenina": ["2.57", "2.65", "2.78", "2.73", "2.62", "2.77", "2.94", "3.07"],
    "Suicidios tasa masculina": ["9.92", "9.78", "9.67", "10.23", "10.14", "10.37", "10.68", "11.14"],
    "Suicidios por 100.000": ["6.15", "6.12", "6.13", "6.38", "6.27", "6.46", "6.69", "6.98"]
}

df_italia_suicidios = pd.DataFrame(data_italia)
df_italia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,787,2920,3707,2.57,9.92,6.15
1,2019,824,2901,3725,2.65,9.78,6.12
2,2018,874,2914,3788,2.78,9.67,6.13
3,2017,863,3077,3940,2.73,10.23,6.38
4,2016,830,3038,3868,2.62,10.14,6.27
5,2015,884,3105,3989,2.77,10.37,6.46
6,2014,932,3215,4147,2.94,10.68,6.69
7,2013,968,3323,4291,3.07,11.14,6.98

In [ ]:
df_italia_merged=merge_and_add_region(df_italia,df_italia_suicidios,"Italy")
df_italia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,303,119,184,103,45,0.51,NaN,NaN,NaN,NaN,NaN,NaN,Italy
1,2020,285,116,169,99,47,0.48,787.0,2920.0,3707.0,2.57,9.92,6.15,Italy
2,2019,317,111,206,94,59,0.53,824.0,2901.0,3725.0,2.65,9.78,6.12,Italy
3,2018,359,141,218,111,50,0.60,874.0,2914.0,3788.0,2.78,9.67,6.13,Italy
4,2017,376,132,244,96,48,0.63,863.0,3077.0,3940.0,2.73,10.23,6.38,Italy
5,2016,404,151,253,112,44,0.67,830.0,3038.0,3868.0,2.62,10.14,6.27,Italy
6,2015,469,136,333,111,59,0.78,884.0,3105.0,3989.0,2.77,10.37,6.46,Italy
7,2014,475,147,328,117,74,0.79,932.0,3215.0,4147.0,2.94,10.68,6.69,Italy
8,2013,502,179,323,125,55,0.83,968.0,3323.0,4291.0,3.07,11.14,6.98,Italy

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [22, 33, 32, 39, 39, 34, 31, 52, 51],
    'Homicidios Mujeres': [7, 6, 8, 10, 15, 2, 7, None, 8],
    'Homicidios Hombres': [15, 27, 24, 29, 24, 32, 23, None, 43],
    'Homicidios Mujeres por familiares': [None, None, 5, None, None, None, None, None, None],
    'Homicidios por 100.000': [0.44, 0.67, 0.65, 0.81, 0.82, 0.72, 0.66, 1.12, 1.11]
}

df_irlanda = pd.DataFrame(data)

df_irlanda

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios por 100.000
0,2021,22,7.0,15.0,NaN,0.44
1,2020,33,6.0,27.0,NaN,0.67
2,2019,32,8.0,24.0,5.0,0.65
3,2018,39,10.0,29.0,NaN,0.81
4,2017,39,15.0,24.0,NaN,0.82
5,2016,34,2.0,32.0,NaN,0.72
6,2015,31,7.0,23.0,NaN,0.66
7,2014,52,NaN,NaN,NaN,1.12
8,2013,51,8.0,43.0,NaN,1.11

In [ ]:
data_irlanda = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [127, 90, 110, 73, 87, 90, 87, 96],
    "Suicidios hombres": [338, 300, 327, 310, 350, 335, 399, 391],
    "Suicidios": [465, 390, 437, 383, 437, 425, 486, 487],
    "Suicidios tasa femenina": ["5.08", "3.61", "4.40", "3.09", "3.62", "3.75", "3.74", "4.16"],
    "Suicidios tasa masculina": ["13.74", "12.20", "13.77", "13.11", "14.79", "14.49", "17.27", "17.03"],
    "Suicidios por 100.000": ["9.37", "7.86", "9.04", "8.05", "9.15", "9.06", "10.43", "10.53"]
}

df_irlanda_suicidios = pd.DataFrame(data_irlanda)
df_irlanda_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,127,338,465,5.08,13.74,9.37
1,2019,90,300,390,3.61,12.20,7.86
2,2018,110,327,437,4.40,13.77,9.04
3,2017,73,310,383,3.09,13.11,8.05
4,2016,87,350,437,3.62,14.79,9.15
5,2015,90,335,425,3.75,14.49,9.06
6,2014,87,399,486,3.74,17.27,10.43
7,2013,96,391,487,4.16,17.03,10.53

In [ ]:
df_irlanda_merged=merge_and_add_region(df_irlanda,df_irlanda_suicidios,"Ireland")
df_irlanda_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,22,7.0,15.0,NaN,0.44,NaN,NaN,NaN,NaN,NaN,NaN,Ireland
1,2020,33,6.0,27.0,NaN,0.67,127.0,338.0,465.0,5.08,13.74,9.37,Ireland
2,2019,32,8.0,24.0,5.0,0.65,90.0,300.0,390.0,3.61,12.20,7.86,Ireland
3,2018,39,10.0,29.0,NaN,0.81,110.0,327.0,437.0,4.40,13.77,9.04,Ireland
4,2017,39,15.0,24.0,NaN,0.82,73.0,310.0,383.0,3.09,13.11,8.05,Ireland
5,2016,34,2.0,32.0,NaN,0.72,87.0,350.0,437.0,3.62,14.79,9.15,Ireland
6,2015,31,7.0,23.0,NaN,0.66,90.0,335.0,425.0,3.75,14.49,9.06,Ireland
7,2014,52,NaN,NaN,NaN,1.12,87.0,399.0,486.0,3.74,17.27,10.43,Ireland
8,2013,51,8.0,43.0,NaN,1.11,96.0,391.0,487.0,4.16,17.03,10.53,Ireland

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [75, 80, 64, 86, 160, 202, 221, 146, 154],
    'Homicidios Mujeres': [26, 39, 31, 43, 44, 82, 102, 67, 71],
    'Homicidios Hombres': [49, 41, 33, 43, 116, 120, 119, 79, 83],
    'Homicidios Mujeres por familiares': [19, 29, 23, 10, 24, 25, 64, 36, 38],
    'Homicidios hombres por familiares': [15, 15, 19, 6, 18, 16, 42, 21, 17],
    'Homicidios por 100.000': [0.77, 0.82, 0.65, 0.88, 1.63, 2.06, 2.24, 1.48, 1.56]
}

df_hungria = pd.DataFrame(data)

df_hungria

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,75,26,49,19,15,0.77
1,2020,80,39,41,29,15,0.82
2,2019,64,31,33,23,19,0.65
3,2018,86,43,43,10,6,0.88
4,2017,160,44,116,24,18,1.63
5,2016,202,82,120,25,16,2.06
6,2015,221,102,119,64,42,2.24
7,2014,146,67,79,36,21,1.48
8,2013,154,71,83,38,17,1.56

In [ ]:
data_hungria = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [358, 394, 392, 380, 393, 446, 479, 447, 505],
    "Suicidios hombres": [1203, 1311, 1158, 1276, 1241, 1316, 1391, 1480, 1588],
    "Suicidios": [1561, 1705, 1550, 1656, 1634, 1762, 1870, 1927, 2093],
    "Suicidios tasa femenina": ["7.10", "7.76", "7.68", "7.45", "7.68", "8.69", "9.30", "8.67", "9.68"],
    "Suicidios tasa masculina": ["25.90", "27.76", "24.62", "27.07", "26.49", "28.07", "29.50", "31.39", "33.61"],
    "Suicidios por 100.000": ["16.11", "17.34", "15.79", "16.83", "16.66", "17.93", "18.93", "19.49", "21.08"]
}

df_hungria_suicidios = pd.DataFrame(data_hungria)
df_hungria_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,358,1203,1561,7.10,25.90,16.11
1,2020,394,1311,1705,7.76,27.76,17.34
2,2019,392,1158,1550,7.68,24.62,15.79
3,2018,380,1276,1656,7.45,27.07,16.83
4,2017,393,1241,1634,7.68,26.49,16.66
5,2016,446,1316,1762,8.69,28.07,17.93
6,2015,479,1391,1870,9.30,29.50,18.93
7,2014,447,1480,1927,8.67,31.39,19.49
8,2013,505,1588,2093,9.68,33.61,21.08

In [ ]:
df_hungria_merged=merge_and_add_region(df_hungria,df_hungria_suicidios,"Hungary")
df_hungria_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,75,26,49,19,15,0.77,358,1203,1561,7.10,25.90,16.11,Hungary
1,2020,80,39,41,29,15,0.82,394,1311,1705,7.76,27.76,17.34,Hungary
2,2019,64,31,33,23,19,0.65,392,1158,1550,7.68,24.62,15.79,Hungary
3,2018,86,43,43,10,6,0.88,380,1276,1656,7.45,27.07,16.83,Hungary
4,2017,160,44,116,24,18,1.63,393,1241,1634,7.68,26.49,16.66,Hungary
5,2016,202,82,120,25,16,2.06,446,1316,1762,8.69,28.07,17.93,Hungary
6,2015,221,102,119,64,42,2.24,479,1391,1870,9.30,29.50,18.93,Hungary
7,2014,146,67,79,36,21,1.48,447,1480,1927,8.67,31.39,19.49,Hungary
8,2013,154,71,83,38,17,1.56,505,1588,2093,9.68,33.61,21.08,Hungary

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [33, 40, 33, 24, 46, 44, 37, 36, 46],
    'Homicidios Mujeres': [14, 19, 14, 8, 18, 20, 15, 17, 21],
    'Homicidios Hombres': [19, 21, 19, 16, 28, 24, 22, 19, 25],
    'Homicidios Mujeres por familiares': [11, 14, 9, 5, 16, 18, 13, 14, 13],
    'Homicidios hombres por familiares': [7, 2, 5, 8, 8, 4, 7, 5, 6],
    'Homicidios por 100.000': [0.81, 0.98, 0.80, 0.58, 1.10, 1.04, 0.87, 0.84, 1.07]
}

df_croacia = pd.DataFrame(data)
df_croacia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,33,14,19,11,7,0.81
1,2020,40,19,21,14,2,0.98
2,2019,33,14,19,9,5,0.80
3,2018,24,8,16,5,8,0.58
4,2017,46,18,28,16,8,1.10
5,2016,44,20,24,18,4,1.04
6,2015,37,15,22,13,7,0.87
7,2014,36,17,19,14,5,0.84
8,2013,46,21,25,13,6,1.07

In [ ]:
data_croacia = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [128, 121, 164, 160, 171, 199, 188, 147],
    "Suicidios hombres": [435, 463, 518, 478, 522, 548, 538, 550],
    "Suicidios": [563, 584, 682, 638, 693, 747, 726, 697],
    "Suicidios tasa femenina": ["6.16", "5.73", "7.76", "7.49", "7.78", "9.05", "8.49", "6.68"],
    "Suicidios tasa masculina": ["21.85", "23.43", "26.00", "23.93", "25.67", "26.74", "26.22", "26.64"],
    "Suicidios por 100.000": ["13.79", "14.31", "16.57", "15.42", "16.42", "17.59", "17.04", "16.31"]
}

df_croacia_suicidios = pd.DataFrame(data_croacia)
df_croacia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,128,435,563,6.16,21.85,13.79
1,2019,121,463,584,5.73,23.43,14.31
2,2018,164,518,682,7.76,26.00,16.57
3,2017,160,478,638,7.49,23.93,15.42
4,2016,171,522,693,7.78,25.67,16.42
5,2015,199,548,747,9.05,26.74,17.59
6,2014,188,538,726,8.49,26.22,17.04
7,2013,147,550,697,6.68,26.64,16.31

In [ ]:
df_croacia_merged=merge_and_add_region(df_croacia,df_croacia_suicidios,"Croatia")
df_croacia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,33,14,19,11,7,0.81,NaN,NaN,NaN,NaN,NaN,NaN,Croatia
1,2020,40,19,21,14,2,0.98,128.0,435.0,563.0,6.16,21.85,13.79,Croatia
2,2019,33,14,19,9,5,0.80,121.0,463.0,584.0,5.73,23.43,14.31,Croatia
3,2018,24,8,16,5,8,0.58,164.0,518.0,682.0,7.76,26.00,16.57,Croatia
4,2017,46,18,28,16,8,1.10,160.0,478.0,638.0,7.49,23.93,15.42,Croatia
5,2016,44,20,24,18,4,1.04,171.0,522.0,693.0,7.78,25.67,16.42,Croatia
6,2015,37,15,22,13,7,0.87,199.0,548.0,747.0,9.05,26.74,17.59,Croatia
7,2014,36,17,19,14,5,0.84,188.0,538.0,726.0,8.49,26.22,17.04,Croatia
8,2013,46,21,25,13,6,1.07,147.0,550.0,697.0,6.68,26.64,16.31,Croatia

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [734, 692, 753, 696, 710, 779, 1012, 792, 777],
    'Homicidios Mujeres': [228, 194, 261, 223, 257, 282, 382, None, None],
    'Homicidios Hombres': [506, 498, 492, 473, 453, 497, 630, None, None],
    'Homicidios Mujeres por familiares': [136, 133, 143, 118, 150, 130, 134, None, None],
    'Homicidios hombres por familiares': [59, 64, 64, 71, 62, 60, 70, None, None],
    'Homicidios por 100.000': [1.14, 1.07, 1.17, 1.08, 1.11, 1.22, 1.59, 1.25, 1.23]
}

df_francia = pd.DataFrame(data)
df_francia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,734,228.0,506.0,136.0,59.0,1.14
1,2020,692,194.0,498.0,133.0,64.0,1.07
2,2019,753,261.0,492.0,143.0,64.0,1.17
3,2018,696,223.0,473.0,118.0,71.0,1.08
4,2017,710,257.0,453.0,150.0,62.0,1.11
5,2016,779,282.0,497.0,130.0,60.0,1.22
6,2015,1012,382.0,630.0,134.0,70.0,1.59
7,2014,792,NaN,NaN,NaN,NaN,1.25
8,2013,777,NaN,NaN,NaN,NaN,1.23

In [ ]:
data_francia = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [2248, 2123, 2224, 2091, 2020, 2134, 2267, 2437],
    "Suicidios hombres": [6754, 6548, 6702, 6298, 6583, 7003, 6817, 7423],
    "Suicidios": [9002, 8671, 8926, 8389, 8603, 9137, 9084, 9860],
    "Suicidios tasa femenina": ["6.44", "6.10", "6.40", "6.04", "5.86", "6.24", "6.62", "7.14"],
    "Suicidios tasa masculina": ["20.67", "20.16", "20.58", "19.45", "20.41", "21.72", "21.18", "23.27"],
    "Suicidios por 100.000": ["13.32", "12.90", "13.26", "12.53", "12.90", "13.73", "13.67", "14.95"]
}

df_francia_suicidios = pd.DataFrame(data_francia)
df_francia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,2248,6754,9002,6.44,20.67,13.32
1,2019,2123,6548,8671,6.10,20.16,12.90
2,2018,2224,6702,8926,6.40,20.58,13.26
3,2017,2091,6298,8389,6.04,19.45,12.53
4,2016,2020,6583,8603,5.86,20.41,12.90
5,2015,2134,7003,9137,6.24,21.72,13.73
6,2014,2267,6817,9084,6.62,21.18,13.67
7,2013,2437,7423,9860,7.14,23.27,14.95

In [ ]:
df_francia_merged=merge_and_add_region(df_francia,df_francia_suicidios,"France")
df_francia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,734,228.0,506.0,136.0,59.0,1.14,NaN,NaN,NaN,NaN,NaN,NaN,France
1,2020,692,194.0,498.0,133.0,64.0,1.07,2248.0,6754.0,9002.0,6.44,20.67,13.32,France
2,2019,753,261.0,492.0,143.0,64.0,1.17,2123.0,6548.0,8671.0,6.10,20.16,12.90,France
3,2018,696,223.0,473.0,118.0,71.0,1.08,2224.0,6702.0,8926.0,6.40,20.58,13.26,France
4,2017,710,257.0,453.0,150.0,62.0,1.11,2091.0,6298.0,8389.0,6.04,19.45,12.53,France
5,2016,779,282.0,497.0,130.0,60.0,1.22,2020.0,6583.0,8603.0,5.86,20.41,12.90,France
6,2015,1012,382.0,630.0,134.0,70.0,1.59,2134.0,7003.0,9137.0,6.24,21.72,13.73,France
7,2014,792,NaN,NaN,NaN,NaN,1.25,2267.0,6817.0,9084.0,6.62,21.18,13.67,France
8,2013,777,NaN,NaN,NaN,NaN,1.23,2437.0,7423.0,9860.0,7.14,23.27,14.95,France

In [ ]:
data = {
    'Fecha': [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [91, 81, 86, 67, 74, 82, 88, 89],
    'Homicidios Mujeres': [None, 28, 24, 30, 22, 16, 27, 23],
    'Homicidios Hombres': [None, 53, 62, 37, 52, 66, 61, 66],
    'Homicidios Mujeres por familiares': [None, 19, 19, 21, 16, 10, 18, 17],
    'Homicidios hombres por familiares': [None, 11, 19, 5, 13, 9, 13, 12],
    'Homicidios por 100.000': [1.65, 1.47, 1.56, 1.22, 1.35, 1.50, 1.61, 1.64]
}

df_finlandia = pd.DataFrame(data)
df_finlandia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2020,91,NaN,NaN,NaN,NaN,1.65
1,2019,81,28.0,53.0,19.0,11.0,1.47
2,2018,86,24.0,62.0,19.0,19.0,1.56
3,2017,67,30.0,37.0,21.0,5.0,1.22
4,2016,74,22.0,52.0,16.0,13.0,1.35
5,2015,82,16.0,66.0,10.0,9.0,1.50
6,2014,88,27.0,61.0,18.0,13.0,1.61
7,2013,89,23.0,66.0,17.0,12.0,1.64

In [ ]:
data_finlandia = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [223, 189, 179, 190, 212, 170, 174, 191, 222],
    "Suicidios hombres": [525, 537, 566, 617, 613, 622, 558, 606, 676],
    "Suicidios": [748, 726, 745, 807, 825, 792, 732, 797, 898],
    "Suicidios tasa femenina": ["7.95", "6.72", "6.40", "6.80", "7.59", "6.13", "6.22", "6.92", "8.03"],
    "Suicidios tasa masculina": ["19.14", "19.30", "20.58", "22.31", "22.50", "22.57", "20.69", "22.23", "24.91"],
    "Suicidios por 100.000": ["13.48", "12.93", "13.40", "14.45", "14.94", "14.23", "13.34", "14.45", "16.33"]
}

df_finlandia_suicidios = pd.DataFrame(data_finlandia)
df_finlandia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,223,525,748,7.95,19.14,13.48
1,2020,189,537,726,6.72,19.30,12.93
2,2019,179,566,745,6.40,20.58,13.40
3,2018,190,617,807,6.80,22.31,14.45
4,2017,212,613,825,7.59,22.50,14.94
5,2016,170,622,792,6.13,22.57,14.23
6,2015,174,558,732,6.22,20.69,13.34
7,2014,191,606,797,6.92,22.23,14.45
8,2013,222,676,898,8.03,24.91,16.33

In [ ]:
df_finlandia_merged=merge_and_add_region(df_finlandia,df_finlandia_suicidios,"Finland")
df_finlandia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2020,91,NaN,NaN,NaN,NaN,1.65,189,537,726,6.72,19.30,12.93,Finland
1,2019,81,28.0,53.0,19.0,11.0,1.47,179,566,745,6.40,20.58,13.40,Finland
2,2018,86,24.0,62.0,19.0,19.0,1.56,190,617,807,6.80,22.31,14.45,Finland
3,2017,67,30.0,37.0,21.0,5.0,1.22,212,613,825,7.59,22.50,14.94,Finland
4,2016,74,22.0,52.0,16.0,13.0,1.35,170,622,792,6.13,22.57,14.23,Finland
5,2015,82,16.0,66.0,10.0,9.0,1.50,174,558,732,6.22,20.69,13.34,Finland
6,2014,88,27.0,61.0,18.0,13.0,1.61,191,606,797,6.92,22.23,14.45,Finland
7,2013,89,23.0,66.0,17.0,12.0,1.64,222,676,898,8.03,24.91,16.33,Finland

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [89, 78, 78, 99, 86, 84, 93, 107, 153],
    'Homicidios Mujeres': [33, 19, 19, 29, 23, 26, 30, 27, 50],
    'Homicidios Hombres': [56, 59, 59, 70, 63, 58, 63, 80, 103],
    'Homicidios Mujeres por familiares': [18, 9, 11, 13, 7, 13, 11, None, None],
    'Homicidios hombres por familiares': [7, 4, 7, 11, 4, 6, 5, None, None],
    'Homicidios por 100.000': [0.85, 0.74, 0.74, 0.93, 0.80, 0.78, 0.86, 0.98, 1.40]
}

df_grecia = pd.DataFrame(data)
df_grecia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,89,33,56,18.0,7.0,0.85
1,2020,78,19,59,9.0,4.0,0.74
2,2019,78,19,59,11.0,7.0,0.74
3,2018,99,29,70,13.0,11.0,0.93
4,2017,86,23,63,7.0,4.0,0.80
5,2016,84,26,58,13.0,6.0,0.78
6,2015,93,30,63,11.0,5.0,0.86
7,2014,107,27,80,NaN,NaN,0.98
8,2013,153,50,103,NaN,NaN,1.40

In [ ]:
data_grecia = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [88, 92, 121, 103, 81, 107, 115, 108],
    "Suicidios hombres": [376, 438, 446, 420, 404, 422, 450, 425],
    "Suicidios": [464, 530, 567, 523, 485, 529, 565, 533],
    "Suicidios tasa femenina": ["1.60", "1.62", "2.17", "1.79", "1.44", "1.90", "2.04", "1.94"],
    "Suicidios tasa masculina": ["7.07", "8.19", "8.27", "7.90", "7.68", "7.97", "8.41", "7.92"],
    "Suicidios por 100.000": ["4.26", "4.81", "5.13", "4.75", "4.46", "4.84", "5.13", "4.85"]
}

df_grecia_suicidios = pd.DataFrame(data_grecia)
df_grecia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,88,376,464,1.60,7.07,4.26
1,2019,92,438,530,1.62,8.19,4.81
2,2018,121,446,567,2.17,8.27,5.13
3,2017,103,420,523,1.79,7.90,4.75
4,2016,81,404,485,1.44,7.68,4.46
5,2015,107,422,529,1.90,7.97,4.84
6,2014,115,450,565,2.04,8.41,5.13
7,2013,108,425,533,1.94,7.92,4.85

In [ ]:
df_grecia_merged=merge_and_add_region(df_grecia,df_grecia_suicidios,"Greece")
df_grecia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,89,33,56,18.0,7.0,0.85,NaN,NaN,NaN,NaN,NaN,NaN,Greece
1,2020,78,19,59,9.0,4.0,0.74,88.0,376.0,464.0,1.60,7.07,4.26,Greece
2,2019,78,19,59,11.0,7.0,0.74,92.0,438.0,530.0,1.62,8.19,4.81,Greece
3,2018,99,29,70,13.0,11.0,0.93,121.0,446.0,567.0,2.17,8.27,5.13,Greece
4,2017,86,23,63,7.0,4.0,0.80,103.0,420.0,523.0,1.79,7.90,4.75,Greece
5,2016,84,26,58,13.0,6.0,0.78,81.0,404.0,485.0,1.44,7.68,4.46,Greece
6,2015,93,30,63,11.0,5.0,0.86,107.0,422.0,529.0,1.90,7.97,4.84,Greece
7,2014,107,27,80,NaN,NaN,0.98,115.0,450.0,565.0,2.04,8.41,5.13,Greece
8,2013,153,50,103,NaN,NaN,1.40,108.0,425.0,533.0,1.94,7.92,4.85,Greece

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [26, 42, 26, 28, 29, 33, 45, 41, 52],
    'Homicidios Mujeres': [4, 10, 6, 5, 8, 9, 11, 9, 18],
    'Homicidios Hombres': [22, 32, 20, 23, 21, 24, 34, 32, 34],
    'Homicidios por 100.000': [1.96, 3.16, 1.96, 2.12, 2.20, 2.51, 3.42, 3.12, 3.95]
}

df_estonia = pd.DataFrame(data)
df_estonia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000
0,2021,26,4,22,1.96
1,2020,42,10,32,3.16
2,2019,26,6,20,1.96
3,2018,28,5,23,2.12
4,2017,29,8,21,2.20
5,2016,33,9,24,2.51
6,2015,45,11,34,3.42
7,2014,41,9,32,3.12
8,2013,52,18,34,3.95

In [ ]:
data_estonia = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [37, 47, 43, 46, 54, 39, 37, 49, 48],
    "Suicidios hombres": [149, 170, 152, 148, 173, 148, 166, 193, 171],
    "Suicidios": [186, 217, 195, 194, 227, 187, 203, 242, 219],
    "Suicidios tasa femenina": ["5.30", "6.58", "6.15", "6.58", "7.88", "5.44", "5.29", "6.85", "6.69"],
    "Suicidios tasa masculina": ["23.60", "27.30", "24.54", "24.54", "28.10", "24.14", "27.61", "31.72", "28.27"],
    "Suicidios por 100.000": ["14.00", "16.40", "14.85", "15.05", "17.38", "14.21", "15.74", "18.47", "16.77"]
}

df_estonia_suicidios = pd.DataFrame(data_estonia)
df_estonia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,37,149,186,5.30,23.60,14.00
1,2020,47,170,217,6.58,27.30,16.40
2,2019,43,152,195,6.15,24.54,14.85
3,2018,46,148,194,6.58,24.54,15.05
4,2017,54,173,227,7.88,28.10,17.38
5,2016,39,148,187,5.44,24.14,14.21
6,2015,37,166,203,5.29,27.61,15.74
7,2014,49,193,242,6.85,31.72,18.47
8,2013,48,171,219,6.69,28.27,16.77

In [ ]:
df_estonia_merged=merge_and_add_region(df_estonia,df_estonia_suicidios,"Estonia")
df_estonia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,26,4,22,1.96,37,149,186,5.30,23.60,14.00,Estonia
1,2020,42,10,32,3.16,47,170,217,6.58,27.30,16.40,Estonia
2,2019,26,6,20,1.96,43,152,195,6.15,24.54,14.85,Estonia
3,2018,28,5,23,2.12,46,148,194,6.58,24.54,15.05,Estonia
4,2017,29,8,21,2.20,54,173,227,7.88,28.10,17.38,Estonia
5,2016,33,9,24,2.51,39,148,187,5.44,24.14,14.21,Estonia
6,2015,45,11,34,3.42,37,166,203,5.29,27.61,15.74,Estonia
7,2014,41,9,32,3.12,49,193,242,6.85,31.72,18.47,Estonia
8,2013,52,18,34,3.95,48,171,219,6.69,28.27,16.77,Estonia

In [ ]:
data_dinamarca_homicidios = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Número de Homicidios": [47, 55, 66, 58, 71, 56, 62, 74, 48],
    "Homicidios Mujeres": [15, 17, 27, 20, 20, 23, 23, 31, 13],
    "Homicidios Hombres": [32, 38, 39, 38, 51, 33, 39, 43, 35],
    "Homicidios por 100.000": ["0.80", "0.94", "1.14", "1.01", "1.24", "0.98", "1.09", "1.31", "0.85"]
}

df_dinamarca = pd.DataFrame(data_dinamarca_homicidios)
df_dinamarca

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000
0,2021,47,15,32,0.80
1,2020,55,17,38,0.94
2,2019,66,27,39,1.14
3,2018,58,20,38,1.01
4,2017,71,20,51,1.24
5,2016,56,23,33,0.98
6,2015,62,23,39,1.09
7,2014,74,31,43,1.31
8,2013,48,13,35,0.85

In [ ]:
data_dinamarca = {
    "Fecha": [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [165, 152, 160, 165, 144, 175, 166, 160],
    "Suicidios hombres": [412, 451, 430, 424, 436, 402, 488, 455],
    "Suicidios": [580, 612, 590, 589, 580, 577, 654, 615],
    "Suicidios tasa femenina": ["5.63", "5.20", "5.50", "5.70", "4.93", "6.09", "5.81", "5.69"],
    "Suicidios tasa masculina": ["14.27", "15.62", "14.85", "14.82", "14.99", "13.81", "17.31", "16.26"],
    "Suicidios por 100.000": ["9.93", "10.42", "10.17", "10.23", "9.93", "9.92", "11.52", "10.95"]
}

df_dinamarca_suicidios = pd.DataFrame(data_dinamarca)
df_dinamarca_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2020,165,412,580,5.63,14.27,9.93
1,2019,152,451,612,5.20,15.62,10.42
2,2018,160,430,590,5.50,14.85,10.17
3,2017,165,424,589,5.70,14.82,10.23
4,2016,144,436,580,4.93,14.99,9.93
5,2015,175,402,577,6.09,13.81,9.92
6,2014,166,488,654,5.81,17.31,11.52
7,2013,160,455,615,5.69,16.26,10.95

In [ ]:
df_dinamarca_merged=merge_and_add_region(df_dinamarca,df_dinamarca_suicidios,"Denmark")
df_dinamarca_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,47,15,32,0.80,NaN,NaN,NaN,NaN,NaN,NaN,Denmark
1,2020,55,17,38,0.94,165.0,412.0,580.0,5.63,14.27,9.93,Denmark
2,2019,66,27,39,1.14,152.0,451.0,612.0,5.20,15.62,10.42,Denmark
3,2018,58,20,38,1.01,160.0,430.0,590.0,5.50,14.85,10.17,Denmark
4,2017,71,20,51,1.24,165.0,424.0,589.0,5.70,14.82,10.23,Denmark
5,2016,56,23,33,0.98,144.0,436.0,580.0,4.93,14.99,9.93,Denmark
6,2015,62,23,39,1.09,175.0,402.0,577.0,6.09,13.81,9.92,Denmark
7,2014,74,31,43,1.31,166.0,488.0,654.0,5.81,17.31,11.52,Denmark
8,2013,48,13,35,0.85,160.0,455.0,615.0,5.69,16.26,10.95,Denmark

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [695, 782, 623, 788, 813, 963, 682, 716, 682],
    'Homicidios Mujeres': [337, 357, 276, 367, 380, 469, 327, 339, 328],
    'Homicidios Hombres': [358, 425, 347, 421, 433, 494, 355, 377, 354],
    'Homicidios Mujeres por familiares': [207, 225, 187, 204, 231, 238, 210, 241, 224],
    'Homicidios hombres por familiares': [79, 107, 95, 106, 105, 87, 83, 99, 84],
    'Homicidios por 100.000': [0.83, 0.94, 0.75, 0.95, 0.98, 1.17, 0.83, 0.87, 0.83]
}

df_alemania = pd.DataFrame(data)
df_alemania

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,695,337,358,207,79,0.83
1,2020,782,357,425,225,107,0.94
2,2019,623,276,347,187,95,0.75
3,2018,788,367,421,204,106,0.95
4,2017,813,380,433,231,105,0.98
5,2016,963,469,494,238,87,1.17
6,2015,682,327,355,210,83,0.83
7,2014,716,339,377,241,99,0.87
8,2013,682,328,354,224,84,0.83

In [ ]:
data_alemania_suicidios = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [2420, 2268, 2204, 2299, 2257, 2471, 2696, 2603, 2643],
    "Suicidios hombres": [6870, 7015, 6900, 7180, 7039, 7436, 7470, 7685, 7513],
    "Suicidios": [9290, 9283, 9104, 9479, 9296, 9907, 10166, 10288, 10156],
    "Suicidios tasa femenina": ["5.74", "5.39", "5.24", "5.47", "5.42", "5.94", "6.49", "6.31", "6.43"],
    "Suicidios tasa masculina": ["16.73", "17.01", "16.78", "17.46", "17.28", "18.32", "18.55", "19.33", "19.02"],
    "Suicidios por 100.000": ["11.16", "11.12", "10.94", "11.38", "11.27", "12.04", "12.42", "12.69", "12.59"]
}

df_alemania_suicidios = pd.DataFrame(data_alemania_suicidios)
df_alemania_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,2420,6870,9290,5.74,16.73,11.16
1,2020,2268,7015,9283,5.39,17.01,11.12
2,2019,2204,6900,9104,5.24,16.78,10.94
3,2018,2299,7180,9479,5.47,17.46,11.38
4,2017,2257,7039,9296,5.42,17.28,11.27
5,2016,2471,7436,9907,5.94,18.32,12.04
6,2015,2696,7470,10166,6.49,18.55,12.42
7,2014,2603,7685,10288,6.31,19.33,12.69
8,2013,2643,7513,10156,6.43,19.02,12.59

In [ ]:
df_alemania_merged=merge_and_add_region(df_alemania,df_alemania_suicidios,"Germany")
df_alemania_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,695,337,358,207,79,0.83,2420,6870,9290,5.74,16.73,11.16,Germany
1,2020,782,357,425,225,107,0.94,2268,7015,9283,5.39,17.01,11.12,Germany
2,2019,623,276,347,187,95,0.75,2204,6900,9104,5.24,16.78,10.94,Germany
3,2018,788,367,421,204,106,0.95,2299,7180,9479,5.47,17.46,11.38,Germany
4,2017,813,380,433,231,105,0.98,2257,7039,9296,5.42,17.28,11.27,Germany
5,2016,963,469,494,238,87,1.17,2471,7436,9907,5.94,18.32,12.04,Germany
6,2015,682,327,355,210,83,0.83,2696,7470,10166,6.49,18.55,12.42,Germany
7,2014,716,339,377,241,99,0.87,2603,7685,10288,6.31,19.33,12.69,Germany
8,2013,682,328,354,224,84,0.83,2643,7513,10156,6.43,19.02,12.59,Germany

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [47, 77, 97, 66, 65, 88, 81, 90],
    'Homicidios Mujeres': [27, 39, 39, 30, 36, 49, 45, 51],
    'Homicidios Hombres': [20, 38, 58, 36, 29, 39, 36, 39],
    'Homicidios Mujeres por familiares': [12, 21, 19, 20, 27, 20, 21, 18],
    'Homicidios hombres por familiares': [7, 9, 10, 10, 11, 16, 14, 14],
    'Homicidios por 100.000': [0.45, 0.73, 0.92, 0.63, 0.62, 0.84, 0.77, 0.86]
}

df_checquia = pd.DataFrame(data)
df_checquia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,47,27,20,12,7,0.45
1,2020,77,39,38,21,9,0.73
2,2019,97,39,58,19,10,0.92
3,2017,66,30,36,20,10,0.63
4,2016,65,36,29,27,11,0.62
5,2015,88,49,39,20,16,0.84
6,2014,81,45,36,21,14,0.77
7,2013,90,51,39,18,14,0.86

In [ ]:
data_chequia_suicidios = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [262, 218, 245, 253, 296, 260, 255, 298, 285],
    "Suicidios hombres": [994, 1031, 974, 1127, 1133, 1088, 1161, 1225, 1321],
    "Suicidios": [1256, 1249, 1219, 1380, 1429, 1348, 1416, 1523, 1606],
    "Suicidios tasa femenina": ["4.80", "4.02", "4.49", "4.65", "5.37", "4.80", "4.75", "5.47", "5.31"],
    "Suicidios tasa masculina": ["18.70", "19.25", "18.12", "21.12", "21.32", "20.49", "22.04", "23.25", "25.18"],
    "Suicidios por 100.000": ["11.60", "11.53", "11.21", "12.76", "13.21", "12.51", "13.25", "14.20", "15.07"]
}

df_chequia_suicidios = pd.DataFrame(data_chequia_suicidios)
df_chequia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,262,994,1256,4.80,18.70,11.60
1,2020,218,1031,1249,4.02,19.25,11.53
2,2019,245,974,1219,4.49,18.12,11.21
3,2018,253,1127,1380,4.65,21.12,12.76
4,2017,296,1133,1429,5.37,21.32,13.21
5,2016,260,1088,1348,4.80,20.49,12.51
6,2015,255,1161,1416,4.75,22.04,13.25
7,2014,298,1225,1523,5.47,23.25,14.20
8,2013,285,1321,1606,5.31,25.18,15.07

In [ ]:
df_checquia_merged=merge_and_add_region(df_checquia,df_chequia_suicidios,"Czechia")
df_checquia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,47,27,20,12,7,0.45,262,994,1256,4.80,18.70,11.60,Czechia
1,2020,77,39,38,21,9,0.73,218,1031,1249,4.02,19.25,11.53,Czechia
2,2019,97,39,58,19,10,0.92,245,974,1219,4.49,18.12,11.21,Czechia
3,2017,66,30,36,20,10,0.63,296,1133,1429,5.37,21.32,13.21,Czechia
4,2016,65,36,29,27,11,0.62,260,1088,1348,4.80,20.49,12.51,Czechia
5,2015,88,49,39,20,16,0.84,255,1161,1416,4.75,22.04,13.25,Czechia
6,2014,81,45,36,21,14,0.77,298,1225,1523,5.47,23.25,14.20,Czechia
7,2013,90,51,39,18,14,0.86,285,1321,1606,5.31,25.18,15.07,Czechia

In [ ]:

data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [16, 15, 15, 15, 7, 13, 15, 11, 12],
    'Homicidios Mujeres': [7, 5, 10, 6, 0, 5, 3, 5, 3],
    'Homicidios Hombres': [9, 10, 5, 9, 7, 8, 12, 6, 9],
    'Homicidios Mujeres por familiares': [None, None, 0, 2, 0, 4, 1, 1, 1],
    'Homicidios hombres por familiares': [None, None, 1, 2, 0, 0, 4, 7, 2],
    'Homicidios por 100.000': [1.29, 1.21, 1.22, 1.23, 0.58, 1.09, 1.26, 0.93, 1.03]
}

df_chipre = pd.DataFrame(data)
df_chipre

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,16,7,9,NaN,NaN,1.29
1,2020,15,5,10,NaN,NaN,1.21
2,2019,15,10,5,0.0,1.0,1.22
3,2018,15,6,9,2.0,2.0,1.23
4,2017,7,0,7,0.0,0.0,0.58
5,2016,13,5,8,4.0,0.0,1.09
6,2015,15,3,12,1.0,4.0,1.26
7,2014,11,5,6,1.0,7.0,0.93
8,2013,12,3,9,1.0,2.0,1.03

In [ ]:
data_chipre_suicidios = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [10, 7, 4, 8, 6, 5, 9, 13, 5],
    "Suicidios hombres": [15, 24, 35, 35, 32, 31, 31, 30, 40],
    "Suicidios": [25, 31, 39, 43, 38, 36, 40, 43, 45],
    "Suicidios tasa femenina": ["2.16", "1.54", "0.89", "1.57", "1.36", "1.14", "2.07", "2.51", "1.13"],
    "Suicidios tasa masculina": ["3.40", "5.50", "7.89", "8.01", "6.92", "6.75", "7.28", "6.75", "9.30"],
    "Suicidios por 100.000": ["2.76", "3.48", "4.31", "4.71", "4.07", "3.88", "4.60", "4.57", "5.10"]
}

df_chipre_suicidios = pd.DataFrame(data_chipre_suicidios)
df_chipre_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,10,15,25,2.16,3.40,2.76
1,2020,7,24,31,1.54,5.50,3.48
2,2019,4,35,39,0.89,7.89,4.31
3,2018,8,35,43,1.57,8.01,4.71
4,2017,6,32,38,1.36,6.92,4.07
5,2016,5,31,36,1.14,6.75,3.88
6,2015,9,31,40,2.07,7.28,4.60
7,2014,13,30,43,2.51,6.75,4.57
8,2013,5,40,45,1.13,9.30,5.10

In [ ]:
df_chipre_merged=merge_and_add_region(df_chipre,df_chipre_suicidios,"Cyprus")
df_chipre_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,16,7,9,NaN,NaN,1.29,10,15,25,2.16,3.40,2.76,Cyprus
1,2020,15,5,10,NaN,NaN,1.21,7,24,31,1.54,5.50,3.48,Cyprus
2,2019,15,10,5,0.0,1.0,1.22,4,35,39,0.89,7.89,4.31,Cyprus
3,2018,15,6,9,2.0,2.0,1.23,8,35,43,1.57,8.01,4.71,Cyprus
4,2017,7,0,7,0.0,0.0,0.58,6,32,38,1.36,6.92,4.07,Cyprus
5,2016,13,5,8,4.0,0.0,1.09,5,31,36,1.14,6.75,3.88,Cyprus
6,2015,15,3,12,1.0,4.0,1.26,9,31,40,2.07,7.28,4.60,Cyprus
7,2014,11,5,6,1.0,7.0,0.93,13,30,43,2.51,6.75,4.57,Cyprus
8,2013,12,3,9,1.0,2.0,1.03,5,40,45,1.13,9.30,5.10,Cyprus

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [88, 69, 83, 92, 103, 79, 126, 112, 109],
    'Homicidios Mujeres': [28, 26, 23, 38, 35, 22, 29, 26, 34],
    'Homicidios Hombres': [60, 43, 60, 54, 68, 57, 97, 86, 75],
    'Homicidios por 100.000': [1.28, 0.99, 1.18, 1.29, 1.43, 1.09, 1.72, 1.52, 1.47]
}

df_bulgaria = pd.DataFrame(data)
df_bulgaria

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000
0,2021,88,28,60,1.28
1,2020,69,26,43,0.99
2,2019,83,23,60,1.18
3,2018,92,38,54,1.29
4,2017,103,35,68,1.43
5,2016,79,22,57,1.09
6,2015,126,29,97,1.72
7,2014,112,26,86,1.52
8,2013,109,34,75,1.47

In [ ]:
data_bulgaria_suicidios = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [126, 124, 123, 147, 167, 157, 159, 174, 147],
    "Suicidios hombres": [430, 463, 451, 494, 533, 507, 523, 557, 577],
    "Suicidios": [556, 587, 574, 641, 700, 664, 682, 731, 724],
    "Suicidios tasa femenina": ["3.57", "3.44", "3.45", "3.98", "4.56", "4.31", "4.39", "4.66", "3.94"],
    "Suicidios tasa masculina": ["12.99", "13.81", "13.33", "14.61", "15.57", "14.70", "15.02", "15.68", "16.29"],
    "Suicidios por 100.000": ["8.13", "8.47", "8.24", "9.14", "9.92", "9.36", "9.56", "10.02", "9.95"]
}

df_bulgaria_suicidios = pd.DataFrame(data_bulgaria_suicidios)
df_bulgaria_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,126,430,556,3.57,12.99,8.13
1,2020,124,463,587,3.44,13.81,8.47
2,2019,123,451,574,3.45,13.33,8.24
3,2018,147,494,641,3.98,14.61,9.14
4,2017,167,533,700,4.56,15.57,9.92
5,2016,157,507,664,4.31,14.70,9.36
6,2015,159,523,682,4.39,15.02,9.56
7,2014,174,557,731,4.66,15.68,10.02
8,2013,147,577,724,3.94,16.29,9.95

In [ ]:
df_bulgaria_merged=merge_and_add_region(df_bulgaria,df_bulgaria_suicidios,"Bulgaria")
df_bulgaria_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,88,28,60,1.28,126,430,556,3.57,12.99,8.13,Bulgaria
1,2020,69,26,43,0.99,124,463,587,3.44,13.81,8.47,Bulgaria
2,2019,83,23,60,1.18,123,451,574,3.45,13.33,8.24,Bulgaria
3,2018,92,38,54,1.29,147,494,641,3.98,14.61,9.14,Bulgaria
4,2017,103,35,68,1.43,167,533,700,4.56,15.57,9.92,Bulgaria
5,2016,79,22,57,1.09,157,507,664,4.31,14.70,9.36,Bulgaria
6,2015,126,29,97,1.72,159,523,682,4.39,15.02,9.56,Bulgaria
7,2014,112,26,86,1.52,174,557,731,4.66,15.68,10.02,Bulgaria
8,2013,109,34,75,1.47,147,577,724,3.94,16.29,9.95,Bulgaria

In [ ]:
data = {
    'Fecha': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    'Número de Homicidios': [55, 63, 76, 67, 80, 60, 48, 72, 78],
    'Homicidios Mujeres': [18, 28, 15, 26, 19, 20, 14, 19, 23],
    'Homicidios Hombres': [31, 33, 54, 36, 55, 37, 30, 46, 48],
    'Homicidios Mujeres por familiares': [2, None, 4, 2, 4, 2, 1, 0, 2],
    'Homicidios hombres por familiares': [9, 10, 7, 6, 9, 7, 2, 7, 6],
    'Homicidios por 100.000': [1.01, 1.15, 1.39, 1.23, 1.47, 1.10, 0.88, 1.33, 1.44]
}

df_eslovaquia = pd.DataFrame(data)
df_eslovaquia

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2021,55,18,31,2.0,9,1.01
1,2020,63,28,33,NaN,10,1.15
2,2019,76,15,54,4.0,7,1.39
3,2018,67,26,36,2.0,6,1.23
4,2017,80,19,55,4.0,9,1.47
5,2016,60,20,37,2.0,7,1.10
6,2015,48,14,30,1.0,2,0.88
7,2014,72,19,46,0.0,7,1.33
8,2013,78,23,48,2.0,6,1.44

In [ ]:
data_eslovaquia_suicidios = {
    "Fecha": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013],
    "Suicidios mujeres": [61, 48, 57, 75, 67, 60, 81, 83, 83],
    "Suicidios hombres": [330, 313, 311, 341, 310, 330, 399, 473, 537],
    "Suicidios": [391, 361, 368, 416, 377, 390, 480, 556, 620],
    "Suicidios tasa femenina": ["2.20", "1.79", "2.04", "2.73", "2.44", "2.23", "2.99", "3.06", "3.13"],
    "Suicidios tasa masculina": ["12.42", "12.04", "11.87", "13.13", "12.06", "13.06", "15.54", "18.37", "21.00"],
    "Suicidios por 100.000": ["7.19", "6.80", "6.84", "7.80", "7.15", "7.51", "9.11", "10.52", "11.84"]
}

df_eslovaquia_suicidios = pd.DataFrame(data_eslovaquia_suicidios)
df_eslovaquia_suicidios

,Fecha,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000
0,2021,61,330,391,2.20,12.42,7.19
1,2020,48,313,361,1.79,12.04,6.80
2,2019,57,311,368,2.04,11.87,6.84
3,2018,75,341,416,2.73,13.13,7.80
4,2017,67,310,377,2.44,12.06,7.15
5,2016,60,330,390,2.23,13.06,7.51
6,2015,81,399,480,2.99,15.54,9.11
7,2014,83,473,556,3.06,18.37,10.52
8,2013,83,537,620,3.13,21.00,11.84

In [ ]:
df_eslovaquia_merged=merge_and_add_region(df_eslovaquia,df_eslovaquia_suicidios,"Slovakia")
df_eslovenia_merged

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios Hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region
0,2021,9,6,3,6,1,0.42,1021,2982,4003,4.20,12.80,8.40,Slovenia
1,2020,11,6,5,6,3,0.52,1011,2930,3941,4.19,12.54,8.28,Slovenia
2,2019,14,7,7,3,4,0.66,900,2771,3671,3.74,11.83,7.71,Slovenia
3,2018,9,5,4,5,1,0.43,920,2619,3539,3.83,11.31,7.49,Slovenia
4,2017,19,9,10,6,3,0.91,961,2718,3679,4.03,11.73,7.81,Slovenia
5,2016,10,2,8,2,2,0.48,907,2662,3569,3.81,11.58,7.63,Slovenia
6,2015,20,11,9,3,2,0.96,922,2680,3602,3.91,11.75,7.76,Slovenia
7,2014,16,6,10,4,4,0.77,972,2938,3910,4.12,12.86,8.42,Slovenia
8,2013,12,3,9,2,3,0.58,959,2911,3870,4.05,12.69,8.31,Slovenia

In [ ]:
# Lista de nombres de países en minúscula con modificaciones
paises = [
    "austria", "belgica", "eslovenia", "suecia", "rumania",
    "portugal", "polonia", "paises_bajos", "malta", "letonia",
    "luxemburgo", "lituania", "italia", "irlanda", "hungria",
    "croacia", "francia", "finlandia", "españa", "grecia",
    "estonia", "dinamarca", "alemania", "checquia",
    "chipre", "bulgaria", "eslovaquia"
]

# Crear una lista de DataFrames para cada país
dfs_paises = []
for pais in paises:
    # Modificar el nombre del país para coincidir con el formato del DataFrame
    nombre_pais_df = pais.replace(" ", "_")
    nombre_dataframe = f"df_{nombre_pais_df}_merged"  # Nombre del DataFrame de cada país
    df_pais = globals()[nombre_dataframe]  # Obtener el DataFrame usando el nombre
    dfs_paises.append(df_pais)

# Concatenar los DataFrames
df_final_segundo = pd.concat(dfs_paises, ignore_index=True)

In [ ]:
df_final_segundo

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000,Suicidios mujeres,Suicidios hombres,Suicidios,Suicidios tasa femenina,Suicidios tasa masculina,Suicidios por 100.000,Region,Homicidios Hombres por familiares
0,2021,65.0,40.0,25.0,26.0,3.0,0.73,226.0,901.0,1127.0,4.80,19.90,12.20,Austria,NaN
1,2020,65.0,37.0,28.0,27.0,9.0,0.73,236.0,863.0,1099.0,5.19,19.12,12.04,Austria,NaN
2,2019,77.0,40.0,37.0,21.0,10.0,0.87,253.0,907.0,1160.0,5.52,20.06,12.67,Austria,NaN
3,2018,86.0,44.0,42.0,31.0,7.0,0.97,266.0,962.0,1228.0,5.85,22.08,13.83,Austria,NaN
4,2017,70.0,37.0,33.0,29.0,10.0,0.80,267.0,994.0,1261.0,5.86,22.49,14.04,Austria,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2017,80.0,19.0,55.0,4.0,9.0,1.47,67.0,310.0,377.0,2.44,12.06,7.15,Slovakia,NaN
236,2016,60.0,20.0,37.0,2.0,7.0,1.1,60.0,330.0,390.0,2.23,13.06,7.51,Slovakia,NaN
237,2015,48.0,14.0,30.0,1.0,2.0,0.88,81.0,399.0,480.0,2.99,15.54,9.11,Slovakia,NaN
238,2014,72.0,19.0,46.0,0.0,7.0,1.33,83.0,473.0,556.0,3.06,18.37,10.52,Slovakia,NaN
239,2013,78.0,23.0,48.0,2.0,6.0,1.44,83.0,537.0,620.0,3.13,21.00,11.84,Slovakia,NaN

In [ ]:
df_final_segundo["REGION"]=df_final_segundo["Region"]

In [ ]:
df_final_segundo["FECHA"]=df_final_segundo["Fecha"]

In [ ]:
df_final_segundo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Fecha                              240 non-null    int64
 1   Número de Homicidios               238 non-null    float64
 2   Homicidios Mujeres                 230 non-null    float64
 3   Homicidios Hombres                 230 non-null    float64
 4   Homicidios Mujeres por familiares  161 non-null    float64
 5   Homicidios hombres por familiares  107 non-null    float64
 6   Homicidios por 100.000             238 non-null    object
 7   Suicidios mujeres                  230 non-null    float64
 8   Suicidios hombres                  230 non-null    float64
 9   Suicidios                          230 non-null    float64
 10  Suicidios tasa femenina            230 non-null    object
 11  Suicidios tasa masculina           230 non-null    object
 12  Suicidios por 100.000              230 non-null    object
 13  Region                             240 non-null    object
 14  Homicidios Hombres por familiares  54 non-null     float64
 15  REGION                             240 non-null    object
 16  FECHA                              240 non-null    int64
dtypes: float64(9), int64(2), object(6)
memory usage: 32.0+ KB

In [ ]:
# Suponiendo que df_final_segundo es tu DataFrame
columna_a_eliminar = 15  # Índice de la columna que deseas eliminar

# Elimina la columna utilizando el método drop
df_final_segundo = df_final_segundo.drop(df_final_segundo.columns[columna_a_eliminar], axis=1)

In [ ]:
'''
# Obtener el índice de la columna "Region"
region_index = df_final_segundo.columns.get_loc("REGION")

# Mover la columna "Region" a la primera posición
columns = list(df_final_segundo.columns)
columns = ["REGION"] + columns[:region_index] + columns[region_index+1:]
df_final_segundo = df_final_segundo[columns]
'''

'\n# Obtener el índice de la columna "Region"\nregion_index = df_final_segundo.columns.get_loc("REGION")\n\n# Mover la columna "Region" a la primera posición\ncolumns = list(df_final_segundo.columns)\ncolumns = ["REGION"] + columns[:region_index] + columns[region_index+1:]\ndf_final_segundo = df_final_segundo[columns]\n'

In [ ]:
df_final_segundo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Fecha                              240 non-null    int64
 1   Número de Homicidios               238 non-null    float64
 2   Homicidios Mujeres                 230 non-null    float64
 3   Homicidios Hombres                 230 non-null    float64
 4   Homicidios Mujeres por familiares  161 non-null    float64
 5   Homicidios hombres por familiares  107 non-null    float64
 6   Homicidios por 100.000             238 non-null    object
 7   Suicidios mujeres                  230 non-null    float64
 8   Suicidios hombres                  230 non-null    float64
 9   Suicidios                          230 non-null    float64
 10  Suicidios tasa femenina            230 non-null    object
 11  Suicidios tasa masculina           230 non-null    object
 12  Suicidios por 100.000              230 non-null    object
 13  Region                             240 non-null    object
 14  Homicidios Hombres por familiares  54 non-null     float64
 15  FECHA                              240 non-null    int64
dtypes: float64(9), int64(2), object(5)
memory usage: 30.1+ KB

In [ ]:
columnas_masculinas=[
    "Fecha",
    "Region",
    "Homicidios Hombres",
    "Homicidios hombres por familiares",
    "Suicidios hombres",
    "Suicidios tasa masculina"
]
columnas_femeninas=[
    "Fecha",
    "Region",
    "Homicidios Mujeres",
    "Homicidios Mujeres por familiares",
    "Suicidios mujeres",
    "Suicidios tasa femenina"
]
columnas_sin_genero=[
    "REGION",
    "Fecha",
    "Suicidos",
    "Suicidos por 100.000",
    "Homicidios por 100.000"
]

In [ ]:
df_columnas_masculinas=df_final_segundo[columnas_masculinas]
df_columnas_masculinas.rename(columns={"Homicidios Hombres":"Homicidios","Homicidios hombres por familiares":"Homicidios por familiares","Suicidios hombres":"Suicidios","Suicidios tasa masculina":"Tasa suicidios"},inplace=True)
df_columnas_masculinas["gender"]=0
df_columnas_masculinas

,Fecha,Region,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,gender
0,2021,Austria,25.0,3.0,901.0,19.90,0
1,2020,Austria,28.0,9.0,863.0,19.12,0
2,2019,Austria,37.0,10.0,907.0,20.06,0
3,2018,Austria,42.0,7.0,962.0,22.08,0
4,2017,Austria,33.0,10.0,994.0,22.49,0
...,...,...,...,...,...,...,...
235,2017,Slovakia,55.0,9.0,310.0,12.06,0
236,2016,Slovakia,37.0,7.0,330.0,13.06,0
237,2015,Slovakia,30.0,2.0,399.0,15.54,0
238,2014,Slovakia,46.0,7.0,473.0,18.37,0
239,2013,Slovakia,48.0,6.0,537.0,21.00,0

In [ ]:
df_columnas_masculinas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Fecha                      240 non-null    int64
 1   Region                     240 non-null    object
 2   Homicidios                 230 non-null    float64
 3   Homicidios por familiares  107 non-null    float64
 4   Suicidios                  230 non-null    float64
 5   Tasa suicidios             230 non-null    object
 6   gender                     240 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 13.2+ KB

In [ ]:
df_columnas_femeninas=df_final_segundo[columnas_femeninas]
df_columnas_femeninas.rename(columns={
    "Homicidios Mujeres": "Homicidios",
    "Homicidios Mujeres por familiares": "Homicidios por familiares",
    "Suicidios mujeres": "Suicidios",
    "Suicidios tasa femenina": "Tasa suicidios"
}, inplace=True)
df_columnas_femeninas["gender"]=1
df_columnas_femeninas

,Fecha,Region,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,gender
0,2021,Austria,40.0,26.0,226.0,4.80,1
1,2020,Austria,37.0,27.0,236.0,5.19,1
2,2019,Austria,40.0,21.0,253.0,5.52,1
3,2018,Austria,44.0,31.0,266.0,5.85,1
4,2017,Austria,37.0,29.0,267.0,5.86,1
...,...,...,...,...,...,...,...
235,2017,Slovakia,19.0,4.0,67.0,2.44,1
236,2016,Slovakia,20.0,2.0,60.0,2.23,1
237,2015,Slovakia,14.0,1.0,81.0,2.99,1
238,2014,Slovakia,19.0,0.0,83.0,3.06,1
239,2013,Slovakia,23.0,2.0,83.0,3.13,1

In [ ]:
df_final_segundo=pd.concat([df_columnas_masculinas,df_columnas_femeninas],ignore_index=True)

In [ ]:
df_final_segundo.rename(columns={"Fecha":"Date"},inplace=True)

In [ ]:
df_final_segundo

,Date,Region,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,gender
0,2021,Austria,25.0,3.0,901.0,19.90,0
1,2020,Austria,28.0,9.0,863.0,19.12,0
2,2019,Austria,37.0,10.0,907.0,20.06,0
3,2018,Austria,42.0,7.0,962.0,22.08,0
4,2017,Austria,33.0,10.0,994.0,22.49,0
...,...,...,...,...,...,...,...
475,2017,Slovakia,19.0,4.0,67.0,2.44,1
476,2016,Slovakia,20.0,2.0,60.0,2.23,1
477,2015,Slovakia,14.0,1.0,81.0,2.99,1
478,2014,Slovakia,19.0,0.0,83.0,3.06,1
479,2013,Slovakia,23.0,2.0,83.0,3.13,1

In [ ]:
df_final["gender"]=df_final["gender"].replace("female",1)

In [ ]:
df_final["gender"]=df_final["gender"].replace("male",0)

In [ ]:
df_final

15,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013
388,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013
389,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013
390,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013
391,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013

In [ ]:
df_final_segundo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       480 non-null    int64
 1   Region                     480 non-null    object
 2   Homicidios                 460 non-null    float64
 3   Homicidios por familiares  268 non-null    float64
 4   Suicidios                  460 non-null    float64
 5   Tasa suicidios             460 non-null    object
 6   gender                     480 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 26.4+ KB

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 34 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   Region                                                                                                                                 392 non-null    object
 1   FTE employment rate (%,  15+ population)                                                                                               392 non-null    object
 2   Duration of working life (years, 15+ population)                                                                                       392 non-null    object
 3   Employed people in Education, Human Health and Social Work activities (%, 15+ employed)                                                392 non-null    object
 4   Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)                    392 non-null    object
 5   Career Prospects Index (points, 0-100)                                                                                                 392 non-null    object
 6   Mean monthly earnings (PPS, working population)                                                                                        392 non-null    object
 7   Mean equivalised net income (PPS, 16+ population)                                                                                      392 non-null    object
 8   At-risk-of-poverty rate (%, 16+ population)                                                                                            392 non-null    object
 9   S20/S80 income quintile share (16+ population)                                                                                         392 non-null    object
 10  Graduates of tertiary education (%, 15+ population)                                                                                    392 non-null    object
 11  People participating in formal or non-formal education and training (%, 15+ population)                                                392 non-null    object
 12  Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)           392 non-null    object
 13  People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)     392 non-null    object
 14  People doing cooking and/or housework, every day (%, 18+ population)                                                                   392 non-null    object
 15  Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)  392 non-null    object
 16  Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)                                         392 non-null    object
 17  Share of ministers (%)                                                                                                                 392 non-null    object
 18  Share of members of parliament (%)                                                                                                     392 non-null    object
 19  Share of members of regional assemblies (%)                                                                                            392 non-null    object
 20  Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                    392 non-null    object
 21  Share of board members of central bank (%)                                                                                             392 non-null    object
 22  Share of board members of research funding organisations (%)                                                                           392 non-null    object
 23  Share of board members of publically owned broadcasting organisations (%)                                                              392 non-null    object
 24  Share of members of highest decision making body of the national Olympic sport organisations (%)                                       392 non-null    object
 25  Self-perceived health, good or very good (%, 16+ population)                                                                           392 non-null    object
 26  Life expectancy in absolute value at birth (years)                                                                                     392 non-null    object
 27  Healthy life years in absolute value at birth (years)                                                                                  392 non-null    object
 28  People who don’t smoke and are not involved in harmful drinking (%, 16+ population)                                                    392 non-null    object
 29  People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)                                            392 non-null    object
 30  Population with unmet needs for medical examination (%, 16+ population)                                                                392 non-null    object
 31  People with unmet needs for dental examination (%, 16+ population)                                                                     392 non-null    object
 32  gender                                                                                                                                 392 non-null    int64
 33  Date                                                                                                                                   392 non-null    object
dtypes: int64(1), object(33)
memory usage: 104.2+ KB

In [ ]:
df_final['Date'] = df_final['Date'].astype('int64')

In [ ]:
df_final["Date"].value_counts()

2022    56
2021    56
2020    56
2019    56
2017    56
2015    56
2013    56
Name: Date, dtype: int64

In [ ]:
df_final_segundo["Date"].value_counts()

2019    54
2017    54
2016    54
2015    54
2014    54
2013    54
2021    52
2020    52
2018    52
Name: Date, dtype: int64

In [ ]:
df_final_segundo3=df_final_segundo.copy()

In [ ]:
dates_to_remove = [2016, 2014,2018]

In [ ]:
df_final_segundo3=df_final_segundo3.drop(df_final_segundo3[df_final_segundo3["Date"].isin(dates_to_remove)].index)

In [ ]:
df_capstone=pd.merge(df_final,df_final_segundo,on=["Region","Date","gender"],how="left")

In [ ]:
df_final_segundo3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320 entries, 0 to 479
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       320 non-null    int64
 1   Region                     320 non-null    object
 2   Homicidios                 308 non-null    float64
 3   Homicidios por familiares  179 non-null    float64
 4   Suicidios                  300 non-null    float64
 5   Tasa suicidios             300 non-null    object
 6   gender                     320 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 20.0+ KB

In [ ]:
df_capstone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 391
Data columns (total 38 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   Region                                                                                                                                 392 non-null    object
 1   FTE employment rate (%,  15+ population)                                                                                               392 non-null    object
 2   Duration of working life (years, 15+ population)                                                                                       392 non-null    object
 3   Employed people in Education, Human Health and Social Work activities (%, 15+ employed)                                                392 non-null    object
 4   Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)                    392 non-null    object
 5   Career Prospects Index (points, 0-100)                                                                                                 392 non-null    object
 6   Mean monthly earnings (PPS, working population)                                                                                        392 non-null    object
 7   Mean equivalised net income (PPS, 16+ population)                                                                                      392 non-null    object
 8   At-risk-of-poverty rate (%, 16+ population)                                                                                            392 non-null    object
 9   S20/S80 income quintile share (16+ population)                                                                                         392 non-null    object
 10  Graduates of tertiary education (%, 15+ population)                                                                                    392 non-null    object
 11  People participating in formal or non-formal education and training (%, 15+ population)                                                392 non-null    object
 12  Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)           392 non-null    object
 13  People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)     392 non-null    object
 14  People doing cooking and/or housework, every day (%, 18+ population)                                                                   392 non-null    object
 15  Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)  392 non-null    object
 16  Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)                                         392 non-null    object
 17  Share of ministers (%)                                                                                                                 392 non-null    object
 18  Share of members of parliament (%)                                                                                                     392 non-null    object
 19  Share of members of regional assemblies (%)                                                                                            392 non-null    object
 20  Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                    392 non-null    object
 21  Share of board members of central bank (%)                                                                                             392 non-null    object
 22  Share of board members of research funding organisations (%)                                                                           392 non-null    object
 23  Share of board members of publically owned broadcasting organisations (%)                                                              392 non-null    object
 24  Share of members of highest decision making body of the national Olympic sport organisations (%)                                       392 non-null    object
 25  Self-perceived health, good or very good (%, 16+ population)                                                                           392 non-null    object
 26  Life expectancy in absolute value at birth (years)                                                                                     392 non-null    object
 27  Healthy life years in absolute value at birth (years)                                                                                  392 non-null    object
 28  People who don’t smoke and are not involved in harmful drinking (%, 16+ population)                                                    392 non-null    object
 29  People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)                                            392 non-null    object
 30  Population with unmet needs for medical examination (%, 16+ population)                                                                392 non-null    object
 31  People with unmet needs for dental examination (%, 16+ population)                                                                     392 non-null    object
 32  gender                                                                                                                                 392 non-null    int64
 33  Date                                                                                                                                   392 non-null    int64
 34  Homicidios                                                                                                                             296 non-null    float64
 35  Homicidios por familiares                                                                                                              173 non-null    float64
 36  Suicidios                                                                                                                              288 non-null    float64
 37  Tasa suicidios                                                                                                                         288 non-null    object
dtypes: float64(3), int64(2), object(33)
memory usage: 119.4+ KB

In [ ]:
df_capstone

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32
388,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16
389,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80
390,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69
391,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00

In [ ]:
df_capstone["Date"].value_counts()

2022    56
2021    56
2020    56
2019    56
2017    56
2015    56
2013    56
Name: Date, dtype: int64

In [ ]:
df_final["Date"].value_counts()

2022    56
2021    56
2020    56
2019    56
2017    56
2015    56
2013    56
Name: Date, dtype: int64

In [ ]:
df_capstone = df_capstone.drop(df_capstone[df_capstone["Region"] == "European Union - 27 countries (from 2020)"].index)

ESTO SON OTROS DF QUE SE PUEDEN AGRAGAR AL DF MADRE.

In [ ]:
import pandas as pd     # Manejo de dataframes
import numpy as np      # Calculos matriciales
import matplotlib.pyplot as plt    # Visualizacion
import seaborn as sns              # Visualizacion
from google.colab import drive     # Drive en Colab

pd.set_option('display.max_columns', None)   # para visualizar mas columnas en un df

import warnings
warnings.filterwarnings("ignore")  # inhabilita warnings
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_ine=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/11180.xlsx")

In [ ]:
valores_primera_columna = df_ine.iloc[::10, 0]

In [ ]:
valores_primera_columna

0                 Bélgica
10               Bulgaria
20        República Checa
30              Dinamarca
40               Alemania
50                Estonia
60                Irlanda
70                 Grecia
80                 España
90                Francia
100               Croacia
110                Italia
120                Chipre
130               Letonia
140              Lituania
150            Luxemburgo
160               Hungría
170                 Malta
180          Países Bajos
190               Austria
200               Polonia
210              Portugal
220               Rumanía
230             Eslovenia
240    República Eslovaca
250             Finlandia
260                Suecia
270           Reino Unido
Name: DATE, dtype: object

In [ ]:
print(type(df_ine))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
country_names = [
    "Belgium", "Bulgaria", "Czech Republic", "Denmark", "Germany",
    "Estonia", "Ireland", "Greece", "Spain", "France",
    "Croatia", "Italy", "Cyprus", "Latvia", "Lithuania",
    "Luxembourg", "Hungary", "Malta", "Netherlands", "Austria",
    "Poland", "Portugal", "Romania", "Slovenia", "Slovak Republic",
    "Finland", "Sweden", "United Kingdom"
]


# Dividir el DataFrame df_ine en partes de 10 filas cada una
partes = [df_ine[i:i+10] for i in range(0, len(df_ine), 10)]

# Crear nuevos DataFrames con nombres de países
dataframes_paises = {}
for i, parte in enumerate(partes):
    pais = country_names[i]
    dataframes_paises[pais] = parte.copy()

# Mostrar cada nuevo DataFrame por separado
for pais, df_pais in dataframes_paises.items():
    print(f"DataFrame para {pais}:\n{df_pais}\n")

DataFrame para Belgium:
                                       DATE  2022  2021  2020  2019  2018  \
0                                   Bélgica   NaN   NaN   NaN   NaN   NaN
1                                   Mujeres   NaN   NaN   NaN   NaN   NaN
2                          Menos de 25 años  14.4  16.2  15.6  12.3  15.3
3                             25 y más años   4.5     5   4.7   4.4   4.8
4                                   Hombres   NaN   NaN   NaN   NaN   NaN
5                          Menos de 25 años  18.1  19.9  16.1  16.3  16.5
6                             25 y más años   4.8   5.5   5.2   5.0   5.6
7      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
8                          Menos de 25 años  -3.7  -3.7  -0.5  -4.0  -1.2
9                             25 y más años  -0.3  -0.5  -0.5  -0.6  -0.8

   2017  2016  2015  2014  2013  2012  2011  2010  2009
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  18.2  18.3  20.5  22.5  22.5  19.0  18.9  22.4  22.6
3   6.3   6.8   6.9   6.8   7.0   6.5   6.1   7.3   6.8
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5  20.3  21.9  24.1  24.2  25.0  20.7  18.9  22.4  21.6
6   6.1   7.1   8.0   7.8   7.3   6.5   6.1   6.8   6.5
7   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8  -2.1  -3.6  -3.6  -1.7  -2.5  -1.7   0.0   0.0   1.0
9   0.2  -0.3  -1.1  -1.0  -0.3   0.0   0.0   0.5   0.3

DataFrame para Bulgaria:
                                        DATE  2022  2021  2020  2019  2018  \
10                                  Bulgaria   NaN   NaN   NaN   NaN   NaN
11                                   Mujeres   NaN   NaN   NaN   NaN   NaN
12                          Menos de 25 años  10.7  15.3  17.7  11.9  15.7
13                             25 y más años   3.8   4.7   5.3   4.6   5.2
14                                   Hombres   NaN   NaN   NaN   NaN   NaN
15                          Menos de 25 años  10.8  16.1  17.3  12.3  16.0
16                             25 y más años   4.1     5   5.9   5.2   6.2
17      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
18                          Menos de 25 años  -0.1  -0.8   0.4  -0.4  -0.3
19                             25 y más años  -0.3  -0.3  -0.6  -0.6  -1.0

    2017  2016  2015  2014  2013  2012  2011  2010  2009
10   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12  16.3  21.1  26.7  28.3  30.3  30.6  28.1  24.4  17.8
13   6.5   7.4   8.6  10.5  11.8  10.6  10.0   9.6   7.0
14   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15  16.0  20.0  23.6  26.1  32.2  31.5  28.2  25.5  20.3
16   6.9   8.5   9.9  12.4  13.5  13.0  12.0  10.6   6.9
17   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18   0.3   1.1   3.1   2.2  -1.9  -0.9  -0.1  -1.1  -2.5
19  -0.4  -1.1  -1.3  -1.9  -1.7  -2.4  -2.0  -1.0   0.1

DataFrame para Czech Republic:
                                        DATE 2022 2021 2020  2019  2018  2017  \
20                           República Checa  NaN  NaN  NaN   NaN   NaN   NaN
21                                   Mujeres  NaN  NaN  NaN   NaN   NaN   NaN
22                          Menos de 25 años  8.4  9.1  9.2   6.0   7.2   8.7
23                             25 y más años  2.6  3.2  2.7   2.2   2.6   3.3
24                                   Hombres  NaN  NaN  NaN   NaN   NaN   NaN
25                          Menos de 25 años  6.4  7.6  7.2   5.4   6.4   7.4
26                             25 y más años  1.6    2  1.9   1.5   1.5   2.0
27      Brecha de género (mujeres - hombres)  NaN  NaN  NaN   NaN   NaN   NaN
28                          Menos de 25 años    2  1.5    2   0.6   0.8   1.3
29                             25 y más años    1  1.2  0.8   0.7   1.1   1.3

    2016  2015  2014  2013  2012  2011  2010  2009
20   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22  11.4  14.4  17.1  19.4  19.0  18.0  18.5  16.7
23   4.3   5.5   6.8   7.5   7.5   7.2   7.7   7.0
24   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25   9.9  11.3  15.0  18.6  19.9  18.1  18.2  16.6
26   2.9   3.7   4.3   4.9   4.9   4.8   5.4   4.9
27   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28   1.5   3.1   2.1   0.8  -0.9  -0.1   0.3   0.1
29   1.4   1.8   2.5   2.6   2.6   2.4   2.3   2.1

DataFrame para Denmark:
                                        DATE  2022  2021  2020  2019  2018  \
30                                 Dinamarca   NaN   NaN   NaN   NaN   NaN
31                                   Mujeres   NaN   NaN   NaN   NaN   NaN
32                          Menos de 25 años  10.5    11  10.6   9.7   9.2
33                             25 y más años   3.5   4.2   5.2   4.5   4.6
34                                   Hombres   NaN   NaN   NaN   NaN   NaN
35                          Menos de 25 años  10.6  10.7  12.6  10.4  11.8
36                             25 y más años   3.4   4.1   4.2   3.9   3.8
37      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
38                          Menos de 25 años  -0.1   0.3    -2  -0.7  -2.6
39                             25 y más años   0.1   0.1     1   0.6   0.8

    2017  2016  2015  2014  2013  2012  2011  2010  2009
30   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
31   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
32  11.9  10.8  11.1  12.9  13.3  14.8  14.4  13.2  11.6
33   5.0   5.5   5.7   6.1   6.7   6.5   6.4   5.6   4.6
34   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
35  12.9  13.5  13.2  15.6  16.3  16.8  18.2  17.9  15.3
36   4.4   4.4   4.9   5.3   5.6   6.3   6.1   7.1   5.6
37   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
38  -1.0  -2.7  -2.1  -2.7  -3.0  -2.0  -3.8  -4.7  -3.7
39   0.6   1.1   0.8   0.8   1.1   0.2   0.3  -1.5  -1.0

DataFrame para Germany:
                                        DATE 2022 2021 2020  2019  2018  2017  \
40                                  Alemania  NaN  NaN  NaN   NaN   NaN   NaN
41                                   Mujeres  NaN  NaN  NaN   NaN   NaN   NaN
42                          Menos de 25 años  5.4  6.4  7.4   5.1   5.5   6.2
43                             25 y más años  2.5  2.8  2.8   2.3   2.5   2.8
44                                   Hombres  NaN  NaN  NaN   NaN   NaN   NaN
45                          Menos de 25 años  6.3  7.3  8.5   7.0   7.5   8.1
46                             25 y más años  2.9  3.5  3.5   2.9   3.2   3.5
47      Brecha de género (mujeres - hombres)  NaN  NaN  NaN   NaN   NaN   NaN
48                          Menos de 25 años -0.9 -0.9 -1.1  -1.9  -2.0  -1.9
49                             25 y más años -0.4 -0.7 -0.7  -0.6  -0.7  -0.7

    2016  2015  2014  2013  2012  2011  2010  2009
40   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
41   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
42   6.6   7.0   7.6   7.6   7.8   8.4   9.4  10.5
43   3.2   3.7   4.0   4.3   4.5   4.9   5.7   6.4
44   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
45   8.3   8.4   8.8   9.0   9.2   9.7  11.4  13.2
46   3.8   4.3   4.6   4.8   4.8   5.2   6.4   7.0
47   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
48  -1.7  -1.4  -1.2  -1.4  -1.4  -1.3  -2.0  -2.7
49  -0.6  -0.6  -0.6  -0.5  -0.3  -0.3  -0.7  -0.6

DataFrame para Estonia:
                                        DATE  2022  2021  2020  2019  2018  \
50                                   Estonia   NaN   NaN   NaN   NaN   NaN
51                                   Mujeres   NaN   NaN   NaN   NaN   NaN
52                          Menos de 25 años  16.5    15  18.3  12.0  11.1
53                             25 y más años     4   4.8   5.7   4.2   4.7
54                                   Hombres   NaN   NaN   NaN   NaN   NaN
55                          Menos de 25 años    21  18.4  18.4  11.2  12.9
56                             25 y más años     5     6   6.2   3.5   4.9
57      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
58                          Menos de 25 años    ..    ..  -0.1   0.8  -1.8
59                             25 y más años    -1  -1.2  -0.5   0.7  -0.2

    2017  2016  2015  2014  2013  2012  2011  2010  2009
50   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
51   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
52   9.3  10.4  12.9   9.9  19.6  18.2  20.3  28.8  21.5
53   4.8   5.7   5.7   6.4   6.9   8.0  10.6  12.4   9.0
54   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
55  14.7  17.3  15.5  19.3  17.8  22.8  23.8  35.7  31.6
56   5.6   6.7   5.6   6.8   8.2   9.5  11.7  17.3  14.7
57   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
58  -5.4  -6.9  -2.6  -9.4   1.8  -4.6  -3.5  -6.9 -10.1
59  -0.8  -1.0   0.1  -0.4  -1.3  -1.5  -1.1  -4.9  -5.7

DataFrame para Ireland:
                                        DATE  2022  2021  2020  2019  2018  \
60                                   Irlanda   NaN   NaN   NaN   NaN   NaN
61                                   Mujeres   NaN   NaN   NaN   NaN   NaN
62                          Menos de 25 años    10  14.6  15.8  10.6  12.6
63                             25 y más años   3.8   4.9   4.5   3.9   4.8
64                                   Hombres   NaN   NaN   NaN   NaN   NaN
65                          Menos de 25 años  10.2  14.5  15.9  14.2  14.8
66                             25 y más años   3.6   5.2   4.6   4.0   4.7
67      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
68                          Menos de 25 años  -0.2   0.1  -0.1  -3.6  -2.2
69                             25 y más años   0.2  -0.3  -0.1  -0.1   0.1

    2017  2016  2015  2014  2013  2012  2011  2010  2009
60   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
61   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
62  12.6  13.6  16.3  19.8  22.8  23.5  22.3  20.9  16.8
63   5.4   6.7   7.9   9.6  10.9  11.1  10.9   9.7   7.9
64   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
65  16.0  19.7  23.5  26.6  30.3  37.4  36.1  34.7  31.5
66   6.0   7.6   9.1  10.9  12.8  15.0  15.1  14.3  12.1
67   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
68  -3.4  -6.1  -7.2  -6.8  -7.5 -13.9 -13.8 -13.8 -14.7
69  -0.6  -0.9  -1.2  -1.3  -1.9  -3.9  -4.2  -4.6  -4.2

DataFrame para Greece:
                                        DATE  2022  2021  2020  2019  2018  \
70                                    Grecia   NaN   NaN   NaN   NaN   NaN
71                                   Mujeres   NaN   NaN   NaN   NaN   NaN
72                          Menos de 25 años  38.8  40.9  42.8  41.0  45.4
73                             25 y más años  15.2  17.8  20.4  21.3  23.5
74                                   Hombres   NaN   NaN   NaN   NaN   NaN
75                          Menos de 25 años  25.1  31.1  34.2  34.5  37.7
76                             25 y más años   8.5  10.4  13.6  13.3  14.6
77      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
78                          Menos de 25 años  13.7   9.8   8.6   6.5   7.7
79                             25 y más años   6.7   7.4   6.8   8.0   8.9

    2017  2016  2015  2014  2013  2012  2011  2010  2009
70   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
72  49.0  52.1  54.8  58.5  64.6  63.4  52.1  41.1  33.6
73  25.0  27.1  27.2  28.3  29.3  25.9  19.4  14.7  11.8
74   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
75  40.5  44.8  46.5  48.1  54.9  49.4  39.4  27.6  20.1
76  16.9  18.8  20.3  22.1  22.7  20.0  13.6   8.9   6.0
77   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
78   8.5   7.3   8.3  10.4   9.7  14.0  12.7  13.5  13.5
79   8.1   8.3   6.9   6.2   6.6   5.9   5.8   5.8   5.8

DataFrame para Spain:
                                        DATE  2022  2021  2020  2019  2018  \
80                                    España   NaN   NaN   NaN   NaN   NaN
81                                   Mujeres   NaN   NaN   NaN   NaN   NaN
82                          Menos de 25 años  30.8  35.6  39.7  34.5  33.3
83                             25 y más años  13.6  15.4    16  14.7  15.9
84                                   Hombres   NaN   NaN   NaN   NaN   NaN
85                          Menos de 25 años  28.9  34.1  37.1  30.9  35.2
86                             25 y más años   9.9  11.5  12.3  11.1  12.2
87      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
88                          Menos de 25 años   1.9   1.5   2.6   3.6  -1.9
89                             25 y más años   3.7   3.9   3.7   3.6   3.7

    2017  2016  2015  2014  2013  2012  2011  2010  2009
80   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
81   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
82  37.4  44.9  48.0  52.9  54.6  51.4  44.0  39.6  36.1
83  17.7  19.8  21.8  23.4  24.4  22.8  19.7  18.3  16.2
84   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
85  39.5  44.0  48.6  53.4  56.2  54.1  48.2  43.1  39.1
86  14.0  16.3  18.8  21.4  23.2  22.2  18.7  17.4  15.4
87   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
88  -2.1   0.9  -0.6  -0.5  -1.6  -2.7  -4.2  -3.5  -3.0
89   3.7   3.5   3.0   2.0   1.2   0.6   1.0   0.9   0.8

DataFrame para France:
                                        DATE  2022  2021  2020  2019  2018  \
90                                   Francia   NaN   NaN   NaN   NaN   NaN
91                                   Mujeres   NaN   NaN   NaN   NaN   NaN
92                          Menos de 25 años    16  18.8  23.5  21.6  23.5
93                             25 y más años   6.1   6.6   6.5   7.1   7.6
94                                   Hombres   NaN   NaN   NaN   NaN   NaN
95                          Menos de 25 años  18.5    19  19.8  20.0  20.8
96                             25 y más años   6.1   6.7   6.8   7.2   7.6
97      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
98                          Menos de 25 años  -2.5  -0.2   3.7   1.6   2.7
99                             25 y más años     0  -0.1  -0.3  -0.1   0.0

    2017  2016  2015  2014  2013  2012  2011  2010  2009
90   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
91   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
92  24.9  28.0  27.4  27.2  29.5  27.9  27.3  27.8  26.5
93   7.9   8.1   8.2   8.3   8.3   7.9   7.6   7.5   7.3
94   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
95  22.3  24.2  25.1  24.4  23.8  24.1  21.4  22.2  23.8
96   8.0   8.7   9.2   9.0   8.9   8.2   7.5   7.5   7.2
97   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
98   2.6   3.8   2.3   2.8   5.7   3.8   5.9   5.6   2.7
99  -0.1  -0.6  -1.0  -0.7  -0.6  -0.3   0.1   0.0   0.1

DataFrame para Croatia:
                                         DATE  2022  2021  2020  2019  2018  \
100                                   Croacia   NaN   NaN   NaN   NaN   NaN
101                                   Mujeres   NaN   NaN   NaN   NaN   NaN
102                          Menos de 25 años  22.7  26.4    25  19.8  29.4
103                             25 y más años   6.8   6.7   6.4   6.2   7.7
104                                   Hombres   NaN   NaN   NaN   NaN   NaN
105                          Menos de 25 años  14.8  18.9  18.7  14.5  19.6
106                             25 y más años   5.3   6.2   6.3   5.3   6.5
107      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
108                          Menos de 25 años   7.9   7.5   6.3   5.3   9.8
109                             25 y más años   1.5   0.5   0.1   0.9   1.2

     2017  2016  2015  2014  2013  2012  2011  2010  2009
100   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
101   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
102  27.7  31.3  43.7  46.4  50.2  42.0  36.1  33.6  27.5
103  10.5  12.1  14.8  15.9  14.2  14.0  11.9  10.3   9.2
104   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
105  27.1  31.2  41.4  44.9  49.9  42.1  37.0  31.5  23.7
106   8.8  10.4  12.9  13.5  14.6  13.4  11.3   8.7   6.0
107   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
108   0.6   0.1   2.3   1.5   0.3  -0.1  -0.9   2.1   3.8
109   1.7   1.7   1.9   2.4  -0.4   0.6   0.6   1.6   3.2

DataFrame para Italy:
                                         DATE  2022  2021  2020  2019  2018  \
110                                    Italia   NaN   NaN   NaN   NaN   NaN
111                                   Mujeres   NaN   NaN   NaN   NaN   NaN
112                          Menos de 25 años  25.8  32.8  32.1  31.1  34.9
113                             25 y más años   8.4   9.4   9.2   9.9  10.4
114                                   Hombres   NaN   NaN   NaN   NaN   NaN
115                          Menos de 25 años  22.3  27.7  28.4  27.8  30.4
116                             25 y más años   6.1   7.5   7.3   7.9   8.4
117      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
118                          Menos de 25 años   3.5   5.1   3.7   3.3   4.5
119                             25 y más años   2.3   1.9   1.9   2.0   2.0

     2017  2016  2015  2014  2013  2012  2011  2010  2009
110   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
111   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
112  37.2  39.6  42.6  44.6  41.4  37.6  32.2  29.4  28.6
113  10.9  11.1  10.9  11.8  11.3  10.2   8.1   8.3   7.9
114   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
115  32.9  36.3  38.7  41.3  39.0  33.8  27.1  27.0  23.3
116   8.9   9.3   9.6  10.0   9.8   8.3   6.3   6.3   5.6
117   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
118   4.3   3.3   3.9   3.3   2.4   3.8   5.1   2.4   5.3
119   2.0   1.8   1.3   1.8   1.5   1.9   1.8   2.0   2.3

DataFrame para Cyprus:
                                         DATE  2022  2021  2020  2019  2018  \
120                                    Chipre   NaN   NaN   NaN   NaN   NaN
121                                   Mujeres   NaN   NaN   NaN   NaN   NaN
122                          Menos de 25 años  18.5  16.3  12.3  14.3  16.2
123                             25 y más años   6.7   7.1   7.2   7.3   7.9
124                                   Hombres   NaN   NaN   NaN   NaN   NaN
125                          Menos de 25 años  18.7  17.8  24.4  19.3  25.0
126                             25 y más años   4.9   6.1   6.3   5.3   6.7
127      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN
128                          Menos de 25 años  -0.2  -1.5 -12.1  -5.0  -8.8
129                             25 y más años   1.8     1   0.9   2.0   1.2

     2017  2016  2015  2014  2013  2012  2011  2010  2009
120   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
121   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
122  22.9  31.8  31.1  34.6  36.8  26.7  21.5  17.2  14.0
123  10.0  11.4  13.0  12.8  12.8   9.4   6.1   5.1   4.4
124   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
125  27.0  25.8  34.7  37.4  41.1  28.8  23.3  15.9  13.6
126   9.7  11.6  13.4  15.1  14.2  10.9   6.6   5.2   4.4
127   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
128  -4.1   6.0  -3.6  -2.8  -4.3  -2.1  -1.8   1.3   0.4
129   0.3  -0.2  -0.4  -2.3  -1.4  -1.5  -0.5  -0.1   0.0

DataFrame para Latvia:
                                         DATE  2022  2021  2020  2019  2018  \
130                                   Letonia   NaN   NaN   NaN   NaN   NaN
131                                   Mujeres   NaN   NaN   NaN   NaN   NaN
132                          Menos de 25 años  10.2  14.6  15.5  10.1  11.8
133                             25 y más años   5.3   6.1   6.6   5.2   6.1
134                                   Hombres   NaN   NaN   NaN   NaN   NaN
135                          Menos de 25 años  19.4  14.9  14.4  14.7  12.5
136                             25 y más años   7.2   8.1   8.8   6.7   8.1
137      Brecha de género (mujeres - hombres)   NaN   NaN   NaN   NaN   NaN

In [ ]:
df_belgium = dataframes_paises["Belgium"]
df_bulgaria = dataframes_paises["Bulgaria"]
df_czech_republic = dataframes_paises["Czech Republic"]
df_denmark = dataframes_paises["Denmark"]
df_germany = dataframes_paises["Germany"]
df_estonia = dataframes_paises["Estonia"]
df_ireland = dataframes_paises["Ireland"]
df_greece = dataframes_paises["Greece"]
df_spain = dataframes_paises["Spain"]
df_france = dataframes_paises["France"]
df_croatia = dataframes_paises["Croatia"]
df_italy = dataframes_paises["Italy"]
df_cyprus = dataframes_paises["Cyprus"]
df_latvia = dataframes_paises["Latvia"]
df_lithuania = dataframes_paises["Lithuania"]
df_luxembourg = dataframes_paises["Luxembourg"]
df_hungary = dataframes_paises["Hungary"]
df_malta = dataframes_paises["Malta"]
df_netherlands = dataframes_paises["Netherlands"]
df_austria = dataframes_paises["Austria"]
df_poland = dataframes_paises["Poland"]
df_portugal = dataframes_paises["Portugal"]
df_romania = dataframes_paises["Romania"]
df_slovenia = dataframes_paises["Slovenia"]
df_slovak_republic = dataframes_paises["Slovak Republic"]
df_finland = dataframes_paises["Finland"]
df_sweden = dataframes_paises["Sweden"]
df_united_kingdom = dataframes_paises["United Kingdom"]

In [ ]:
def T_en_df(df,country_name):
  df=df.T
  columnas_a_eliminar = [7, 8, 9]
  df.drop(df.columns[columnas_a_eliminar], axis=1, inplace=True)
  df.reset_index(inplace=True)
  df.columns = df.iloc[0]
  df = df[1:]
  df.fillna(country_name, inplace=True)
  df.rename(columns={df.columns[1]: "Region"}, inplace=True)
  df.set_index(df.columns[0], inplace=True)
  df["Regionn"] = df["Region"]
  return df

In [ ]:
def secont_df(df):
  df_mujeres = df.iloc[:, :4]
  df_hombres = df.iloc[:, 4:]

  df_hombres["gender"] = 0
  df_hombres["Region"] = df_hombres["Regionn"]
  del df_hombres["Regionn"]

  df_mujeres["gender"] = 1

  df_resultado = pd.concat([df_hombres, df_mujeres])
  df_resultado.drop(df_resultado.columns[0], axis=1, inplace=True)
  df_resultado.drop(df_resultado.columns[4], axis=1, inplace=True)
  df_resultado.reset_index(drop=False, inplace=True)

  df_resultado.rename(columns={df_resultado.columns[1]: 'Tasa de Paro en personas menores de 25 años'}, inplace=True)
  df_resultado.rename(columns={df_resultado.columns[2]: 'Tasa de Paro en personas de 25 y más años'}, inplace=True)

  return df_resultado

In [ ]:
df_belgium=T_en_df(df_belgium,"Belgium")
df_bulgaria=T_en_df(df_bulgaria,"Bulgaria")
df_czech_republic = T_en_df(df_czech_republic, "Czech Republic")
df_denmark = T_en_df(df_denmark, "Denmark")
df_germany = T_en_df(df_germany, "Germany")
df_estonia = T_en_df(df_estonia, "Estonia")
df_ireland = T_en_df(df_ireland, "Ireland")
df_greece = T_en_df(df_greece, "Greece")
df_spain = T_en_df(df_spain, "Spain")
df_france = T_en_df(df_france, "France")
df_croatia = T_en_df(df_croatia, "Croatia")
df_italy = T_en_df(df_italy, "Italy")
df_cyprus = T_en_df(df_cyprus, "Cyprus")
df_latvia = T_en_df(df_latvia, "Latvia")
df_lithuania = T_en_df(df_lithuania, "Lithuania")
df_luxembourg = T_en_df(df_luxembourg, "Luxembourg")
df_hungary = T_en_df(df_hungary, "Hungary")
df_malta = T_en_df(df_malta, "Malta")
df_netherlands = T_en_df(df_netherlands, "Netherlands")
df_austria = T_en_df(df_austria, "Austria")
df_poland = T_en_df(df_poland, "Poland")
df_portugal = T_en_df(df_portugal, "Portugal")
df_romania = T_en_df(df_romania, "Romania")
df_slovenia = T_en_df(df_slovenia, "Slovenia")
df_slovak_republic = T_en_df(df_slovak_republic, "Slovak Republic")
df_finland = T_en_df(df_finland, "Finland")
df_sweden = T_en_df(df_sweden, "Sweden")
df_united_kingdom = T_en_df(df_united_kingdom, "United Kingdom")

In [ ]:
df_belgium=secont_df(df_belgium)
df_bulgaria=secont_df(df_bulgaria)
df_czech_republic = secont_df(df_czech_republic)
df_denmark = secont_df(df_denmark)
df_germany = secont_df(df_germany)
df_estonia = secont_df(df_estonia)
df_ireland = secont_df(df_ireland)
df_greece = secont_df(df_greece)
df_spain = secont_df(df_spain)
df_france = secont_df(df_france)
df_croatia = secont_df(df_croatia)
df_italy = secont_df(df_italy)
df_cyprus = secont_df(df_cyprus)
df_latvia = secont_df(df_latvia)
df_lithuania = secont_df(df_lithuania)
df_luxembourg = secont_df(df_luxembourg)
df_hungary = secont_df(df_hungary)
df_malta = secont_df(df_malta)
df_netherlands = secont_df(df_netherlands)
df_austria = secont_df(df_austria)
df_poland = secont_df(df_poland)
df_portugal = secont_df(df_portugal)
df_romania = secont_df(df_romania)
df_slovenia = secont_df(df_slovenia)
df_slovak_republic = secont_df(df_slovak_republic)
df_finland = secont_df(df_finland)
df_sweden = secont_df(df_sweden)
df_united_kingdom = secont_df(df_united_kingdom)

In [ ]:
print(
    df_bulgaria,
    df_belgium,
    df_czech_republic,
    df_denmark,
    df_germany,
    df_estonia,
    df_ireland,
    df_greece,
    df_spain,
    df_france,
    df_croatia,
    df_italy,
    df_cyprus,
    df_latvia,
    df_lithuania,
    df_luxembourg,
    df_hungary,
    df_malta,
    df_netherlands,
    df_austria,
    df_poland,
    df_portugal,
    df_romania,
    df_slovenia,
    df_slovak_republic,
    df_finland,
    df_sweden,
    df_united_kingdom
)

0   DATE  Tasa de Paro en personas menores de 25 años  \
0   2022                                         10.8
1   2021                                         16.1
2   2020                                         17.3
3   2019                                         12.3
4   2018                                         16.0
5   2017                                         16.0
6   2016                                         20.0
7   2015                                         23.6
8   2014                                         26.1
9   2013                                         32.2
10  2012                                         31.5
11  2011                                         28.2
12  2010                                         25.5
13  2009                                         20.3
14  2022                                         10.7
15  2021                                         15.3
16  2020                                         17.7
17  2019                                         11.9
18  2018                                         15.7
19  2017                                         16.3
20  2016                                         21.1
21  2015                                         26.7
22  2014                                         28.3
23  2013                                         30.3
24  2012                                         30.6
25  2011                                         28.1
26  2010                                         24.4
27  2009                                         17.8

0   Tasa de Paro en personas de 25 y más años  gender    Region
0                                         4.1       0  Bulgaria
1                                         5.0       0  Bulgaria
2                                         5.9       0  Bulgaria
3                                         5.2       0  Bulgaria
4                                         6.2       0  Bulgaria
5                                         6.9       0  Bulgaria
6                                         8.5       0  Bulgaria
7                                         9.9       0  Bulgaria
8                                        12.4       0  Bulgaria
9                                        13.5       0  Bulgaria
10                                       13.0       0  Bulgaria
11                                       12.0       0  Bulgaria
12                                       10.6       0  Bulgaria
13                                        6.9       0  Bulgaria
14                                        3.8       1  Bulgaria
15                                        4.7       1  Bulgaria
16                                        5.3       1  Bulgaria
17                                        4.6       1  Bulgaria
18                                        5.2       1  Bulgaria
19                                        6.5       1  Bulgaria
20                                        7.4       1  Bulgaria
21                                        8.6       1  Bulgaria
22                                       10.5       1  Bulgaria
23                                       11.8       1  Bulgaria
24                                       10.6       1  Bulgaria
25                                       10.0       1  Bulgaria
26                                        9.6       1  Bulgaria
27                                        7.0       1  Bulgaria   0   DATE  Tasa de Paro en personas menores de 25 años  \
0   2022                                         18.1
1   2021                                         19.9
2   2020                                         16.1
3   2019                                         16.3
4   2018                                         16.5
5   2017                                         20.3
6   2016                                         21.9
7   2015                                         24.1
8   2014                                         24.2
9   2013                                         25.0
10  2012                                         20.7
11  2011                                         18.9
12  2010                                         22.4
13  2009                                         21.6
14  2022                                         14.4
15  2021                                         16.2
16  2020                                         15.6
17  2019                                         12.3
18  2018                                         15.3
19  2017                                         18.2
20  2016                                         18.3
21  2015                                         20.5
22  2014                                         22.5
23  2013                                         22.5
24  2012                                         19.0
25  2011                                         18.9
26  2010                                         22.4
27  2009                                         22.6

0   Tasa de Paro en personas de 25 y más años  gender   Region
0                                         4.8       0  Belgium
1                                         5.5       0  Belgium
2                                         5.2       0  Belgium
3                                         5.0       0  Belgium
4                                         5.6       0  Belgium
5                                         6.1       0  Belgium
6                                         7.1       0  Belgium
7                                         8.0       0  Belgium
8                                         7.8       0  Belgium
9                                         7.3       0  Belgium
10                                        6.5       0  Belgium
11                                        6.1       0  Belgium
12                                        6.8       0  Belgium
13                                        6.5       0  Belgium
14                                        4.5       1  Belgium
15                                        5.0       1  Belgium
16                                        4.7       1  Belgium
17                                        4.4       1  Belgium
18                                        4.8       1  Belgium
19                                        6.3       1  Belgium
20                                        6.8       1  Belgium
21                                        6.9       1  Belgium
22                                        6.8       1  Belgium
23                                        7.0       1  Belgium
24                                        6.5       1  Belgium
25                                        6.1       1  Belgium
26                                        7.3       1  Belgium
27                                        6.8       1  Belgium   0   DATE  Tasa de Paro en personas menores de 25 años  \
0   2022                                          6.4
1   2021                                          7.6
2   2020                                          7.2
3   2019                                          5.4
4   2018                                          6.4
5   2017                                          7.4
6   2016                                          9.9
7   2015                                         11.3
8   2014                                         15.0
9   2013                                         18.6
10  2012                                         19.9
11  2011                                         18.1
12  2010                                         18.2
13  2009                                         16.6
14  2022                                          8.4
15  2021                                          9.1
16  2020                                          9.2
17  2019                                          6.0
18  2018                                          7.2
19  2017                                          8.7
20  2016                                         11.4
21  2015                                         14.4
22  2014                                         17.1
23  2013                                         19.4
24  2012                                         19.0
25  2011                                         18.0
26  2010                                         18.5
27  2009                                         16.7

0   Tasa de Paro en personas de 25 y más años  gender          Region
0                                         1.6       0  Czech Republic
1                                         2.0       0  Czech Republic
2                                         1.9       0  Czech Republic
3                                         1.5       0  Czech Republic
4                                         1.5       0  Czech Republic
5                                         2.0       0  Czech Republic
6                                         2.9       0  Czech Republic
7                                         3.7       0  Czech Republic
8                                         4.3       0  Czech Republic
9                                         4.9       0  Czech Republic
10                                        4.9       0  Czech Republic
11                                        4.8       0  Czech Republic
12                                        5.4       0  Czech Republic
13                                        4.9       0  Czech Republic
14                                        2.6       1  Czech Republic
15                                        3.2       1  Czech Republic
16                                        2.7       1  Czech Republic
17                                        2.2       1  Czech Republic
18                                        2.6       1  Czech Republic
19                                        3.3       1  Czech Republic
20                                        4.3       1  Czech Republic
21                                        5.5       1  Czech Republic
22                                        6.8       1  Czech Republic
23                                        7.5       1  Czech Republic
24                                        7.5       1  Czech Republic
25                                        7.2       1  Czech Republic
26                                        7.7       1  Czech Republic
27                                        7.0       1  Czech Republic   0   DATE  Tasa de Paro en personas menores de 25 años  \
0   2022                                         10.6
1   2021                                         10.7
2   2020                                         12.6
3   2019                                         10.4
4   2018                                         11.8
5   2017                                         12.9
6   2016                                         13.5
7   2015                                         13.2
8   2014                                         15.6
9   2013                                         16.3
10  2012                                         16.8
11  2011                                         18.2
12  2010                                         17.9
13  2009                                         15.3
14  2022                                         10.5
15  2021                                         11.0
16  2020                                         10.6
17  2019                                          9.7
18  2018                                          9.2
19  2017                                         11.9
20  2016                                         10.8
21  2015                                         11.1
22  2014                                         12.9
23  2013                                         13.3
24  2012                                         14.8
25  2011                                         14.4
26  2010                                         13.2
27  2009                                         11.6

0   Tasa de Paro en personas de 25 y más años  gender   Region
0                                         3.4       0  Denmark
1                                         4.1       0  Denmark
2                                         4.2       0  Denmark
3                                         3.9       0  Denmark
4                                         3.8       0  Denmark
5                                         4.4       0  Denmark
6                                         4.4       0  Denmark
7                                         4.9       0  Denmark
8                                         5.3       0  Denmark
9                                         5.6       0  Denmark
10                                        6.3       0  Denmark
11                                        6.1       0  Denmark
12                                        7.1       0  Denmark
13                                        5.6       0  Denmark
14                                        3.5       1  Denmark
15                                        4.2       1  Denmark
16                                        5.2       1  Denmark
17                                        4.5       1  Denmark
18                                        4.6       1  Denmark
19                                        5.0       1  Denmark
20                                        5.5       1  Denmark
21                                        5.7       1  Denmark
22                                        6.1       1  Denmark
23                                        6.7       1  Denmark
24                                        6.5       1  Denmark
25                                        6.4       1  Denmark
26                                        5.6       1  Denmark
27                                        4.6       1  Denmark   0   DATE  Tasa de Paro en personas menores de 25 años  \
0   2022                                          6.3
1   2021                                          7.3
2   2020                                          8.5
3   2019                                          7.0
4   2018                                          7.5
5   2017                                          8.1
6   2016                                          8.3
7   2015                                          8.4
8   2014                                          8.8
9   2013                                          9.0
10  2012                                          9.2
11  2011                                          9.7
12  2010                                         11.4
13  2009                                         13.2
14  2022                                          5.4
15  2021                                          6.4
16  2020                                          7.4
17  2019                                          5.1
18  2018                                          5.5
19  2017                                          6.2
20  2016                                          6.6
21  2015                                          7.0
22  2014                                          7.6
23  2013                                          7.6
24  2012                                          7.8
25  2011                                          8.4
26  2010                                          9.4
27  2009                                         10.5

0   Tasa de Paro en personas de 25 y más años  gender   Region
0                                         2.9       0  Germany
1                                         3.5       0  Germany
2                                         3.5       0  Germany
3                                         2.9       0  Germany
4                                         3.2       0  Germany
5                                         3.5       0  Germany
6                                         3.8       0  Germany
7                                         4.3       0  Germany
8                                         4.6       0  Germany
9                                         4.8       0  Germany
10                                        4.8       0  Germany
11                                        5.2       0  Germany
12                                        6.4       0  Germany
13                                        7.0       0  Germany
14                                        2.5       1  Germany
15                                        2.8       1  Germany
16                                        2.8       1  Germany
17                                        2.3       1  Germany
18                                        2.5       1  Germany
19                                        2.8       1  Germany
20                                        3.2       1  Germany
21                                        3.7       1  Germany
22                                        4.0       1  Germany
23                                        4.3       1  Germany
24                                        4.5       1  Germany
25                                        4.9       1  Germany
26                                        5.7       1  Germany
27                                        6.4       1  Germany   0   DATE  Tasa de Paro en personas menores de 25 años  \
0   2022                                         21.0
1   2021                                         18.4
2   2020                                         18.4
3   2019                                         11.2
4   2018                                         12.9
5   2017                                         14.7
6   2016                                         17.3
7   2015                                         15.5
8   2014                                         19.3
9   2013                                         17.8
10  2012                                         22.8
11  2011                                         23.8
12  2010                                         35.7
13  2009                                         31.6
14  2022                                         16.5
15  2021                                         15.0
16  2020                                         18.3
17  2019                                         12.0
18  2018                                         11.1
19  2017                                          9.3
20  2016                                         10.4
21  2015                                         12.9
22  2014                                          9.9
23  2013                                         19.6
24  2012                                         18.2
25  2011                                         20.3
26  2010                                         28.8
27  2009                                         21.5

0   Tasa de Paro en personas de 25 y más años  gender   Region
0                                         5.0       0  Estonia
1                                         6.0       0  Estonia
2                                         6.2       0  Estonia
3                                         3.5       0  Estonia
4                                         4.9       0  Estonia
5                                         5.6       0  Estonia
6                                         6.7       0  Estonia
7                                         5.6       0  Estonia
8                                         6.8       0  Estonia
9                                         8.2       0  Estonia
10                                        9.5       0  Estonia
11                                       11.7       0  Estonia
12                                       17.3       0  Estonia
13                                       14.7       0  Estonia
14                                        4.0       1  Estonia
15                                        4.8       1  Estonia
16                                        5.7       1  Estonia
17                                        4.2       1  Estonia

In [ ]:
# Lista de todos los dataframes
dfs = [
    df_bulgaria,
    df_belgium,
    df_czech_republic,
    df_denmark,
    df_germany,
    df_estonia,
    df_ireland,
    df_greece,
    df_spain,
    df_france,
    df_croatia,
    df_italy,
    df_cyprus,
    df_latvia,
    df_lithuania,
    df_luxembourg,
    df_hungary,
    df_malta,
    df_netherlands,
    df_austria,
    df_poland,
    df_portugal,
    df_romania,
    df_slovenia,
    df_slovak_republic,
    df_finland,
    df_sweden,
    df_united_kingdom
]

# Concatenar los dataframes en uno solo
concatenated_df = pd.concat(dfs, ignore_index=True)

In [ ]:
concatenated_df

,DATE,Tasa de Paro en personas menores de 25 años,Tasa de Paro en personas de 25 y más años,gender,Region
0,2022,10.8,4.1,0,Bulgaria
1,2021,16.1,5.0,0,Bulgaria
2,2020,17.3,5.9,0,Bulgaria
3,2019,12.3,5.2,0,Bulgaria
4,2018,16.0,6.2,0,Bulgaria
...,...,...,...,...,...
779,2013,18.1,5.2,1,United Kingdom
780,2012,18.2,5.5,1,United Kingdom
781,2011,18.5,5.4,1,United Kingdom
782,2010,17.6,5.0,1,United Kingdom
783,2009,16.1,4.7,1,United Kingdom

In [ ]:
len(concatenated_df["Region"].value_counts())

28

In [ ]:
concatenated_df = concatenated_df[concatenated_df["Region"] != "United Kingdom"]

In [ ]:
df_capstone["Region"].value_counts()

Austria        14
Ireland        14
Slovenia       14
Sweden         14
Romania        14
Portugal       14
Poland         14
Netherlands    14
Malta          14
Latvia         14
Luxembourg     14
Lithuania      14
Italy          14
Hungary        14
Belgium        14
Croatia        14
France         14
Finland        14
Spain          14
Greece         14
Estonia        14
Denmark        14
Germany        14
Czechia        14
Cyprus         14
Bulgaria       14
Slovakia       14
Name: Region, dtype: int64

In [ ]:
concatenated_df["Date"]=concatenated_df["DATE"]

In [ ]:
del(concatenated_df["DATE"])

In [ ]:
df_bulgaria

,DATE,Tasa de Paro en personas menores de 25 años,Tasa de Paro en personas de 25 y más años,gender,Region
0,2022,10.8,4.1,0,Bulgaria
1,2021,16.1,5.0,0,Bulgaria
2,2020,17.3,5.9,0,Bulgaria
3,2019,12.3,5.2,0,Bulgaria
4,2018,16.0,6.2,0,Bulgaria
5,2017,16.0,6.9,0,Bulgaria
6,2016,20.0,8.5,0,Bulgaria
7,2015,23.6,9.9,0,Bulgaria
8,2014,26.1,12.4,0,Bulgaria
9,2013,32.2,13.5,0,Bulgaria
10,2012,31.5,13.0,0,Bulgaria
11,2011,28.2,12.0,0,Bulgaria
12,2010,25.5,10.6,0,Bulgaria
13,2009,20.3,6.9,0,Bulgaria
14,2022,10.7,3.8,1,Bulgaria
15,2021,15.3,4.7,1,Bulgaria
16,2020,17.7,5.3,1,Bulgaria
17,2019,11.9,4.6,1,Bulgaria
18,2018,15.7,5.2,1,Bulgaria
19,2017,16.3,6.5,1,Bulgaria
20,2016,21.1,7.4,1,Bulgaria
21,2015,26.7,8.6,1,Bulgaria
22,2014,28.3,10.5,1,Bulgaria
23,2013,30.3,11.8,1,Bulgaria
24,2012,30.6,10.6,1,Bulgaria
25,2011,28.1,10.0,1,Bulgaria
26,2010,24.4,9.6,1,Bulgaria
27,2009,17.8,7.0,1,Bulgaria

In [ ]:
concatenated_df

,Tasa de Paro en personas menores de 25 años,Tasa de Paro en personas de 25 y más años,gender,Region,Date
0,10.8,4.1,0,Bulgaria,2022
1,16.1,5.0,0,Bulgaria,2021
2,17.3,5.9,0,Bulgaria,2020
3,12.3,5.2,0,Bulgaria,2019
4,16.0,6.2,0,Bulgaria,2018
...,...,...,...,...,...
751,21.8,5.9,1,Sweden,2013
752,21.8,5.7,1,Sweden,2012
753,21.8,5.7,1,Sweden,2011
754,23.1,6.4,1,Sweden,2010
755,23.3,5.8,1,Sweden,2009

In [ ]:
df_capstone

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32
388,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16
389,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80
390,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69
391,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00

In [ ]:
df_capstone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 0 to 391
Data columns (total 38 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   Region                                                                                                                                 378 non-null    object
 1   FTE employment rate (%,  15+ population)                                                                                               378 non-null    object
 2   Duration of working life (years, 15+ population)                                                                                       378 non-null    object
 3   Employed people in Education, Human Health and Social Work activities (%, 15+ employed)                                                378 non-null    object
 4   Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)                    378 non-null    object
 5   Career Prospects Index (points, 0-100)                                                                                                 378 non-null    object
 6   Mean monthly earnings (PPS, working population)                                                                                        378 non-null    object
 7   Mean equivalised net income (PPS, 16+ population)                                                                                      378 non-null    object
 8   At-risk-of-poverty rate (%, 16+ population)                                                                                            378 non-null    object
 9   S20/S80 income quintile share (16+ population)                                                                                         378 non-null    object
 10  Graduates of tertiary education (%, 15+ population)                                                                                    378 non-null    object
 11  People participating in formal or non-formal education and training (%, 15+ population)                                                378 non-null    object
 12  Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)           378 non-null    object
 13  People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)     378 non-null    object
 14  People doing cooking and/or housework, every day (%, 18+ population)                                                                   378 non-null    object
 15  Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)  378 non-null    object
 16  Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)                                         378 non-null    object
 17  Share of ministers (%)                                                                                                                 378 non-null    object
 18  Share of members of parliament (%)                                                                                                     378 non-null    object
 19  Share of members of regional assemblies (%)                                                                                            378 non-null    object
 20  Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                    378 non-null    object
 21  Share of board members of central bank (%)                                                                                             378 non-null    object
 22  Share of board members of research funding organisations (%)                                                                           378 non-null    object
 23  Share of board members of publically owned broadcasting organisations (%)                                                              378 non-null    object
 24  Share of members of highest decision making body of the national Olympic sport organisations (%)                                       378 non-null    object
 25  Self-perceived health, good or very good (%, 16+ population)                                                                           378 non-null    object
 26  Life expectancy in absolute value at birth (years)                                                                                     378 non-null    object
 27  Healthy life years in absolute value at birth (years)                                                                                  378 non-null    object
 28  People who don’t smoke and are not involved in harmful drinking (%, 16+ population)                                                    378 non-null    object
 29  People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)                                            378 non-null    object
 30  Population with unmet needs for medical examination (%, 16+ population)                                                                378 non-null    object
 31  People with unmet needs for dental examination (%, 16+ population)                                                                     378 non-null    object
 32  gender                                                                                                                                 378 non-null    int64
 33  Date                                                                                                                                   378 non-null    int64
 34  Homicidios                                                                                                                             296 non-null    float64
 35  Homicidios por familiares                                                                                                              173 non-null    float64
 36  Suicidios                                                                                                                              288 non-null    float64
 37  Tasa suicidios                                                                                                                         288 non-null    object
dtypes: float64(3), int64(2), object(33)
memory usage: 115.2+ KB

In [ ]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 756 entries, 0 to 755
Data columns (total 5 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Tasa de Paro en personas menores de 25 años  756 non-null    object
 1   Tasa de Paro en personas de 25 y más años    756 non-null    object
 2   gender                                       756 non-null    int64
 3   Region                                       756 non-null    object
 4   Date                                         756 non-null    object
dtypes: int64(1), object(4)
memory usage: 35.4+ KB

In [ ]:
concatenated_df['Date'] = concatenated_df['Date'].astype('int64')

In [ ]:
df_capstone=pd.merge(df_capstone,concatenated_df,on=["Region","Date","gender"],how="left")

In [ ]:
pd.to_pickle(df_capstone,"/content/drive/MyDrive/capstone igualdad de genero/df.pickle_capstone")

In [ ]:
df_capstone

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 años,Tasa de Paro en personas de 25 y más años
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN

In [ ]:
df_capstone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 0 to 377
Data columns (total 40 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   Region                                                                                                                                 378 non-null    object
 1   FTE employment rate (%,  15+ population)                                                                                               378 non-null    object
 2   Duration of working life (years, 15+ population)                                                                                       378 non-null    object
 3   Employed people in Education, Human Health and Social Work activities (%, 15+ employed)                                                378 non-null    object
 4   Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)                    378 non-null    object
 5   Career Prospects Index (points, 0-100)                                                                                                 378 non-null    object
 6   Mean monthly earnings (PPS, working population)                                                                                        378 non-null    object
 7   Mean equivalised net income (PPS, 16+ population)                                                                                      378 non-null    object
 8   At-risk-of-poverty rate (%, 16+ population)                                                                                            378 non-null    object
 9   S20/S80 income quintile share (16+ population)                                                                                         378 non-null    object
 10  Graduates of tertiary education (%, 15+ population)                                                                                    378 non-null    object
 11  People participating in formal or non-formal education and training (%, 15+ population)                                                378 non-null    object
 12  Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)           378 non-null    object
 13  People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)     378 non-null    object
 14  People doing cooking and/or housework, every day (%, 18+ population)                                                                   378 non-null    object
 15  Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)  378 non-null    object
 16  Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)                                         378 non-null    object
 17  Share of ministers (%)                                                                                                                 378 non-null    object
 18  Share of members of parliament (%)                                                                                                     378 non-null    object
 19  Share of members of regional assemblies (%)                                                                                            378 non-null    object
 20  Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                    378 non-null    object
 21  Share of board members of central bank (%)                                                                                             378 non-null    object
 22  Share of board members of research funding organisations (%)                                                                           378 non-null    object
 23  Share of board members of publically owned broadcasting organisations (%)                                                              378 non-null    object
 24  Share of members of highest decision making body of the national Olympic sport organisations (%)                                       378 non-null    object
 25  Self-perceived health, good or very good (%, 16+ population)                                                                           378 non-null    object
 26  Life expectancy in absolute value at birth (years)                                                                                     378 non-null    object
 27  Healthy life years in absolute value at birth (years)                                                                                  378 non-null    object
 28  People who don’t smoke and are not involved in harmful drinking (%, 16+ population)                                                    378 non-null    object
 29  People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)                                            378 non-null    object
 30  Population with unmet needs for medical examination (%, 16+ population)                                                                378 non-null    object
 31  People with unmet needs for dental examination (%, 16+ population)                                                                     378 non-null    object
 32  gender                                                                                                                                 378 non-null    int64
 33  Date                                                                                                                                   378 non-null    int64
 34  Homicidios                                                                                                                             296 non-null    float64
 35  Homicidios por familiares                                                                                                              173 non-null    float64
 36  Suicidios                                                                                                                              288 non-null    float64
 37  Tasa suicidios                                                                                                                         288 non-null    object
 38  Tasa de Paro en personas menores de 25 años                                                                                            350 non-null    object
 39  Tasa de Paro en personas de 25 y más años                                                                                              350 non-null    object
dtypes: float64(3), int64(2), object(35)
memory usage: 121.1+ KB