<a href="https://colab.research.google.com/github/wildhugecoconut/JBB-Nuclio-Capstone/blob/main/JBB_CAPSTONE_PROJECT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd     # Manejo de dataframes
import numpy as np      # Calculos matriciales
import matplotlib.pyplot as plt    # Visualizacion
import seaborn as sns              # Visualizacion
from google.colab import drive     # Drive en Colab

pd.set_option('display.max_columns', None)   # para visualizar mas columnas en un df

import warnings
warnings.filterwarnings("ignore")  # inhabilita warnings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_capstone=pd.read_pickle("/content/drive/MyDrive/capstone igualdad de genero/df.pickle_capstone")

In [ ]:
df_capstone.head(28)

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who dont smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%),"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",Esperenza de vida
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Germany,43,37,31,16,65,2765,25297,19,16,22,13,40,25,72,22,16,50,34,31,37,33,45,34,22,62,84,67,61,52,1,1,1,2022,NaN,NaN,NaN,NaN,5.4,2.5,NaN,NaN,NaN,NaN
6,Denmark,46,38,43,32,70,2868,23881,13,26,34,31,52,25,82,53,17,30,42,39,39,36,48,45,27,70,84,58,62,66,7,6,1,2022,NaN,NaN,NaN,NaN,10.5,3.5,NaN,NaN,NaN,NaN
7,Estonia,50,39,26,15,66,1461,15561,24,21,45,21,45,35,76,34,12,40,28,29,8,9,17,11,14,56,83,60,79,35,18,4,1,2022,NaN,NaN,NaN,NaN,16.5,4.0,NaN,NaN,NaN,NaN
8,Greece,33,29,24,14,51,1524,11574,18,19,24,11,36,38,85,11,7,16,21,21,23,17,11,17,11,77,84,67,76,25,13,10,1,2022,NaN,NaN,NaN,NaN,38.8,15.2,NaN,NaN,NaN,NaN
9,Spain,38,33,25,33,56,1961,18834,21,17,32,17,49,40,84,39,6,45,42,47,35,50,56,40,29,70,85,66,79,38,3,5,1,2022,NaN,NaN,NaN,NaN,30.8,13.6,NaN,NaN,NaN,NaN
10,Finland,47,38,39,27,65,2419,22607,13,27,40,33,50,36,86,60,15,50,46,45,36,25,38,43,30,69,85,56,69,75,8,7,1,2022,NaN,NaN,NaN,NaN,14.0,5.4,NaN,NaN,NaN,NaN
11,France,42,34,35,18,64,2282,21771,14,22,33,21,39,46,80,32,12,52,39,49,46,45,40,46,37,67,85,65,72,38,5,9,1,2022,NaN,NaN,NaN,NaN,16.0,6.1,NaN,NaN,NaN,NaN
12,Croatia,40,30,26,25,60,1572,11838,20,21,22,11,36,35,62,13,11,28,32,32,27,22,29,60,10,61,81,60,71,25,5,2,1,2022,NaN,NaN,NaN,NaN,22.7,6.8,NaN,NaN,NaN,NaN
13,Hungary,45,31,26,16,64,1408,10740,13,25,24,13,41,30,56,17,11,14,13,14,10,11,0,43,12,59,79,64,72,35,4,3,1,2022,NaN,NaN,NaN,NaN,9.5,3.1,NaN,NaN,NaN,NaN
14,Ireland,44,34,35,37,65,2597,22781,14,25,41,20,49,44,89,40,15,26,28,26,33,40,45,50,23,83,84,67,69,56,3,2,1,2022,NaN,NaN,NaN,NaN,10.0,3.8,NaN,NaN,NaN,NaN
15,Italy,31,26,27,19,52,2201,20015,20,17,17,12,48,34,81,24,13,43,36,23,40,28,30,33,26,70,85,69,80,25,2,4,1,2022,NaN,NaN,NaN,NaN,25.8,8.4,NaN,NaN,NaN,NaN
16,Lithuania,51,38,28,19,62,1316,14460,24,17,38,14,44,41,79,13,5,42,28,30,23,25,33,25,19,41,80,59,82,31,3,3,1,2022,NaN,NaN,NaN,NaN,10.4,5.2,NaN,NaN,NaN,NaN
17,Luxembourg,46,33,26,23,70,3497,33047,17,20,36,23,38,41,78,37,10,35,35,26,24,44,56,44,20,73,85,62,67,49,1,1,1,2022,NaN,NaN,NaN,NaN,18.5,3.6,NaN,NaN,NaN,NaN
18,Latvia,50,37,26,25,63,1349,12815,26,16,40,15,44,40,82,17,8,29,27,13,20,33,76,75,26,46,80,54,79,23,9,13,1,2022,NaN,NaN,NaN,NaN,10.2,5.3,NaN,NaN,NaN,NaN
19,Malta,46,32,30,37,69,2238,21830,17,21,25,16,52,42,81,25,10,8,15,26,14,27,40,33,14,73,85,71,73,22,1,1,1,2022,NaN,NaN,NaN,NaN,5.6,2.3,NaN,NaN,NaN,NaN
20,Netherlands,39,39,36,48,61,2374,24479,14,25,34,25,36,39,81,56,22,48,37,33,39,33,50,22,29,76,83,60,75,71,1,1,1,2022,NaN,NaN,NaN,NaN,8.0,2.9,NaN,NaN,NaN,NaN
21,Poland,45,31,25,16,60,1677,14453,16,25,29,11,39,47,82,17,6,16,28,27,25,13,21,20,9,59,81,64,76,24,16,4,1,2022,NaN,NaN,NaN,NaN,11.4,2.4,NaN,NaN,NaN,NaN
22,Portugal,47,36,30,23,56,1367,14338,17,20,24,15,38,36,78,10,7,38,40,27,31,20,42,50,14,47,84,59,83,26,4,12,1,2022,NaN,NaN,NaN,NaN,20.5,5.6,NaN,NaN,NaN,NaN
23,Romania,42,30,17,18,66,1732,8797,23,15,14,8,34,46,75,6,6,5,20,20,17,0,45,28,13,69,78,61,73,6,8,7,1,2022,NaN,NaN,NaN,NaN,24.9,3.9,NaN,NaN,NaN,NaN
24,Sweden,58,41,42,35,67,2628,21408,17,25,44,39,53,29,74,51,27,52,46,48,37,29,53,54,55,73,84,73,80,60,4,3,1,2022,NaN,NaN,NaN,NaN,23.5,5.9,NaN,NaN,NaN,NaN
25,Slovenia,48,35,29,25,60,1847,17915,14,30,32,15,42,35,81,41,18,25,23,32,24,25,57,40,6,64,83,66,68,31,4,5,1,2022,NaN,NaN,NaN,NaN,12.0,3.8,NaN,NaN,NaN,NaN
26,Slovakia,46,32,28,11,66,1285,10504,11,33,24,10,51,35,60,11,9,23,21,14,29,0,15,22,13,62,80,57,76,31,8,5,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Austria,60,40,9,36,65,3018,27206,12,24,30,16,22,21,28,25,15,47,59,65,66,100,57,60,84,75,79,58,56,48,0,1,0,2022,NaN,NaN,NaN,NaN,9.5,4.4,NaN,NaN,NaN,NaN

In [ ]:
data = {
    "Region": ["Austria", "Belgium", "Bulgaria", "Cyprus", "Czechia", "Germany", "Denmark", "Estonia", "Greece", "Spain",
               "Finland", "France", "Croatia", "Hungary", "Ireland", "Italy", "Lithuania", "Luxembourg", "Latvia", "Malta",
               "Netherlands", "Poland", "Portugal", "Romania", "Sweden", "Slovenia", "Slovakia"],
    "Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)": [22.2, 24.7, 22.7, 30.9, 16.1, 12.6, 21, 19.2, 22.6, 25.6, 16.5, 25.3, 18, 16.7, 37.9, 25.8, 18.3, 21.9, 28.3, 31.3, 26.3, 23.5, 28.5, 29.1, 22, 15.8, 22.8]
}

df_covid_phms = pd.DataFrame(data)

In [ ]:
df_covid_phms["gender"]=1

In [ ]:
df_covid_phms["Date"]=2021

In [ ]:
df_covid_phms

,Region,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%),gender,Date
0,Austria,22.2,1,2021
1,Belgium,24.7,1,2021
2,Bulgaria,22.7,1,2021
3,Cyprus,30.9,1,2021
4,Czechia,16.1,1,2021
5,Germany,12.6,1,2021
6,Denmark,21.0,1,2021
7,Estonia,19.2,1,2021
8,Greece,22.6,1,2021
9,Spain,25.6,1,2021
10,Finland,16.5,1,2021
11,France,25.3,1,2021
12,Croatia,18.0,1,2021
13,Hungary,16.7,1,2021
14,Ireland,37.9,1,2021
15,Italy,25.8,1,2021
16,Lithuania,18.3,1,2021
17,Luxembourg,21.9,1,2021
18,Latvia,28.3,1,2021
19,Malta,31.3,1,2021
20,Netherlands,26.3,1,2021
21,Poland,23.5,1,2021
22,Portugal,28.5,1,2021
23,Romania,29.1,1,2021
24,Sweden,22.0,1,2021
25,Slovenia,15.8,1,2021
26,Slovakia,22.8,1,2021

In [ ]:
def covidtimem(df):
  df["gender"]=1
  df["Date"]=2021
  return df

In [ ]:
def covidtimeh(df):
  df["gender"]=0
  df["Date"]=2021
  return df

In [ ]:
data = {
    "Region": ["Austria", "Belgium", "Bulgaria", "Cyprus", "Czechia", "Germany", "Denmark", "Estonia", "Greece", "Spain",
               "Finland", "France", "Croatia", "Hungary", "Ireland", "Italy", "Lithuania", "Luxembourg", "Latvia", "Malta",
               "Netherlands", "Poland", "Portugal", "Romania", "Sweden", "Slovenia", "Slovakia"],
    "Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)": [14.3, 9.2, 9.5, 8.2, 7.3, 8.4, 7.6, 19.9, 3.8, 16.1, 6.6, 8.9, 0, 15.3, 17.6, 6.5, 3.5, 11.4, 5.7, 13.2, 24.3, 18.2, 16.1, 14.7, 8.4, 3.8, 11.3]
}

df_covid_phh= pd.DataFrame(data)

In [ ]:
covidtimeh(df_covid_phh)
df_covid_phh

,Region,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%),gender,Date
0,Austria,14.3,0,2021
1,Belgium,9.2,0,2021
2,Bulgaria,9.5,0,2021
3,Cyprus,8.2,0,2021
4,Czechia,7.3,0,2021
5,Germany,8.4,0,2021
6,Denmark,7.6,0,2021
7,Estonia,19.9,0,2021
8,Greece,3.8,0,2021
9,Spain,16.1,0,2021
10,Finland,6.6,0,2021
11,France,8.9,0,2021
12,Croatia,0.0,0,2021
13,Hungary,15.3,0,2021
14,Ireland,17.6,0,2021
15,Italy,6.5,0,2021
16,Lithuania,3.5,0,2021
17,Luxembourg,11.4,0,2021
18,Latvia,5.7,0,2021
19,Malta,13.2,0,2021
20,Netherlands,24.3,0,2021
21,Poland,18.2,0,2021
22,Portugal,16.1,0,2021
23,Romania,14.7,0,2021
24,Sweden,8.4,0,2021
25,Slovenia,3.8,0,2021
26,Slovakia,11.3,0,2021

In [ ]:
df_covid1=pd.concat([df_covid_phh,df_covid_phms])

In [ ]:
df_covid1

,Region,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%),gender,Date
0,Austria,14.3,0,2021
1,Belgium,9.2,0,2021
2,Bulgaria,9.5,0,2021
3,Cyprus,8.2,0,2021
4,Czechia,7.3,0,2021
5,Germany,8.4,0,2021
6,Denmark,7.6,0,2021
7,Estonia,19.9,0,2021
8,Greece,3.8,0,2021
9,Spain,16.1,0,2021
10,Finland,6.6,0,2021
11,France,8.9,0,2021
12,Croatia,0.0,0,2021
13,Hungary,15.3,0,2021
14,Ireland,17.6,0,2021
15,Italy,6.5,0,2021
16,Lithuania,3.5,0,2021
17,Luxembourg,11.4,0,2021
18,Latvia,5.7,0,2021
19,Malta,13.2,0,2021
20,Netherlands,24.3,0,2021
21,Poland,18.2,0,2021
22,Portugal,16.1,0,2021
23,Romania,14.7,0,2021
24,Sweden,8.4,0,2021
25,Slovenia,3.8,0,2021
26,Slovakia,11.3,0,2021
0,Austria,22.2,1,2021
1,Belgium,24.7,1,2021
2,Bulgaria,22.7,1,2021
3,Cyprus,30.9,1,2021
4,Czechia,16.1,1,2021
5,Germany,12.6,1,2021
6,Denmark,21.0,1,2021
7,Estonia,19.2,1,2021
8,Greece,22.6,1,2021
9,Spain,25.6,1,2021
10,Finland,16.5,1,2021
11,France,25.3,1,2021
12,Croatia,18.0,1,2021
13,Hungary,16.7,1,2021
14,Ireland,37.9,1,2021
15,Italy,25.8,1,2021
16,Lithuania,18.3,1,2021
17,Luxembourg,21.9,1,2021
18,Latvia,28.3,1,2021
19,Malta,31.3,1,2021
20,Netherlands,26.3,1,2021
21,Poland,23.5,1,2021
22,Portugal,28.5,1,2021
23,Romania,29.1,1,2021
24,Sweden,22.0,1,2021
25,Slovenia,15.8,1,2021
26,Slovakia,22.8,1,2021

In [ ]:
data = {
    "Region": ["Austria", "Belgium", "Bulgaria", "Cyprus", "Czechia", "Germany", "Denmark", "Estonia", "Greece", "Spain",
               "Finland", "France", "Croatia", "Hungary", "Ireland", "Italy", "Lithuania",
               "Luxembourg", "Latvia", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Sweden", "Slovenia", "Slovakia"],
    "Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)": [0, 11.1, 10.1, 14, 1.9, 8.4, 12.6, 16.6, 36.9, 11.4, 10.1, 11.8, 0, 12.9, 6.1, 4.9, 6.7, 7.5, 18.2, 0, 29.8, 33.5, 6.2, 18.5, 26.6, 3.1, 20.8]
}

df_covid_phh2= pd.DataFrame(data)

In [ ]:
covidtimeh(df_covid_phh2)
df_covid_phh2

,Region,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",gender,Date
0,Austria,0.0,0,2021
1,Belgium,11.1,0,2021
2,Bulgaria,10.1,0,2021
3,Cyprus,14.0,0,2021
4,Czechia,1.9,0,2021
5,Germany,8.4,0,2021
6,Denmark,12.6,0,2021
7,Estonia,16.6,0,2021
8,Greece,36.9,0,2021
9,Spain,11.4,0,2021
10,Finland,10.1,0,2021
11,France,11.8,0,2021
12,Croatia,0.0,0,2021
13,Hungary,12.9,0,2021
14,Ireland,6.1,0,2021
15,Italy,4.9,0,2021
16,Lithuania,6.7,0,2021
17,Luxembourg,7.5,0,2021
18,Latvia,18.2,0,2021
19,Malta,0.0,0,2021
20,Netherlands,29.8,0,2021
21,Poland,33.5,0,2021
22,Portugal,6.2,0,2021
23,Romania,18.5,0,2021
24,Sweden,26.6,0,2021
25,Slovenia,3.1,0,2021
26,Slovakia,20.8,0,2021

In [ ]:

data = {
    "Region": ["Austria", "Belgium", "Bulgaria", "Cyprus", "Czechia", "Germany", "Denmark", "Estonia", "Greece", "Spain",
               "Finland", "France", "Croatia", "Hungary", "Ireland", "Italy", "Lithuania",
               "Luxembourg", "Latvia", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Sweden", "Slovenia", "Slovakia"],
    "Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)": [19.1, 27.4, 13, 26.4, 19.6, 22.2, 28.4, 23.2, 21.7, 25.1, 5.7, 24.4, 16.2, 16.4, 36.2, 28.5, 23.3, 16.7, 38.2, 0, 31, 35.4, 36.2, 23.6, 23.9, 10.3, 8.2]
}

df_covid_phms2 = pd.DataFrame(data)

In [ ]:
covidtimem(df_covid_phms2)
df_covid_phms2

,Region,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",gender,Date
0,Austria,19.1,1,2021
1,Belgium,27.4,1,2021
2,Bulgaria,13.0,1,2021
3,Cyprus,26.4,1,2021
4,Czechia,19.6,1,2021
5,Germany,22.2,1,2021
6,Denmark,28.4,1,2021
7,Estonia,23.2,1,2021
8,Greece,21.7,1,2021
9,Spain,25.1,1,2021
10,Finland,5.7,1,2021
11,France,24.4,1,2021
12,Croatia,16.2,1,2021
13,Hungary,16.4,1,2021
14,Ireland,36.2,1,2021
15,Italy,28.5,1,2021
16,Lithuania,23.3,1,2021
17,Luxembourg,16.7,1,2021
18,Latvia,38.2,1,2021
19,Malta,0.0,1,2021
20,Netherlands,31.0,1,2021
21,Poland,35.4,1,2021
22,Portugal,36.2,1,2021
23,Romania,23.6,1,2021
24,Sweden,23.9,1,2021
25,Slovenia,10.3,1,2021
26,Slovakia,8.2,1,2021

In [ ]:
df_covid2=pd.concat([df_covid_phh2,df_covid_phms2])
df_covid2

,Region,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",gender,Date
0,Austria,0.0,0,2021
1,Belgium,11.1,0,2021
2,Bulgaria,10.1,0,2021
3,Cyprus,14.0,0,2021
4,Czechia,1.9,0,2021
5,Germany,8.4,0,2021
6,Denmark,12.6,0,2021
7,Estonia,16.6,0,2021
8,Greece,36.9,0,2021
9,Spain,11.4,0,2021
10,Finland,10.1,0,2021
11,France,11.8,0,2021
12,Croatia,0.0,0,2021
13,Hungary,12.9,0,2021
14,Ireland,6.1,0,2021
15,Italy,4.9,0,2021
16,Lithuania,6.7,0,2021
17,Luxembourg,7.5,0,2021
18,Latvia,18.2,0,2021
19,Malta,0.0,0,2021
20,Netherlands,29.8,0,2021
21,Poland,33.5,0,2021
22,Portugal,6.2,0,2021
23,Romania,18.5,0,2021
24,Sweden,26.6,0,2021
25,Slovenia,3.1,0,2021
26,Slovakia,20.8,0,2021
0,Austria,19.1,1,2021
1,Belgium,27.4,1,2021
2,Bulgaria,13.0,1,2021
3,Cyprus,26.4,1,2021
4,Czechia,19.6,1,2021
5,Germany,22.2,1,2021
6,Denmark,28.4,1,2021
7,Estonia,23.2,1,2021
8,Greece,21.7,1,2021
9,Spain,25.1,1,2021
10,Finland,5.7,1,2021
11,France,24.4,1,2021
12,Croatia,16.2,1,2021
13,Hungary,16.4,1,2021
14,Ireland,36.2,1,2021
15,Italy,28.5,1,2021
16,Lithuania,23.3,1,2021
17,Luxembourg,16.7,1,2021
18,Latvia,38.2,1,2021
19,Malta,0.0,1,2021
20,Netherlands,31.0,1,2021
21,Poland,35.4,1,2021
22,Portugal,36.2,1,2021
23,Romania,23.6,1,2021
24,Sweden,23.9,1,2021
25,Slovenia,10.3,1,2021
26,Slovakia,8.2,1,2021

In [ ]:
data = {
    "Region": ["Austria", "Belgium", "Bulgaria", "Cyprus", "Czechia", "Germany", "Denmark", "Estonia", "Greece", "Spain",
               "Finland", "France", "Croatia", "Hungary", "Ireland", "Italy", "Lithuania", "Luxembourg", "Latvia", "Malta",
               "Netherlands", "Poland", "Portugal", "Romania", "Sweden", "Slovenia", "Slovakia"],
    "Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)": [8, 7.5, 27.4, 5.8, 0, 4.1, 7.2, 10.6, 12.7, 6.8, 9.4, 10.1, 2.3, 6.5, 13.6, 10.4, 6.1, 3.5, 11.3, 0, 16.9, 7.4, 42.9, 10, 5.9, 24.2, 0]
}

df_covid_phms3= pd.DataFrame(data)

In [ ]:
data = {
    "Region": ["Austria", "Belgium", "Bulgaria", "Cyprus", "Czechia", "Germany", "Denmark", "Estonia", "Greece", "Spain",
               "Finland", "France", "Croatia", "Hungary", "Ireland", "Italy", "Lithuania",
               "Luxembourg", "Latvia", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Sweden", "Slovenia", "Slovakia"],
    "Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)": [0, 9.3, 0, 2, 9.8, 2.5, 9.2, 5.9, 0, 12.8,0.7, 15.9, 4.6, 2.1, 14, 7, 1.6, 9.4, 12.1, 0, 13.5, 28, 28.3, 16.8, 2.3, 0, 0]
}

df_covid_phhs3= pd.DataFrame(data)

In [ ]:
covidtimem(df_covid_phms3)
df_covid_phms3

,Region,"Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",gender,Date
0,Austria,8.0,1,2021
1,Belgium,7.5,1,2021
2,Bulgaria,27.4,1,2021
3,Cyprus,5.8,1,2021
4,Czechia,0.0,1,2021
5,Germany,4.1,1,2021
6,Denmark,7.2,1,2021
7,Estonia,10.6,1,2021
8,Greece,12.7,1,2021
9,Spain,6.8,1,2021
10,Finland,9.4,1,2021
11,France,10.1,1,2021
12,Croatia,2.3,1,2021
13,Hungary,6.5,1,2021
14,Ireland,13.6,1,2021
15,Italy,10.4,1,2021
16,Lithuania,6.1,1,2021
17,Luxembourg,3.5,1,2021
18,Latvia,11.3,1,2021
19,Malta,0.0,1,2021
20,Netherlands,16.9,1,2021
21,Poland,7.4,1,2021
22,Portugal,42.9,1,2021
23,Romania,10.0,1,2021
24,Sweden,5.9,1,2021
25,Slovenia,24.2,1,2021
26,Slovakia,0.0,1,2021

In [ ]:
covidtimeh(df_covid_phhs3)
df_covid_phhs3

,Region,"Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",gender,Date
0,Austria,0.0,0,2021
1,Belgium,9.3,0,2021
2,Bulgaria,0.0,0,2021
3,Cyprus,2.0,0,2021
4,Czechia,9.8,0,2021
5,Germany,2.5,0,2021
6,Denmark,9.2,0,2021
7,Estonia,5.9,0,2021
8,Greece,0.0,0,2021
9,Spain,12.8,0,2021
10,Finland,0.7,0,2021
11,France,15.9,0,2021
12,Croatia,4.6,0,2021
13,Hungary,2.1,0,2021
14,Ireland,14.0,0,2021
15,Italy,7.0,0,2021
16,Lithuania,1.6,0,2021
17,Luxembourg,9.4,0,2021
18,Latvia,12.1,0,2021
19,Malta,0.0,0,2021
20,Netherlands,13.5,0,2021
21,Poland,28.0,0,2021
22,Portugal,28.3,0,2021
23,Romania,16.8,0,2021
24,Sweden,2.3,0,2021
25,Slovenia,0.0,0,2021
26,Slovakia,0.0,0,2021

In [ ]:
df_covid3=pd.concat([df_covid_phms3,df_covid_phhs3])

In [ ]:
df_covid3.reset_index(drop=True,inplace=True)

In [ ]:
df_covid3

,Region,"Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",gender,Date
0,Austria,8.0,1,2021
1,Belgium,7.5,1,2021
2,Bulgaria,27.4,1,2021
3,Cyprus,5.8,1,2021
4,Czechia,0.0,1,2021
5,Germany,4.1,1,2021
6,Denmark,7.2,1,2021
7,Estonia,10.6,1,2021
8,Greece,12.7,1,2021
9,Spain,6.8,1,2021
10,Finland,9.4,1,2021
11,France,10.1,1,2021
12,Croatia,2.3,1,2021
13,Hungary,6.5,1,2021
14,Ireland,13.6,1,2021
15,Italy,10.4,1,2021
16,Lithuania,6.1,1,2021
17,Luxembourg,3.5,1,2021
18,Latvia,11.3,1,2021
19,Malta,0.0,1,2021
20,Netherlands,16.9,1,2021
21,Poland,7.4,1,2021
22,Portugal,42.9,1,2021
23,Romania,10.0,1,2021
24,Sweden,5.9,1,2021
25,Slovenia,24.2,1,2021
26,Slovakia,0.0,1,2021
27,Austria,0.0,0,2021
28,Belgium,9.3,0,2021
29,Bulgaria,0.0,0,2021
30,Cyprus,2.0,0,2021
31,Czechia,9.8,0,2021
32,Germany,2.5,0,2021
33,Denmark,9.2,0,2021
34,Estonia,5.9,0,2021
35,Greece,0.0,0,2021
36,Spain,12.8,0,2021
37,Finland,0.7,0,2021
38,France,15.9,0,2021
39,Croatia,4.6,0,2021
40,Hungary,2.1,0,2021
41,Ireland,14.0,0,2021
42,Italy,7.0,0,2021
43,Lithuania,1.6,0,2021
44,Luxembourg,9.4,0,2021
45,Latvia,12.1,0,2021
46,Malta,0.0,0,2021
47,Netherlands,13.5,0,2021
48,Poland,28.0,0,2021
49,Portugal,28.3,0,2021
50,Romania,16.8,0,2021
51,Sweden,2.3,0,2021
52,Slovenia,0.0,0,2021
53,Slovakia,0.0,0,2021

In [ ]:
lista_covid=[
    df_covid1,
    df_covid2,
    df_covid3
]

In [ ]:
df_covid19=pd.merge(df_covid1,df_covid2,on=["Region","Date","gender"],how="left")

In [ ]:
df_covid19=pd.merge(df_covid19,df_covid3,on=["Region","Date","gender"],how="left")
df_covid19

,Region,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%),gender,Date,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)"
0,Austria,14.3,0,2021,0.0,0.0
1,Belgium,9.2,0,2021,11.1,9.3
2,Bulgaria,9.5,0,2021,10.1,0.0
3,Cyprus,8.2,0,2021,14.0,2.0
4,Czechia,7.3,0,2021,1.9,9.8
5,Germany,8.4,0,2021,8.4,2.5
6,Denmark,7.6,0,2021,12.6,9.2
7,Estonia,19.9,0,2021,16.6,5.9
8,Greece,3.8,0,2021,36.9,0.0
9,Spain,16.1,0,2021,11.4,12.8
10,Finland,6.6,0,2021,10.1,0.7
11,France,8.9,0,2021,11.8,15.9
12,Croatia,0.0,0,2021,0.0,4.6
13,Hungary,15.3,0,2021,12.9,2.1
14,Ireland,17.6,0,2021,6.1,14.0
15,Italy,6.5,0,2021,4.9,7.0
16,Lithuania,3.5,0,2021,6.7,1.6
17,Luxembourg,11.4,0,2021,7.5,9.4
18,Latvia,5.7,0,2021,18.2,12.1
19,Malta,13.2,0,2021,0.0,0.0
20,Netherlands,24.3,0,2021,29.8,13.5
21,Poland,18.2,0,2021,33.5,28.0
22,Portugal,16.1,0,2021,6.2,28.3
23,Romania,14.7,0,2021,18.5,16.8
24,Sweden,8.4,0,2021,26.6,2.3
25,Slovenia,3.8,0,2021,3.1,0.0
26,Slovakia,11.3,0,2021,20.8,0.0
27,Austria,22.2,1,2021,19.1,8.0
28,Belgium,24.7,1,2021,27.4,7.5
29,Bulgaria,22.7,1,2021,13.0,27.4
30,Cyprus,30.9,1,2021,26.4,5.8
31,Czechia,16.1,1,2021,19.6,0.0
32,Germany,12.6,1,2021,22.2,4.1
33,Denmark,21.0,1,2021,28.4,7.2
34,Estonia,19.2,1,2021,23.2,10.6
35,Greece,22.6,1,2021,21.7,12.7
36,Spain,25.6,1,2021,25.1,6.8
37,Finland,16.5,1,2021,5.7,9.4
38,France,25.3,1,2021,24.4,10.1
39,Croatia,18.0,1,2021,16.2,2.3
40,Hungary,16.7,1,2021,16.4,6.5
41,Ireland,37.9,1,2021,36.2,13.6
42,Italy,25.8,1,2021,28.5,10.4
43,Lithuania,18.3,1,2021,23.3,6.1
44,Luxembourg,21.9,1,2021,16.7,3.5
45,Latvia,28.3,1,2021,38.2,11.3
46,Malta,31.3,1,2021,0.0,0.0
47,Netherlands,26.3,1,2021,31.0,16.9
48,Poland,23.5,1,2021,35.4,7.4
49,Portugal,28.5,1,2021,36.2,42.9
50,Romania,29.1,1,2021,23.6,10.0
51,Sweden,22.0,1,2021,23.9,5.9
52,Slovenia,15.8,1,2021,10.3,24.2
53,Slovakia,22.8,1,2021,8.2,0.0

In [ ]:
df_capstone

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who dont smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%),"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)",Esperenza de vida
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4,NaN,NaN,NaN,NaN
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9,NaN,NaN,NaN,NaN
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1,NaN,NaN,NaN,NaN
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6,NaN,NaN,NaN,NaN
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_capstone=pd.merge(df_capstone,df_covid19,on=["Region","Date","gender"],how="left")
df_capstone

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who dont smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_x,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x",Esperenza de vida,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_y,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y"
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_last=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/d01007.xlsx")

In [ ]:
df_last

,Mujeres y hombres,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,4. Salud,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Esperanza de vida al nacer en la UE por period...,NaN,NaN,NaN,NaN,NaN,NaN
3,Unidades: aos,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,,2021,NaN,NaN,2020,NaN,NaN
6,,Hombres,Mujeres,Brecha de gnero (mujeres - hombres),Hombres,Mujeres,Brecha de gnero (mujeres - hombres)
7,UE-27,77.2,82.8,5.6,77.5,83.2,5.7
8,UE-28,..,..,..,..,..,..
9,Blgica,79.5,84.4,4.9,78.6,83,4.4
10,Bulgaria,68.1,75.1,7,70,77.5,7.5
11,Repblica Checa,74.3,80.6,6.3,75.3,81.3,6
12,Dinamarca,79.6,83.3,3.7,79.7,83.6,3.9
13,Alemania,..,..,..,78.7,83.5,..
14,Estonia,72.4,81.3,8.9,74.4,83,8.6
15,Irlanda,..,..,..,80.8,84.4,..
16,Grecia,77.5,83,5.5,78.8,83.9,5.1
17,Espaa,80.3,86.2,5.9,79.6,85.2,5.6
18,Francia,79.3,85.5,6.2,79.2,85.3,6.1
19,Croacia,73.7,79.9,6.2,74.7,80.9,6.2
20,Italia,80.6,85.1,4.5,80,84.5,4.5
21,Chipre,79.8,83.9,4.1,80.4,84.4,4
22,Letonia,68.6,78.2,9.6,70.6,80,9.4
23,Lituania,69.9,79,9.1,70.1,80.1,10
24,Luxemburgo,80.7,84.9,4.2,79.9,84.5,4.6
25,Hungra,71.1,78,6.9,72.3,79,6.7
26,Malta,81.3,84.5,3.2,80.3,84.5,4.2
27,Pases Bajos,79.9,83.1,3.2,79.7,83.1,3.4
28,Austria,78.8,83.8,5,78.9,83.6,4.7
29,Polonia,71.7,79.7,8,72.5,80.7,8.2
30,Portugal,78,84.3,6.3,78,84.1,6.1
31,Rumana,69.4,76.7,7.3,70.4,78.3,7.9
32,Eslovenia,77.9,84,6.1,77.8,83.4,5.6
33,Eslovaquia,71.3,78.3,7,73.5,80.4,6.9
34,Finlandia,79.3,84.7,5.4,79.2,84.8,5.6
35,Suecia,81.4,85,3.6,80.6,84.2,3.6
36,Reino Unido,..,..,..,..,..,..
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Notas:,NaN,NaN,NaN,NaN,NaN,NaN
40,1) Los datos de Espaa estn calculados por Eu...,NaN,NaN,NaN,NaN,NaN,NaN
41,2) UE-27: 27 pases (desde 2020). UE-28: 28 p...,NaN,NaN,NaN,NaN,NaN,NaN
42,3) En 2021 datos estimados,NaN,NaN,NaN,NaN,NaN,NaN
43,"4) En 2020 datos estimados en UE-27, Polonia ...",NaN,NaN,NaN,NaN,NaN,NaN
44,5) En 2020 datos provisionales en Francia y P...,NaN,NaN,NaN,NaN,NaN,NaN
45,6) (..) Dato no dispnible,NaN,NaN,NaN,NaN,NaN,NaN
46,7) En Rumana datos estimados en 2019,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Fuente:,NaN,NaN,NaN,NaN,NaN,NaN
49,Indicadores de Desarrollo Sostenible. Eurostat,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_last=df_last.iloc[9:,:]

In [ ]:
df_last.reset_index(drop=True,inplace=True)

In [ ]:
df_last=df_last.iloc[:27,:]

In [ ]:
df_last

,Mujeres y hombres,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Blgica,79.5,84.4,4.9,78.6,83,4.4
1,Bulgaria,68.1,75.1,7,70,77.5,7.5
2,Repblica Checa,74.3,80.6,6.3,75.3,81.3,6
3,Dinamarca,79.6,83.3,3.7,79.7,83.6,3.9
4,Alemania,..,..,..,78.7,83.5,..
5,Estonia,72.4,81.3,8.9,74.4,83,8.6
6,Irlanda,..,..,..,80.8,84.4,..
7,Grecia,77.5,83,5.5,78.8,83.9,5.1
8,Espaa,80.3,86.2,5.9,79.6,85.2,5.6
9,Francia,79.3,85.5,6.2,79.2,85.3,6.1
10,Croacia,73.7,79.9,6.2,74.7,80.9,6.2
11,Italia,80.6,85.1,4.5,80,84.5,4.5
12,Chipre,79.8,83.9,4.1,80.4,84.4,4
13,Letonia,68.6,78.2,9.6,70.6,80,9.4
14,Lituania,69.9,79,9.1,70.1,80.1,10
15,Luxemburgo,80.7,84.9,4.2,79.9,84.5,4.6
16,Hungra,71.1,78,6.9,72.3,79,6.7
17,Malta,81.3,84.5,3.2,80.3,84.5,4.2
18,Pases Bajos,79.9,83.1,3.2,79.7,83.1,3.4
19,Austria,78.8,83.8,5,78.9,83.6,4.7
20,Polonia,71.7,79.7,8,72.5,80.7,8.2
21,Portugal,78,84.3,6.3,78,84.1,6.1
22,Rumana,69.4,76.7,7.3,70.4,78.3,7.9
23,Eslovenia,77.9,84,6.1,77.8,83.4,5.6
24,Eslovaquia,71.3,78.3,7,73.5,80.4,6.9
25,Finlandia,79.3,84.7,5.4,79.2,84.8,5.6
26,Suecia,81.4,85,3.6,80.6,84.2,3.6

In [ ]:
df_last2021=df_last.iloc[:,:3]

In [ ]:
df_last2021.rename(columns={"Mujeres y hombres":"Region"},inplace=True)

In [ ]:
df_last2021[df_last2021["Region"]=="Alemania"]

     Region Unnamed: 1 Unnamed: 2
4  Alemania         ..         ..

In [ ]:
df_last2021["Date"]=2021
df_last2021

             Region Unnamed: 1 Unnamed: 2  Date
0           Blgica       79.5       84.4  2021
1          Bulgaria       68.1       75.1  2021
2   Repblica Checa       74.3       80.6  2021
3         Dinamarca       79.6       83.3  2021
4          Alemania         ..         ..  2021
5           Estonia       72.4       81.3  2021
6           Irlanda         ..         ..  2021
7            Grecia       77.5         83  2021
8            Espaa       80.3       86.2  2021
9           Francia       79.3       85.5  2021
10          Croacia       73.7       79.9  2021
11           Italia       80.6       85.1  2021
12           Chipre       79.8       83.9  2021
13          Letonia       68.6       78.2  2021
14         Lituania       69.9         79  2021
15       Luxemburgo       80.7       84.9  2021
16          Hungra       71.1         78  2021
17            Malta       81.3       84.5  2021
18     Pases Bajos       79.9       83.1  2021
19          Austria       78.8       83.8  2021
20          Polonia       71.7       79.7  2021
21         Portugal         78       84.3  2021
22          Rumana       69.4       76.7  2021
23        Eslovenia       77.9         84  2021
24       Eslovaquia       71.3       78.3  2021
25        Finlandia       79.3       84.7  2021
26           Suecia       81.4         85  2021

In [ ]:
df_last2021.set_index(df_last2021.columns[0],inplace=True)
df_last2021

                Unnamed: 1 Unnamed: 2  Date
Region
Blgica               79.5       84.4  2021
Bulgaria              68.1       75.1  2021
Repblica Checa       74.3       80.6  2021
Dinamarca             79.6       83.3  2021
Alemania                ..         ..  2021
Estonia               72.4       81.3  2021
Irlanda                 ..         ..  2021
Grecia                77.5         83  2021
Espaa                80.3       86.2  2021
Francia               79.3       85.5  2021
Croacia               73.7       79.9  2021
Italia                80.6       85.1  2021
Chipre                79.8       83.9  2021
Letonia               68.6       78.2  2021
Lituania              69.9         79  2021
Luxemburgo            80.7       84.9  2021
Hungra               71.1         78  2021
Malta                 81.3       84.5  2021
Pases Bajos          79.9       83.1  2021
Austria               78.8       83.8  2021
Polonia               71.7       79.7  2021
Portugal                78       84.3  2021
Rumana               69.4       76.7  2021
Eslovenia             77.9         84  2021
Eslovaquia            71.3       78.3  2021
Finlandia             79.3       84.7  2021
Suecia                81.4         85  2021

In [ ]:
df_last2021h=df_last2021.iloc[:,:1]
df_last2021h["Date"]=df_last2021["Date"]
df_last2021h.rename(columns={"Unnamed: 1":"Esperenza de vida"},inplace=True)
df_last2021h["gender"]=0

df_last2021h

                Esperenza de vida  Date  gender
Region
Blgica                      79.5  2021       0
Bulgaria                     68.1  2021       0
Repblica Checa              74.3  2021       0
Dinamarca                    79.6  2021       0
Alemania                       ..  2021       0
Estonia                      72.4  2021       0
Irlanda                        ..  2021       0
Grecia                       77.5  2021       0
Espaa                       80.3  2021       0
Francia                      79.3  2021       0
Croacia                      73.7  2021       0
Italia                       80.6  2021       0
Chipre                       79.8  2021       0
Letonia                      68.6  2021       0
Lituania                     69.9  2021       0
Luxemburgo                   80.7  2021       0
Hungra                      71.1  2021       0
Malta                        81.3  2021       0
Pases Bajos                 79.9  2021       0
Austria                      78.8  2021       0
Polonia                      71.7  2021       0
Portugal                       78  2021       0
Rumana                      69.4  2021       0
Eslovenia                    77.9  2021       0
Eslovaquia                   71.3  2021       0
Finlandia                    79.3  2021       0
Suecia                       81.4  2021       0

In [ ]:
df_last2021h.reset_index(inplace=True)
df_last2021h

             Region Esperenza de vida  Date  gender
0           Blgica              79.5  2021       0
1          Bulgaria              68.1  2021       0
2   Repblica Checa              74.3  2021       0
3         Dinamarca              79.6  2021       0
4          Alemania                ..  2021       0
5           Estonia              72.4  2021       0
6           Irlanda                ..  2021       0
7            Grecia              77.5  2021       0
8            Espaa              80.3  2021       0
9           Francia              79.3  2021       0
10          Croacia              73.7  2021       0
11           Italia              80.6  2021       0
12           Chipre              79.8  2021       0
13          Letonia              68.6  2021       0
14         Lituania              69.9  2021       0
15       Luxemburgo              80.7  2021       0
16          Hungra              71.1  2021       0
17            Malta              81.3  2021       0
18     Pases Bajos              79.9  2021       0
19          Austria              78.8  2021       0
20          Polonia              71.7  2021       0
21         Portugal                78  2021       0
22          Rumana              69.4  2021       0
23        Eslovenia              77.9  2021       0
24       Eslovaquia              71.3  2021       0
25        Finlandia              79.3  2021       0
26           Suecia              81.4  2021       0

In [ ]:
df_last2021m=df_last2021.iloc[:,1:]
df_last2021m.rename(columns={"Unnamed: 2":"Esperenza de vida"},inplace=True)
df_last2021m["gender"]=1
df_last2021m

                Esperenza de vida  Date  gender
Region
Blgica                      84.4  2021       1
Bulgaria                     75.1  2021       1
Repblica Checa              80.6  2021       1
Dinamarca                    83.3  2021       1
Alemania                       ..  2021       1
Estonia                      81.3  2021       1
Irlanda                        ..  2021       1
Grecia                         83  2021       1
Espaa                       86.2  2021       1
Francia                      85.5  2021       1
Croacia                      79.9  2021       1
Italia                       85.1  2021       1
Chipre                       83.9  2021       1
Letonia                      78.2  2021       1
Lituania                       79  2021       1
Luxemburgo                   84.9  2021       1
Hungra                        78  2021       1
Malta                        84.5  2021       1
Pases Bajos                 83.1  2021       1
Austria                      83.8  2021       1
Polonia                      79.7  2021       1
Portugal                     84.3  2021       1
Rumana                      76.7  2021       1
Eslovenia                      84  2021       1
Eslovaquia                   78.3  2021       1
Finlandia                    84.7  2021       1
Suecia                         85  2021       1

In [ ]:
df_last2021m.reset_index(inplace=True)
df_last2021m

             Region Esperenza de vida  Date  gender
0           Blgica              84.4  2021       1
1          Bulgaria              75.1  2021       1
2   Repblica Checa              80.6  2021       1
3         Dinamarca              83.3  2021       1
4          Alemania                ..  2021       1
5           Estonia              81.3  2021       1
6           Irlanda                ..  2021       1
7            Grecia                83  2021       1
8            Espaa              86.2  2021       1
9           Francia              85.5  2021       1
10          Croacia              79.9  2021       1
11           Italia              85.1  2021       1
12           Chipre              83.9  2021       1
13          Letonia              78.2  2021       1
14         Lituania                79  2021       1
15       Luxemburgo              84.9  2021       1
16          Hungra                78  2021       1
17            Malta              84.5  2021       1
18     Pases Bajos              83.1  2021       1
19          Austria              83.8  2021       1
20          Polonia              79.7  2021       1
21         Portugal              84.3  2021       1
22          Rumana              76.7  2021       1
23        Eslovenia                84  2021       1
24       Eslovaquia              78.3  2021       1
25        Finlandia              84.7  2021       1
26           Suecia                85  2021       1

In [ ]:
df_last2021h

             Region Esperenza de vida  Date  gender
0           Blgica              79.5  2021       0
1          Bulgaria              68.1  2021       0
2   Repblica Checa              74.3  2021       0
3         Dinamarca              79.6  2021       0
4          Alemania                ..  2021       0
5           Estonia              72.4  2021       0
6           Irlanda                ..  2021       0
7            Grecia              77.5  2021       0
8            Espaa              80.3  2021       0
9           Francia              79.3  2021       0
10          Croacia              73.7  2021       0
11           Italia              80.6  2021       0
12           Chipre              79.8  2021       0
13          Letonia              68.6  2021       0
14         Lituania              69.9  2021       0
15       Luxemburgo              80.7  2021       0
16          Hungra              71.1  2021       0
17            Malta              81.3  2021       0
18     Pases Bajos              79.9  2021       0
19          Austria              78.8  2021       0
20          Polonia              71.7  2021       0
21         Portugal                78  2021       0
22          Rumana              69.4  2021       0
23        Eslovenia              77.9  2021       0
24       Eslovaquia              71.3  2021       0
25        Finlandia              79.3  2021       0
26           Suecia              81.4  2021       0

In [ ]:
df_last2021=pd.concat([df_last2021h,df_last2021m])
df_last2021

             Region Esperenza de vida  Date  gender
0           Blgica              79.5  2021       0
1          Bulgaria              68.1  2021       0
2   Repblica Checa              74.3  2021       0
3         Dinamarca              79.6  2021       0
4          Alemania                ..  2021       0
5           Estonia              72.4  2021       0
6           Irlanda                ..  2021       0
7            Grecia              77.5  2021       0
8            Espaa              80.3  2021       0
9           Francia              79.3  2021       0
10          Croacia              73.7  2021       0
11           Italia              80.6  2021       0
12           Chipre              79.8  2021       0
13          Letonia              68.6  2021       0
14         Lituania              69.9  2021       0
15       Luxemburgo              80.7  2021       0
16          Hungra              71.1  2021       0
17            Malta              81.3  2021       0
18     Pases Bajos              79.9  2021       0
19          Austria              78.8  2021       0
20          Polonia              71.7  2021       0
21         Portugal                78  2021       0
22          Rumana              69.4  2021       0
23        Eslovenia              77.9  2021       0
24       Eslovaquia              71.3  2021       0
25        Finlandia              79.3  2021       0
26           Suecia              81.4  2021       0
0           Blgica              84.4  2021       1
1          Bulgaria              75.1  2021       1
2   Repblica Checa              80.6  2021       1
3         Dinamarca              83.3  2021       1
4          Alemania                ..  2021       1
5           Estonia              81.3  2021       1
6           Irlanda                ..  2021       1
7            Grecia                83  2021       1
8            Espaa              86.2  2021       1
9           Francia              85.5  2021       1
10          Croacia              79.9  2021       1
11           Italia              85.1  2021       1
12           Chipre              83.9  2021       1
13          Letonia              78.2  2021       1
14         Lituania                79  2021       1
15       Luxemburgo              84.9  2021       1
16          Hungra                78  2021       1
17            Malta              84.5  2021       1
18     Pases Bajos              83.1  2021       1
19          Austria              83.8  2021       1
20          Polonia              79.7  2021       1
21         Portugal              84.3  2021       1
22          Rumana              76.7  2021       1
23        Eslovenia                84  2021       1
24       Eslovaquia              78.3  2021       1
25        Finlandia              84.7  2021       1
26           Suecia                85  2021       1

In [ ]:
df_last2020=df_last.iloc[:,4:6]

In [ ]:
df_last2020

   Unnamed: 4 Unnamed: 5
0        78.6         83
1          70       77.5
2        75.3       81.3
3        79.7       83.6
4        78.7       83.5
5        74.4         83
6        80.8       84.4
7        78.8       83.9
8        79.6       85.2
9        79.2       85.3
10       74.7       80.9
11         80       84.5
12       80.4       84.4
13       70.6         80
14       70.1       80.1
15       79.9       84.5
16       72.3         79
17       80.3       84.5
18       79.7       83.1
19       78.9       83.6
20       72.5       80.7
21         78       84.1
22       70.4       78.3
23       77.8       83.4
24       73.5       80.4
25       79.2       84.8
26       80.6       84.2

In [ ]:
df_last2020["Date"]=2020

In [ ]:
df_last2020

   Unnamed: 4 Unnamed: 5  Date
0        78.6         83  2020
1          70       77.5  2020
2        75.3       81.3  2020
3        79.7       83.6  2020
4        78.7       83.5  2020
5        74.4         83  2020
6        80.8       84.4  2020
7        78.8       83.9  2020
8        79.6       85.2  2020
9        79.2       85.3  2020
10       74.7       80.9  2020
11         80       84.5  2020
12       80.4       84.4  2020
13       70.6         80  2020
14       70.1       80.1  2020
15       79.9       84.5  2020
16       72.3         79  2020
17       80.3       84.5  2020
18       79.7       83.1  2020
19       78.9       83.6  2020
20       72.5       80.7  2020
21         78       84.1  2020
22       70.4       78.3  2020
23       77.8       83.4  2020
24       73.5       80.4  2020
25       79.2       84.8  2020
26       80.6       84.2  2020

In [ ]:
df_last.rename(columns={"Mujeres y hombres":"Region"},inplace=True)

In [ ]:
df_last2020["Region"]=df_last["Region"]

In [ ]:
df_last2020.set_index(df_last2020.columns[3],inplace=True)

In [ ]:
df_last2020h=df_last2020.iloc[:,:1]
df_last2020h.rename(columns={"Unnamed: 4":"Esperenza de vida"},inplace=True)
df_last2020h["gender"]=0
df_last2020h["Date"]=2020
df_last2020h.reset_index(inplace=True)
df_last2020h

             Region Esperenza de vida  gender  Date
0           Blgica              78.6       0  2020
1          Bulgaria                70       0  2020
2   Repblica Checa              75.3       0  2020
3         Dinamarca              79.7       0  2020
4          Alemania              78.7       0  2020
5           Estonia              74.4       0  2020
6           Irlanda              80.8       0  2020
7            Grecia              78.8       0  2020
8            Espaa              79.6       0  2020
9           Francia              79.2       0  2020
10          Croacia              74.7       0  2020
11           Italia                80       0  2020
12           Chipre              80.4       0  2020
13          Letonia              70.6       0  2020
14         Lituania              70.1       0  2020
15       Luxemburgo              79.9       0  2020
16          Hungra              72.3       0  2020
17            Malta              80.3       0  2020
18     Pases Bajos              79.7       0  2020
19          Austria              78.9       0  2020
20          Polonia              72.5       0  2020
21         Portugal                78       0  2020
22          Rumana              70.4       0  2020
23        Eslovenia              77.8       0  2020
24       Eslovaquia              73.5       0  2020
25        Finlandia              79.2       0  2020
26           Suecia              80.6       0  2020

In [ ]:
df_last2020m=df_last2020.iloc[:,1:]
df_last2020m.rename(columns={"Unnamed: 5":"Esperenza de vida"},inplace=True)
df_last2020m["gender"]=1
df_last2020m.reset_index(inplace=True)
df_last2020m

             Region Esperenza de vida  Date  gender
0           Blgica                83  2020       1
1          Bulgaria              77.5  2020       1
2   Repblica Checa              81.3  2020       1
3         Dinamarca              83.6  2020       1
4          Alemania              83.5  2020       1
5           Estonia                83  2020       1
6           Irlanda              84.4  2020       1
7            Grecia              83.9  2020       1
8            Espaa              85.2  2020       1
9           Francia              85.3  2020       1
10          Croacia              80.9  2020       1
11           Italia              84.5  2020       1
12           Chipre              84.4  2020       1
13          Letonia                80  2020       1
14         Lituania              80.1  2020       1
15       Luxemburgo              84.5  2020       1
16          Hungra                79  2020       1
17            Malta              84.5  2020       1
18     Pases Bajos              83.1  2020       1
19          Austria              83.6  2020       1
20          Polonia              80.7  2020       1
21         Portugal              84.1  2020       1
22          Rumana              78.3  2020       1
23        Eslovenia              83.4  2020       1
24       Eslovaquia              80.4  2020       1
25        Finlandia              84.8  2020       1
26           Suecia              84.2  2020       1

In [ ]:
df_last2020=pd.concat([df_last2020h,df_last2020m])
df_last2020

             Region Esperenza de vida  gender  Date
0           Blgica              78.6       0  2020
1          Bulgaria                70       0  2020
2   Repblica Checa              75.3       0  2020
3         Dinamarca              79.7       0  2020
4          Alemania              78.7       0  2020
5           Estonia              74.4       0  2020
6           Irlanda              80.8       0  2020
7            Grecia              78.8       0  2020
8            Espaa              79.6       0  2020
9           Francia              79.2       0  2020
10          Croacia              74.7       0  2020
11           Italia                80       0  2020
12           Chipre              80.4       0  2020
13          Letonia              70.6       0  2020
14         Lituania              70.1       0  2020
15       Luxemburgo              79.9       0  2020
16          Hungra              72.3       0  2020
17            Malta              80.3       0  2020
18     Pases Bajos              79.7       0  2020
19          Austria              78.9       0  2020
20          Polonia              72.5       0  2020
21         Portugal                78       0  2020
22          Rumana              70.4       0  2020
23        Eslovenia              77.8       0  2020
24       Eslovaquia              73.5       0  2020
25        Finlandia              79.2       0  2020
26           Suecia              80.6       0  2020
0           Blgica                83       1  2020
1          Bulgaria              77.5       1  2020
2   Repblica Checa              81.3       1  2020
3         Dinamarca              83.6       1  2020
4          Alemania              83.5       1  2020
5           Estonia                83       1  2020
6           Irlanda              84.4       1  2020
7            Grecia              83.9       1  2020
8            Espaa              85.2       1  2020
9           Francia              85.3       1  2020
10          Croacia              80.9       1  2020
11           Italia              84.5       1  2020
12           Chipre              84.4       1  2020
13          Letonia                80       1  2020
14         Lituania              80.1       1  2020
15       Luxemburgo              84.5       1  2020
16          Hungra                79       1  2020
17            Malta              84.5       1  2020
18     Pases Bajos              83.1       1  2020
19          Austria              83.6       1  2020
20          Polonia              80.7       1  2020
21         Portugal              84.1       1  2020
22          Rumana              78.3       1  2020
23        Eslovenia              83.4       1  2020
24       Eslovaquia              80.4       1  2020
25        Finlandia              84.8       1  2020
26           Suecia              84.2       1  2020

In [ ]:
df_last2021

             Region Esperenza de vida  Date  gender
0           Blgica              79.5  2021       0
1          Bulgaria              68.1  2021       0
2   Repblica Checa              74.3  2021       0
3         Dinamarca              79.6  2021       0
4          Alemania                ..  2021       0
5           Estonia              72.4  2021       0
6           Irlanda                ..  2021       0
7            Grecia              77.5  2021       0
8            Espaa              80.3  2021       0
9           Francia              79.3  2021       0
10          Croacia              73.7  2021       0
11           Italia              80.6  2021       0
12           Chipre              79.8  2021       0
13          Letonia              68.6  2021       0
14         Lituania              69.9  2021       0
15       Luxemburgo              80.7  2021       0
16          Hungra              71.1  2021       0
17            Malta              81.3  2021       0
18     Pases Bajos              79.9  2021       0
19          Austria              78.8  2021       0
20          Polonia              71.7  2021       0
21         Portugal                78  2021       0
22          Rumana              69.4  2021       0
23        Eslovenia              77.9  2021       0
24       Eslovaquia              71.3  2021       0
25        Finlandia              79.3  2021       0
26           Suecia              81.4  2021       0
0           Blgica              84.4  2021       1
1          Bulgaria              75.1  2021       1
2   Repblica Checa              80.6  2021       1
3         Dinamarca              83.3  2021       1
4          Alemania                ..  2021       1
5           Estonia              81.3  2021       1
6           Irlanda                ..  2021       1
7            Grecia                83  2021       1
8            Espaa              86.2  2021       1
9           Francia              85.5  2021       1
10          Croacia              79.9  2021       1
11           Italia              85.1  2021       1
12           Chipre              83.9  2021       1
13          Letonia              78.2  2021       1
14         Lituania                79  2021       1
15       Luxemburgo              84.9  2021       1
16          Hungra                78  2021       1
17            Malta              84.5  2021       1
18     Pases Bajos              83.1  2021       1
19          Austria              83.8  2021       1
20          Polonia              79.7  2021       1
21         Portugal              84.3  2021       1
22          Rumana              76.7  2021       1
23        Eslovenia                84  2021       1
24       Eslovaquia              78.3  2021       1
25        Finlandia              84.7  2021       1
26           Suecia                85  2021       1

In [ ]:
df_lastlast=pd.concat([df_last2021,df_last2020])
df_lastlast

             Region Esperenza de vida  Date  gender
0           Blgica              79.5  2021       0
1          Bulgaria              68.1  2021       0
2   Repblica Checa              74.3  2021       0
3         Dinamarca              79.6  2021       0
4          Alemania                ..  2021       0
..              ...               ...   ...     ...
22          Rumana              78.3  2020       1
23        Eslovenia              83.4  2020       1
24       Eslovaquia              80.4  2020       1
25        Finlandia              84.8  2020       1
26           Suecia              84.2  2020       1

[108 rows x 4 columns]

In [ ]:
df_lastlast.tail(20)

          Region Esperenza de vida  Date  gender
7         Grecia              83.9  2020       1
8         Espaa              85.2  2020       1
9        Francia              85.3  2020       1
10       Croacia              80.9  2020       1
11        Italia              84.5  2020       1
12        Chipre              84.4  2020       1
13       Letonia                80  2020       1
14      Lituania              80.1  2020       1
15    Luxemburgo              84.5  2020       1
16       Hungra                79  2020       1
17         Malta              84.5  2020       1
18  Pases Bajos              83.1  2020       1
19       Austria              83.6  2020       1
20       Polonia              80.7  2020       1
21      Portugal              84.1  2020       1
22       Rumana              78.3  2020       1
23     Eslovenia              83.4  2020       1
24    Eslovaquia              80.4  2020       1
25     Finlandia              84.8  2020       1
26        Suecia              84.2  2020       1

In [ ]:
df_capstone=pd.merge(df_capstone,df_lastlast,on=["Region","Date","gender"],how="left")
df_capstone

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who dont smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_x,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x",Esperenza de vida_x,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_y,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y",Esperenza de vida_y
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.to_pickle(df_capstone,"/content/drive/MyDrive/capstone igualdad de genero/df.pickle_capstone")

In [ ]:
ff=pd.read_pickle("/content/drive/MyDrive/capstone igualdad de genero/df.pickle_capstone")

In [ ]:
ff

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who dont smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_x,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x",Esperenza de vida_x,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_y,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y",Esperenza de vida_y
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ff["Region"].value_counts()

Austria        14
Ireland        14
Slovenia       14
Sweden         14
Romania        14
Portugal       14
Poland         14
Netherlands    14
Malta          14
Latvia         14
Luxembourg     14
Lithuania      14
Italy          14
Hungary        14
Belgium        14
Croatia        14
France         14
Finland        14
Spain          14
Greece         14
Estonia        14
Denmark        14
Germany        14
Czechia        14
Cyprus         14
Bulgaria       14
Slovakia       14
Name: Region, dtype: int64

In [ ]:
new_dfwomen=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/nuevos excels/Tribunales supremos presidentes y miembros women.xlsx")

In [ ]:
new_dfmen=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/nuevos excels/Tribunales supremos presidentes y miembros men(1).xlsx")

In [ ]:
new_dfmen = new_dfmen.iloc[17:, :]
new_dfmen.columns = new_dfmen.iloc[0]
new_dfmen = new_dfmen.T
new_dfmen.reset_index(drop=True, inplace=True)
new_dfmen = new_dfmen.T
new_dfmen.reset_index(inplace=True)
new_dfmen.columns = new_dfmen.iloc[0]
new_dfmen = new_dfmen.drop(new_dfmen.index[0])
new_dfmen.rename(columns={"Geographic region\Time": "Region"}, inplace=True)
new_dfmen = new_dfmen.iloc[:, 1:]
new_dfmen.reset_index(drop=True, inplace=True)
new_dfmen = new_dfmen.drop(new_dfmen.index[10])
new_dfmen = new_dfmen.drop(new_dfmen.index[13])
new_dfmen = new_dfmen.drop(new_dfmen.index[14])
new_dfmen = new_dfmen.drop(new_dfmen.index[20])
new_dfmen.reset_index(drop=True, inplace=True)
new_dfmen = new_dfmen.drop(new_dfmen.index[12])
new_dfmen = new_dfmen.drop(new_dfmen.index[17])
new_dfmen.reset_index(drop=True, inplace=True)
new_dfmen = new_dfmen.drop(new_dfmen.index[16])
new_dfmen.reset_index(drop=True, inplace=True)

In [ ]:
new_dfmen

,Region,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,85.7,81.8,80.0
1,Austria,86,86.0,82.1,78.6,75.4,75.4,75.4,75.4,72.4,72.4,70.7,69.5,66.7,68.3,68.3,61.0,61.7,61.7,60.0,61.7,58.3
2,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.9,53.7,51.0,51.9,49.0,44.4
3,Belgium,90.7,53.5,56.5,89.1,83.3,83.3,82.8,82.8,79.3,82.1,80.0,80.0,78.6,79.3,75.0,69.0,74.2,69.0,65.5,69.0,69.0
4,Bulgaria,NaN,44.4,55.6,66.7,24.5,21.6,21.7,20.9,22.3,24.0,23.2,27.1,25.5,25.5,23.2,24.3,24.2,28.4,23.4,24.4,23.6
5,Cyprus,100,91.7,91.7,91.7,92.3,92.3,92.3,92.3,92.3,92.3,84.6,84.6,73.3,69.2,61.5,61.5,61.5,66.7,69.2,58.3,54.5
6,Czechia,NaN,76.3,79.3,78.7,73.8,72.9,75.8,75.8,76.2,76.6,78.8,77.3,77.3,80.0,80.9,82.6,83.3,90.5,85.7,83.1,81.4
7,Germany,83.2,80.5,78.9,81.6,79.5,80.3,80.6,81.1,78.3,78.9,79.8,75.2,72.4,68.9,67.6,65.9,66.4,65.3,63.2,65.1,62.5
8,Denmark,100,84.2,73.7,75.0,77.8,78.9,78.9,73.7,73.7,76.2,75.0,75.0,75.0,71.4,66.7,72.2,72.2,77.8,77.8,78.9,83.3
9,Estonia,88.9,83.3,83.3,83.3,84.2,84.2,84.2,84.2,89.5,89.5,89.5,84.2,77.8,78.9,73.7,72.2,77.8,73.7,73.7,68.4,68.4
10,Greece,NaN,98.0,93.8,89.2,82.4,82.9,80.6,79.2,79.2,73.6,69.4,63.9,55.6,54.9,50.7,51.3,46.1,27.6,67.1,67.1,34.9
11,Spain,NaN,NaN,NaN,NaN,92.7,92.0,88.3,89.3,90.4,88.8,88.8,88.3,86.3,86.3,86.3,84.7,81.0,78.9,80.8,77.6,80.8
12,Finland,66.7,66.7,73.7,72.2,68.4,68.4,73.7,73.7,73.7,68.4,68.4,68.4,66.7,72.2,68.4,78.9,68.4,75.0,71.4,55.0,70.0
13,Croatia,NaN,NaN,NaN,NaN,56.1,53.8,52.8,48.8,51.2,52.4,55.0,57.1,60.5,61.0,59.5,63.4,65.9,61.1,66.7,64.7,67.7
14,Hungary,50,50.0,39.0,39.0,40.2,39.0,39.5,43.2,43.2,43.2,46.4,52.4,50.6,51.9,50.6,48.8,50.0,49.4,38.2,38.2,40.9
15,Ireland,71.4,71.4,66.7,57.1,75.0,75.0,75.0,77.8,77.8,88.9,88.9,66.7,70.0,55.6,55.6,77.8,77.8,75.0,75.0,66.7,66.7
16,Italy,91.3,NaN,NaN,NaN,88.5,87.7,85.6,85.5,80.8,78.1,77.6,74.1,74.1,71.9,56.9,65.9,65.0,67.4,64.7,66.6,64.9
17,Lithuania,NaN,83.3,80.6,80.0,82.9,80.6,78.4,78.4,78.4,77.1,73.5,72.4,67.6,67.6,74.3,64.7,65.7,59.4,62.1,62.5,54.8
18,Luxembourg,50,100.0,100.0,100.0,80.0,0.0,0.0,0.0,33.3,25.0,25.0,50.0,50.0,100.0,80.0,80.0,80.0,33.3,50.0,25.0,44.4
19,Latvia,50,35.0,30.0,40.5,42.2,42.6,48.9,47.8,45.8,44.0,49.1,44.9,34.1,31.1,36.1,34.3,30.6,29.4,34.4,29.4,31.4
20,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.8,36.8,36.8,31.6,26.3,26.3,21.4,17.6,20.0
21,North Macedonia,NaN,NaN,NaN,NaN,NaN,55.6,70.0,61.9,63.6,57.9,47.4,44.0,47.8,52.6,50.0,52.4,52.6,50.0,50.0,52.9,61.5
22,Malta,NaN,NaN,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,90.9,90.9,90.9,90.9,100.0,100.0,100.0,80.0,85.7,85.7
23,Netherlands,90.2,91.7,84.2,83.8,86.8,86.8,86.8,83.3,83.8,85.7,84.8,81.8,80.0,74.3,71.4,64.9,64.7,73.0,60.0,57.1,58.3
24,Norway,72.2,61.1,68.4,66.7,63.2,63.2,57.9,60.0,65.0,65.0,65.0,65.0,65.0,63.2,66.7,60.0,60.0,60.0,60.0,60.0,57.9
25,Poland,NaN,91.7,91.7,75.0,73.6,74.4,77.1,77.1,74.7,74.1,76.5,72.9,72.4,70.9,74.0,70.6,68.7,74.4,78.1,80.2,75.2
26,Portugal,100,98.2,98.3,98.3,94.9,98.3,96.7,96.7,96.7,95.0,91.4,87.9,86.0,83.3,83.6,80.3,72.6,69.5,66.7,64.9,67.2
27,Romania,36.2,37.4,28.6,25.9,26.1,24.8,23.8,23.4,19.8,14.4,15.7,15.4,15.9,15.9,16.0,19.5,22.3,23.4,23.1,22.6,23.3
28,Serbia,NaN,NaN,NaN,NaN,NaN,46.4,44.6,29.2,29.2,25.0,40.0,41.7,42.1,40.5,47.4,43.6,41.5,38.1,36.6,36.6,22.0
29,Sweden,NaN,NaN,NaN,56.3,56.3,56.3,56.3,56.3,62.5,58.8,62.5,62.5,62.5,66.7,68.8,68.8,75.0,68.8,68.8,75.0,68.8
30,Slovenia,63.9,62.5,63.8,63.8,68.3,65.9,61.0,59.0,62.2,56.4,62.9,63.6,62.1,61.3,60.0,59.4,61.3,60.0,58.6,66.7,53.6
31,Slovakia,NaN,56.4,50.7,50.0,50.0,32.9,49.3,49.3,48.2,47.0,46.4,43.2,45.2,39.5,39.5,43.2,39.2,49.4,49.4,36.7,46.7
32,Trkiye,NaN,NaN,95.6,100.0,82.8,82.8,80.2,76.1,84.0,84.1,84.4,84.2,80.1,83.4,80.3,84.4,85.2,85.2,87.5,87.5,87.9
33,United Kingdom,100,91.7,91.7,91.7,91.7,91.7,90.9,91.7,91.7,91.7,90.9,91.7,91.7,91.7,90.9,81.8,75.0,83.3,83.3,90.0,91.7
34,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,62.5,64.3,73.3,75.0,81.3

In [ ]:
new_dfwomen=new_dfwomen.iloc[17:,:]

In [ ]:
new_dfwomen.columns=new_dfwomen.iloc[0]

In [ ]:
new_dfwomen=new_dfwomen.T

In [ ]:
new_dfwomen.reset_index(drop=True,inplace=True)

In [ ]:
new_dfwomen=new_dfwomen.T

In [ ]:
new_dfwomen.reset_index(inplace=True)

In [ ]:
new_dfwomen.columns=new_dfwomen.iloc[0]

In [ ]:
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[0])

In [ ]:
new_dfwomen.rename(columns={"Geographic region\Time": "Region"}, inplace=True)

In [ ]:
new_dfwomen=new_dfwomen.iloc[:,1:]

In [ ]:
new_dfwomen.reset_index(drop=True,inplace=True)

In [ ]:
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[10])

In [ ]:
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[13])
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[14])
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[20])

In [ ]:
new_dfwomen.reset_index(drop=True,inplace=True)

In [ ]:
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[12])
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[17])

In [ ]:
new_dfwomen.reset_index(drop=True,inplace=True)

In [ ]:
new_dfwomen=new_dfwomen.drop(new_dfwomen.index[16])

In [ ]:
new_dfwomen.reset_index(drop=True,inplace=True)

In [ ]:
new_dfwomen

,Region,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,14.3,18.2,20.0
1,Austria,14,14.0,17.9,21.4,24.6,24.6,24.6,24.6,27.6,27.6,29.3,30.5,33.3,31.7,31.7,39.0,38.3,38.3,40.0,38.3,41.7
2,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.1,46.3,49.0,48.1,51.0,55.6
3,Belgium,9.3,46.5,43.5,10.9,16.7,16.7,17.2,17.2,20.7,17.9,20.0,20.0,21.4,20.7,25.0,31.0,25.8,31.0,34.5,31.0,31.0
4,Bulgaria,NaN,55.6,44.4,33.3,75.5,78.4,78.3,79.1,77.7,76.0,76.8,72.9,74.5,74.5,76.8,75.7,75.8,71.6,76.6,75.6,76.4
5,Cyprus,0,8.3,8.3,8.3,7.7,7.7,7.7,7.7,7.7,7.7,15.4,15.4,26.7,30.8,38.5,38.5,38.5,33.3,30.8,41.7,45.5
6,Czechia,NaN,23.7,20.7,21.3,26.2,27.1,24.2,24.2,23.8,23.4,21.2,22.7,22.7,20.0,19.1,17.4,16.7,9.5,14.3,16.9,18.6
7,Germany,16.8,19.5,21.1,18.4,20.5,19.7,19.4,18.9,21.7,21.1,20.2,24.8,27.6,31.1,32.4,34.1,33.6,34.7,36.8,34.9,37.5
8,Denmark,0,15.8,26.3,25.0,22.2,21.1,21.1,26.3,26.3,23.8,25.0,25.0,25.0,28.6,33.3,27.8,27.8,22.2,22.2,21.1,16.7
9,Estonia,11.1,16.7,16.7,16.7,15.8,15.8,15.8,15.8,10.5,10.5,10.5,15.8,22.2,21.1,26.3,27.8,22.2,26.3,26.3,31.6,31.6
10,Greece,NaN,2.0,6.2,10.8,17.6,17.1,19.4,20.8,20.8,26.4,30.6,36.1,44.4,45.1,49.3,48.7,53.9,72.4,32.9,32.9,65.1
11,Spain,NaN,NaN,NaN,NaN,7.3,8.0,11.7,10.7,9.6,11.3,11.3,11.7,13.8,13.8,13.8,15.3,19.0,21.1,19.2,22.4,19.2
12,Finland,33.3,33.3,26.3,27.8,31.6,31.6,26.3,26.3,26.3,31.6,31.6,31.6,33.3,27.8,31.6,21.1,31.6,25.0,28.6,45.0,30.0
13,Croatia,NaN,NaN,NaN,NaN,43.9,46.2,47.2,51.2,48.8,47.6,45.0,42.9,39.5,39.0,40.5,36.6,34.1,38.9,33.3,35.3,32.3
14,Hungary,50,50.0,61.0,61.0,59.8,61.0,60.5,56.8,56.8,56.8,53.6,47.6,49.4,48.1,49.4,51.2,50.0,50.6,61.8,61.8,59.1
15,Ireland,28.6,28.6,33.3,42.9,25.0,25.0,25.0,22.2,22.2,11.1,11.1,33.3,30.0,44.4,44.4,22.2,22.2,25.0,25.0,33.3,33.3
16,Italy,8.7,NaN,NaN,NaN,11.5,12.3,14.4,14.5,19.2,21.9,22.4,25.9,25.9,28.1,43.1,34.1,35.0,32.6,35.3,33.4,35.1
17,Lithuania,NaN,16.7,19.4,20.0,17.1,19.4,21.6,21.6,21.6,22.9,26.5,27.6,32.4,32.4,25.7,35.3,34.3,40.6,37.9,37.5,45.2
18,Luxembourg,50,0.0,0.0,0.0,20.0,100.0,100.0,100.0,66.7,75.0,75.0,50.0,50.0,0.0,20.0,20.0,20.0,66.7,50.0,75.0,55.6
19,Latvia,50,65.0,70.0,59.5,57.8,57.4,51.1,52.2,54.2,56.0,50.9,55.1,65.9,68.9,63.9,65.7,69.4,70.6,65.6,70.6,68.6
20,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.2,63.2,63.2,68.4,73.7,73.7,78.6,82.4,80.0
21,North Macedonia,NaN,NaN,NaN,NaN,NaN,44.4,30.0,38.1,36.4,42.1,52.6,56.0,52.2,47.4,50.0,47.6,47.4,50.0,50.0,47.1,38.5
22,Malta,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.1,9.1,9.1,9.1,0.0,0.0,0.0,20.0,14.3,14.3
23,Netherlands,9.8,8.3,15.8,16.2,13.2,13.2,13.2,16.7,16.2,14.3,15.2,18.2,20.0,25.7,28.6,35.1,35.3,27.0,40.0,42.9,41.7
24,Norway,27.8,38.9,31.6,33.3,36.8,36.8,42.1,40.0,35.0,35.0,35.0,35.0,35.0,36.8,33.3,40.0,40.0,40.0,40.0,40.0,42.1
25,Poland,NaN,8.3,8.3,25.0,26.4,25.6,22.9,22.9,25.3,25.9,23.5,27.1,27.6,29.1,26.0,29.4,31.3,25.6,21.9,19.8,24.8
26,Portugal,0,1.8,1.7,1.7,5.1,1.7,3.3,3.3,3.3,5.0,8.6,12.1,14.0,16.7,16.4,19.7,27.4,30.5,33.3,35.1,32.8
27,Romania,63.8,62.6,71.4,74.1,73.9,75.2,76.2,76.6,80.2,85.6,84.3,84.6,84.1,84.1,84.0,80.5,77.7,76.6,76.9,77.4,76.7
28,Serbia,NaN,NaN,NaN,NaN,NaN,53.6,55.4,70.8,70.8,75.0,60.0,58.3,57.9,59.5,52.6,56.4,58.5,61.9,63.4,63.4,78.0
29,Sweden,NaN,NaN,NaN,43.8,43.8,43.8,43.8,43.8,37.5,41.2,37.5,37.5,37.5,33.3,31.3,31.3,25.0,31.3,31.3,25.0,31.3
30,Slovenia,36.1,37.5,36.2,36.2,31.7,34.1,39.0,41.0,37.8,43.6,37.1,36.4,37.9,38.7,40.0,40.6,38.7,40.0,41.4,33.3,46.4
31,Slovakia,NaN,43.6,49.3,50.0,50.0,67.1,50.7,50.7,51.8,53.0,53.6,56.8,54.8,60.5,60.5,56.8,60.8,50.6,50.6,63.3,53.3
32,Trkiye,NaN,NaN,4.4,0.0,17.2,17.2,19.8,23.9,16.0,15.9,15.6,15.8,19.9,16.6,19.7,15.6,14.8,14.8,12.5,12.5,12.1
33,United Kingdom,0,8.3,8.3,8.3,8.3,8.3,9.1,8.3,8.3,8.3,9.1,8.3,8.3,8.3,9.1,18.2,25.0,16.7,16.7,10.0,8.3
34,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,37.5,35.7,26.7,25.0,18.8

In [ ]:
new_dfwomen["Region"].value_counts()

Albania                   1
Portugal                  1
Montenegro                1
North Macedonia           1
Malta                     1
Netherlands               1
Norway                    1
Poland                    1
Romania                   1
Luxembourg                1
Serbia                    1
Sweden                    1
Slovenia                  1
Slovakia                  1
Trkiye                   1
United Kingdom            1
Latvia                    1
Lithuania                 1
Austria                   1
Denmark                   1
Bosnia and Herzegovina    1
Belgium                   1
Bulgaria                  1
Cyprus                    1
Czechia                   1
Germany                   1
Estonia                   1
Italy                     1
Greece                    1
Spain                     1
Finland                   1
Croatia                   1
Hungary                   1
Ireland                   1
Kosovo                    1
Name: Region, dtype: int64

In [ ]:
country_names = [
    "Albania",
    "Portugal",
    "Montenegro",
    "North Macedonia",
    "Malta",
    "Netherlands",
    "Norway",
    "Poland",
    "Romania",
    "Luxembourg",
    "Serbia",
    "Sweden",
    "Slovenia",
    "Slovak Republic",
    "Trkiye",
    "United Kingdom",
    "Latvia",
    "Lithuania",
    "Austria",
    "Denmark",
    "Bosnia and Herzegovina",
    "Belgium",
    "Bulgaria",
    "Cyprus",
    "Czech Republic",
    "Germany",
    "Estonia",
    "Italy",
    "Greece",
    "Spain",
    "Finland",
    "Croatia",
    "Hungary",
    "Ireland",
    "Kosovo"
]



partes = [new_dfwomen[i:i+1] for i in range(0, len(new_dfwomen), 1)]

# Crear nuevos DataFrames con nombres de pases
dataframes_paises = {}
for i, parte in enumerate(partes):
    pais = country_names[i]
    dataframes_paises[pais] = parte.copy()

# Mostrar cada nuevo DataFrame por separado
for pais, df_pais in dataframes_paises.items():
    print(f"DataFrame para {pais}:\n{df_pais}\n")

DataFrame para Albania:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
0  Albania  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
0    NaN    NaN    NaN    NaN    NaN    NaN    0.0    0.0    0.0   14.3

0 2022.0 2023.0
0   18.2   20.0

DataFrame para Portugal:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
1  Austria   14   14.0   17.9   21.4   24.6   24.6   24.6   24.6   27.6

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
1   27.6   29.3   30.5   33.3   31.7   31.7   39.0   38.3   38.3   40.0

0 2022.0 2023.0
1   38.3   41.7

DataFrame para Montenegro:
0                  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0  \
2  Bosnia and Herzegovina  NaN    NaN    NaN    NaN    NaN    NaN    NaN

0 2010.0 2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0  \
2    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN   48.1   46.3

0 2020.0 2021.0 2022.0 2023.0
2   49.0   48.1   51.0   55.6

DataFrame para North Macedonia:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
3  Belgium  9.3   46.5   43.5   10.9   16.7   16.7   17.2   17.2   20.7

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
3   17.9   20.0   20.0   21.4   20.7   25.0   31.0   25.8   31.0   34.5

0 2022.0 2023.0
3   31.0   31.0

DataFrame para Malta:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
4  Bulgaria  NaN   55.6   44.4   33.3   75.5   78.4   78.3   79.1   77.7

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
4   76.0   76.8   72.9   74.5   74.5   76.8   75.7   75.8   71.6   76.6

0 2022.0 2023.0
4   75.6   76.4

DataFrame para Netherlands:
0  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0 2012.0  \
5  Cyprus    0    8.3    8.3    8.3    7.7    7.7    7.7    7.7    7.7    7.7

0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0 2022.0 2023.0
5   15.4   15.4   26.7   30.8   38.5   38.5   38.5   33.3   30.8   41.7   45.5

DataFrame para Norway:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
6  Czechia  NaN   23.7   20.7   21.3   26.2   27.1   24.2   24.2   23.8

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
6   23.4   21.2   22.7   22.7   20.0   19.1   17.4   16.7    9.5   14.3

0 2022.0 2023.0
6   16.9   18.6

DataFrame para Poland:
0   Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
7  Germany  16.8   19.5   21.1   18.4   20.5   19.7   19.4   18.9   21.7

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
7   21.1   20.2   24.8   27.6   31.1   32.4   34.1   33.6   34.7   36.8

0 2022.0 2023.0
7   34.9   37.5

DataFrame para Romania:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
8  Denmark    0   15.8   26.3   25.0   22.2   21.1   21.1   26.3   26.3

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
8   23.8   25.0   25.0   25.0   28.6   33.3   27.8   27.8   22.2   22.2

0 2022.0 2023.0
8   21.1   16.7

DataFrame para Luxembourg:
0   Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
9  Estonia  11.1   16.7   16.7   16.7   15.8   15.8   15.8   15.8   10.5

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
9   10.5   10.5   15.8   22.2   21.1   26.3   27.8   22.2   26.3   26.3

0 2022.0 2023.0
9   31.6   31.6

DataFrame para Serbia:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
10  Greece  NaN    2.0    6.2   10.8   17.6   17.1   19.4   20.8   20.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
10   26.4   30.6   36.1   44.4   45.1   49.3   48.7   53.9   72.4   32.9

0  2022.0 2023.0
10   32.9   65.1

DataFrame para Sweden:
0  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0 2012.0  \
11  Spain  NaN    NaN    NaN    NaN    7.3    8.0   11.7   10.7    9.6   11.3

0  2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0 2022.0  \
11   11.3   11.7   13.8   13.8   13.8   15.3   19.0   21.1   19.2   22.4

0  2023.0
11   19.2

DataFrame para Slovenia:
0    Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
12  Finland  33.3   33.3   26.3   27.8   31.6   31.6   26.3   26.3   26.3

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
12   31.6   31.6   31.6   33.3   27.8   31.6   21.1   31.6   25.0   28.6

0  2022.0 2023.0
12   45.0   30.0

DataFrame para Slovak Republic:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
13  Croatia  NaN    NaN    NaN    NaN   43.9   46.2   47.2   51.2   48.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
13   47.6   45.0   42.9   39.5   39.0   40.5   36.6   34.1   38.9   33.3

0  2022.0 2023.0
13   35.3   32.3

DataFrame para Trkiye:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
14  Hungary   50   50.0   61.0   61.0   59.8   61.0   60.5   56.8   56.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
14   56.8   53.6   47.6   49.4   48.1   49.4   51.2   50.0   50.6   61.8

0  2022.0 2023.0
14   61.8   59.1

DataFrame para United Kingdom:
0    Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
15  Ireland  28.6   28.6   33.3   42.9   25.0   25.0   25.0   22.2   22.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
15   11.1   11.1   33.3   30.0   44.4   44.4   22.2   22.2   25.0   25.0

0  2022.0 2023.0
15   33.3   33.3

DataFrame para Latvia:
0  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0 2012.0  \
16  Italy  8.7    NaN    NaN    NaN   11.5   12.3   14.4   14.5   19.2   21.9

0  2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0 2022.0  \
16   22.4   25.9   25.9   28.1   43.1   34.1   35.0   32.6   35.3   33.4

0  2023.0
16   35.1

DataFrame para Lithuania:
0      Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
17  Lithuania  NaN   16.7   19.4   20.0   17.1   19.4   21.6   21.6   21.6

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
17   22.9   26.5   27.6   32.4   32.4   25.7   35.3   34.3   40.6   37.9

0  2022.0 2023.0
17   37.5   45.2

DataFrame para Austria:
0       Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
18  Luxembourg   50    0.0    0.0    0.0   20.0  100.0  100.0  100.0   66.7

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
18   75.0   75.0   50.0   50.0    0.0   20.0   20.0   20.0   66.7   50.0

0  2022.0 2023.0
18   75.0   55.6

DataFrame para Denmark:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
19  Latvia   50   65.0   70.0   59.5   57.8   57.4   51.1   52.2   54.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
19   56.0   50.9   55.1   65.9   68.9   63.9   65.7   69.4   70.6   65.6

0  2022.0 2023.0
19   70.6   68.6

DataFrame para Bosnia and Herzegovina:
0       Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
20  Montenegro  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
20    NaN    NaN    NaN   63.2   63.2   63.2   68.4   73.7   73.7   78.6

0  2022.0 2023.0
20   82.4   80.0

DataFrame para Belgium:
0            Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0  \
21  North Macedonia  NaN    NaN    NaN    NaN    NaN   44.4   30.0   38.1

0  2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0  \
21   36.4   42.1   52.6   56.0   52.2   47.4   50.0   47.6   47.4   50.0

0  2021.0 2022.0 2023.0
21   50.0   47.1   38.5

DataFrame para Bulgaria:
0  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0 2012.0  \
22  Malta  NaN    NaN    NaN    0.0    0.0    0.0    0.0    0.0    0.0    0.0

0  2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0 2022.0  \
22    0.0    9.1    9.1    9.1    9.1    0.0    0.0    0.0   20.0   14.3

0  2023.0
22   14.3

DataFrame para Cyprus:
0        Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
23  Netherlands  9.8    8.3   15.8   16.2   13.2   13.2   13.2   16.7   16.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
23   14.3   15.2   18.2   20.0   25.7   28.6   35.1   35.3   27.0   40.0

0  2022.0 2023.0
23   42.9   41.7

DataFrame para Czech Republic:
0   Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
24  Norway  27.8   38.9   31.6   33.3   36.8   36.8   42.1   40.0   35.0

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
24   35.0   35.0   35.0   35.0   36.8   33.3   40.0   40.0   40.0   40.0

0  2022.0 2023.0
24   40.0   42.1

DataFrame para Germany:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
25  Poland  NaN    8.3    8.3   25.0   26.4   25.6   22.9   22.9   25.3

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
25   25.9   23.5   27.1   27.6   29.1   26.0   29.4   31.3   25.6   21.9

0  2022.0 2023.0
25   19.8   24.8

DataFrame para Estonia:
0     Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
26  Portugal    0    1.8    1.7    1.7    5.1    1.7    3.3    3.3    3.3

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
26    5.0    8.6   12.1   14.0   16.7   16.4   19.7   27.4   30.5   33.3

0  2022.0 2023.0
26   35.1   32.8

DataFrame para Italy:
0    Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
27  Romania  63.8   62.6   71.4   74.1   73.9   75.2   76.2   76.6   80.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
27   85.6   84.3   84.6   84.1   84.1   84.0   80.5   77.7   76.6   76.9

0  2022.0 2023.0
27   77.4   76.7

DataFrame para Greece:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
28  Serbia  NaN    NaN    NaN    NaN    NaN   53.6   55.4   70.8   70.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
28   75.0   60.0   58.3   57.9   59.5   52.6   56.4   58.5   61.9   63.4

0  2022.0 2023.0
28   63.4   78.0

DataFrame para Spain:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
29  Sweden  NaN    NaN    NaN   43.8   43.8   43.8   43.8   43.8   37.5

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
29   41.2   37.5   37.5   37.5   33.3   31.3   31.3   25.0   31.3   31.3

0  2022.0 2023.0
29   25.0   31.3

DataFrame para Finland:
0     Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
30  Slovenia  36.1   37.5   36.2   36.2   31.7   34.1   39.0   41.0   37.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
30   43.6   37.1   36.4   37.9   38.7   40.0   40.6   38.7   40.0   41.4

0  2022.0 2023.0
30   33.3   46.4

DataFrame para Croatia:
0     Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
31  Slovakia  NaN   43.6   49.3   50.0   50.0   67.1   50.7   50.7   51.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
31   53.0   53.6   56.8   54.8   60.5   60.5   56.8   60.8   50.6   50.6

0  2022.0 2023.0
31   63.3   53.3

DataFrame para Hungary:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
32  Trkiye  NaN    NaN    4.4    0.0   17.2   17.2   19.8   23.9   16.0

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
32   15.9   15.6   15.8   19.9   16.6   19.7   15.6   14.8   14.8   12.5

0  2022.0 2023.0
32   12.5   12.1

DataFrame para Ireland:
0           Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0  \
33  United Kingdom    0    8.3    8.3    8.3    8.3    8.3    9.1    8.3

0  2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0  \
33    8.3    8.3    9.1    8.3    8.3    8.3    9.1   18.2   25.0   16.7

0  2021.0 2022.0 2023.0
33   16.7   10.0    8.3

DataFrame para Kosovo:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
34  Kosovo  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
34    NaN    NaN    NaN    NaN    NaN    NaN   30.0   37.5   35.7   26.7

0  2022.0 2023.0
34   25.0   18.8

In [ ]:
df_belgium = dataframes_paises["Belgium"]
df_bulgaria = dataframes_paises["Bulgaria"]
df_czech_republic = dataframes_paises["Czech Republic"]
df_denmark = dataframes_paises["Denmark"]
df_germany = dataframes_paises["Germany"]
df_estonia = dataframes_paises["Estonia"]
df_ireland = dataframes_paises["Ireland"]
df_greece = dataframes_paises["Greece"]
df_spain = dataframes_paises["Spain"]
df_croatia = dataframes_paises["Croatia"]
df_italy = dataframes_paises["Italy"]
df_cyprus = dataframes_paises["Cyprus"]
df_latvia = dataframes_paises["Latvia"]
df_lithuania = dataframes_paises["Lithuania"]
df_luxembourg = dataframes_paises["Luxembourg"]
df_hungary = dataframes_paises["Hungary"]
df_malta = dataframes_paises["Malta"]
df_netherlands = dataframes_paises["Netherlands"]
df_austria = dataframes_paises["Austria"]
df_poland = dataframes_paises["Poland"]
df_portugal = dataframes_paises["Portugal"]
df_romania = dataframes_paises["Romania"]
df_slovenia = dataframes_paises["Slovenia"]
df_slovak_republic = dataframes_paises["Slovak Republic"]
df_finland = dataframes_paises["Finland"]
df_sweden = dataframes_paises["Sweden"]
df_united_kingdom = dataframes_paises["United Kingdom"]

In [ ]:
def T_en_df(df,country_names):
  df=df.T
  df.reset_index(inplace=True)
  df=df.iloc[1:,:]
  df.reset_index(drop=True,inplace=True)
  df.rename(columns={df.columns[1]: "% Tribunales supremos presidentes y miembros"}, inplace=True)
  df.rename(columns={df.columns[0]: "Date"}, inplace=True)
  df["Region"]=country_names
  df["gender"]=1
  return df

In [ ]:
df_belgium=T_en_df(df_belgium,"Belgium")
df_bulgaria=T_en_df(df_bulgaria,"Bulgaria")
df_czech_republic = T_en_df(df_czech_republic, "Czech Republic")
df_denmark = T_en_df(df_denmark, "Denmark")
df_germany = T_en_df(df_germany, "Germany")
df_estonia = T_en_df(df_estonia, "Estonia")
df_ireland = T_en_df(df_ireland, "Ireland")
df_greece = T_en_df(df_greece, "Greece")
df_spain = T_en_df(df_spain, "Spain")
df_croatia = T_en_df(df_croatia, "Croatia")
df_italy = T_en_df(df_italy, "Italy")
df_cyprus = T_en_df(df_cyprus, "Cyprus")
df_latvia = T_en_df(df_latvia, "Latvia")
df_lithuania = T_en_df(df_lithuania, "Lithuania")
df_luxembourg = T_en_df(df_luxembourg, "Luxembourg")
df_hungary = T_en_df(df_hungary, "Hungary")
df_malta = T_en_df(df_malta, "Malta")
df_netherlands = T_en_df(df_netherlands, "Netherlands")
df_austria = T_en_df(df_austria, "Austria")
df_poland = T_en_df(df_poland, "Poland")
df_portugal = T_en_df(df_portugal, "Portugal")
df_romania = T_en_df(df_romania, "Romania")
df_slovenia = T_en_df(df_slovenia, "Slovenia")
df_slovak_republic = T_en_df(df_slovak_republic, "Slovak Republic")
df_finland = T_en_df(df_finland, "Finland")
df_sweden = T_en_df(df_sweden, "Sweden")
df_united_kingdom = T_en_df(df_united_kingdom, "United Kingdom")

In [ ]:
dfs = [
    df_bulgaria,
    df_belgium,
    df_czech_republic,
    df_denmark,
    df_germany,
    df_estonia,
    df_ireland,
    df_greece,
    df_spain,
    df_croatia,
    df_italy,
    df_cyprus,
    df_latvia,
    df_lithuania,
    df_luxembourg,
    df_hungary,
    df_malta,
    df_netherlands,
    df_austria,
    df_poland,
    df_portugal,
    df_romania,
    df_slovenia,
    df_slovak_republic,
    df_finland,
    df_sweden,
    df_united_kingdom
]

# Concatenar los dataframes en uno solo
concatenated_dfwomen = pd.concat(dfs, ignore_index=True)

In [ ]:
concatenated_dfwomen

,Date,% Tribunales supremos presidentes y miembros,Region,gender
0,2003,NaN,Bulgaria,1
1,2004.0,NaN,Bulgaria,1
2,2005.0,NaN,Bulgaria,1
3,2006.0,0.0,Bulgaria,1
4,2007.0,0.0,Bulgaria,1
...,...,...,...,...
562,2019.0,22.2,United Kingdom,1
563,2020.0,25.0,United Kingdom,1
564,2021.0,25.0,United Kingdom,1
565,2022.0,33.3,United Kingdom,1
566,2023.0,33.3,United Kingdom,1

In [ ]:
new_dfmen

,Region,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,85.7,81.8,80.0
1,Austria,86,86.0,82.1,78.6,75.4,75.4,75.4,75.4,72.4,72.4,70.7,69.5,66.7,68.3,68.3,61.0,61.7,61.7,60.0,61.7,58.3
2,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.9,53.7,51.0,51.9,49.0,44.4
3,Belgium,90.7,53.5,56.5,89.1,83.3,83.3,82.8,82.8,79.3,82.1,80.0,80.0,78.6,79.3,75.0,69.0,74.2,69.0,65.5,69.0,69.0
4,Bulgaria,NaN,44.4,55.6,66.7,24.5,21.6,21.7,20.9,22.3,24.0,23.2,27.1,25.5,25.5,23.2,24.3,24.2,28.4,23.4,24.4,23.6
5,Cyprus,100,91.7,91.7,91.7,92.3,92.3,92.3,92.3,92.3,92.3,84.6,84.6,73.3,69.2,61.5,61.5,61.5,66.7,69.2,58.3,54.5
6,Czechia,NaN,76.3,79.3,78.7,73.8,72.9,75.8,75.8,76.2,76.6,78.8,77.3,77.3,80.0,80.9,82.6,83.3,90.5,85.7,83.1,81.4
7,Germany,83.2,80.5,78.9,81.6,79.5,80.3,80.6,81.1,78.3,78.9,79.8,75.2,72.4,68.9,67.6,65.9,66.4,65.3,63.2,65.1,62.5
8,Denmark,100,84.2,73.7,75.0,77.8,78.9,78.9,73.7,73.7,76.2,75.0,75.0,75.0,71.4,66.7,72.2,72.2,77.8,77.8,78.9,83.3
9,Estonia,88.9,83.3,83.3,83.3,84.2,84.2,84.2,84.2,89.5,89.5,89.5,84.2,77.8,78.9,73.7,72.2,77.8,73.7,73.7,68.4,68.4
10,Greece,NaN,98.0,93.8,89.2,82.4,82.9,80.6,79.2,79.2,73.6,69.4,63.9,55.6,54.9,50.7,51.3,46.1,27.6,67.1,67.1,34.9
11,Spain,NaN,NaN,NaN,NaN,92.7,92.0,88.3,89.3,90.4,88.8,88.8,88.3,86.3,86.3,86.3,84.7,81.0,78.9,80.8,77.6,80.8
12,Finland,66.7,66.7,73.7,72.2,68.4,68.4,73.7,73.7,73.7,68.4,68.4,68.4,66.7,72.2,68.4,78.9,68.4,75.0,71.4,55.0,70.0
13,Croatia,NaN,NaN,NaN,NaN,56.1,53.8,52.8,48.8,51.2,52.4,55.0,57.1,60.5,61.0,59.5,63.4,65.9,61.1,66.7,64.7,67.7
14,Hungary,50,50.0,39.0,39.0,40.2,39.0,39.5,43.2,43.2,43.2,46.4,52.4,50.6,51.9,50.6,48.8,50.0,49.4,38.2,38.2,40.9
15,Ireland,71.4,71.4,66.7,57.1,75.0,75.0,75.0,77.8,77.8,88.9,88.9,66.7,70.0,55.6,55.6,77.8,77.8,75.0,75.0,66.7,66.7
16,Italy,91.3,NaN,NaN,NaN,88.5,87.7,85.6,85.5,80.8,78.1,77.6,74.1,74.1,71.9,56.9,65.9,65.0,67.4,64.7,66.6,64.9
17,Lithuania,NaN,83.3,80.6,80.0,82.9,80.6,78.4,78.4,78.4,77.1,73.5,72.4,67.6,67.6,74.3,64.7,65.7,59.4,62.1,62.5,54.8
18,Luxembourg,50,100.0,100.0,100.0,80.0,0.0,0.0,0.0,33.3,25.0,25.0,50.0,50.0,100.0,80.0,80.0,80.0,33.3,50.0,25.0,44.4
19,Latvia,50,35.0,30.0,40.5,42.2,42.6,48.9,47.8,45.8,44.0,49.1,44.9,34.1,31.1,36.1,34.3,30.6,29.4,34.4,29.4,31.4
20,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.8,36.8,36.8,31.6,26.3,26.3,21.4,17.6,20.0
21,North Macedonia,NaN,NaN,NaN,NaN,NaN,55.6,70.0,61.9,63.6,57.9,47.4,44.0,47.8,52.6,50.0,52.4,52.6,50.0,50.0,52.9,61.5
22,Malta,NaN,NaN,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,90.9,90.9,90.9,90.9,100.0,100.0,100.0,80.0,85.7,85.7
23,Netherlands,90.2,91.7,84.2,83.8,86.8,86.8,86.8,83.3,83.8,85.7,84.8,81.8,80.0,74.3,71.4,64.9,64.7,73.0,60.0,57.1,58.3
24,Norway,72.2,61.1,68.4,66.7,63.2,63.2,57.9,60.0,65.0,65.0,65.0,65.0,65.0,63.2,66.7,60.0,60.0,60.0,60.0,60.0,57.9
25,Poland,NaN,91.7,91.7,75.0,73.6,74.4,77.1,77.1,74.7,74.1,76.5,72.9,72.4,70.9,74.0,70.6,68.7,74.4,78.1,80.2,75.2
26,Portugal,100,98.2,98.3,98.3,94.9,98.3,96.7,96.7,96.7,95.0,91.4,87.9,86.0,83.3,83.6,80.3,72.6,69.5,66.7,64.9,67.2
27,Romania,36.2,37.4,28.6,25.9,26.1,24.8,23.8,23.4,19.8,14.4,15.7,15.4,15.9,15.9,16.0,19.5,22.3,23.4,23.1,22.6,23.3
28,Serbia,NaN,NaN,NaN,NaN,NaN,46.4,44.6,29.2,29.2,25.0,40.0,41.7,42.1,40.5,47.4,43.6,41.5,38.1,36.6,36.6,22.0
29,Sweden,NaN,NaN,NaN,56.3,56.3,56.3,56.3,56.3,62.5,58.8,62.5,62.5,62.5,66.7,68.8,68.8,75.0,68.8,68.8,75.0,68.8
30,Slovenia,63.9,62.5,63.8,63.8,68.3,65.9,61.0,59.0,62.2,56.4,62.9,63.6,62.1,61.3,60.0,59.4,61.3,60.0,58.6,66.7,53.6
31,Slovakia,NaN,56.4,50.7,50.0,50.0,32.9,49.3,49.3,48.2,47.0,46.4,43.2,45.2,39.5,39.5,43.2,39.2,49.4,49.4,36.7,46.7
32,Trkiye,NaN,NaN,95.6,100.0,82.8,82.8,80.2,76.1,84.0,84.1,84.4,84.2,80.1,83.4,80.3,84.4,85.2,85.2,87.5,87.5,87.9
33,United Kingdom,100,91.7,91.7,91.7,91.7,91.7,90.9,91.7,91.7,91.7,90.9,91.7,91.7,91.7,90.9,81.8,75.0,83.3,83.3,90.0,91.7
34,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,62.5,64.3,73.3,75.0,81.3

In [ ]:
country_names = [
    "Albania",
    "Portugal",
    "Montenegro",
    "North Macedonia",
    "Malta",
    "Netherlands",
    "Norway",
    "Poland",
    "Romania",
    "Luxembourg",
    "Serbia",
    "Sweden",
    "Slovenia",
    "Slovak Republic",
    "Trkiye",
    "United Kingdom",
    "Latvia",
    "Lithuania",
    "Austria",
    "Denmark",
    "Bosnia and Herzegovina",
    "Belgium",
    "Bulgaria",
    "Cyprus",
    "Czech Republic",
    "Germany",
    "Estonia",
    "Italy",
    "Greece",
    "Spain",
    "Finland",
    "Croatia",
    "Hungary",
    "Ireland",
    "Kosovo"
]



partes = [new_dfmen[i:i+1] for i in range(0, len(new_dfmen), 1)]

# Crear nuevos DataFrames con nombres de pases
dataframes_paises = {}
for i, parte in enumerate(partes):
    pais = country_names[i]
    dataframes_paises[pais] = parte.copy()

# Mostrar cada nuevo DataFrame por separado
for pais, df_pais in dataframes_paises.items():
    print(f"DataFrame para {pais}:\n{df_pais}\n")

DataFrame para Albania:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
0  Albania  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
0    NaN    NaN    NaN    NaN    NaN    NaN  100.0  100.0  100.0   85.7

0 2022.0 2023.0
0   81.8   80.0

DataFrame para Portugal:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
1  Austria   86   86.0   82.1   78.6   75.4   75.4   75.4   75.4   72.4

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
1   72.4   70.7   69.5   66.7   68.3   68.3   61.0   61.7   61.7   60.0

0 2022.0 2023.0
1   61.7   58.3

DataFrame para Montenegro:
0                  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0  \
2  Bosnia and Herzegovina  NaN    NaN    NaN    NaN    NaN    NaN    NaN

0 2010.0 2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0  \
2    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN   51.9   53.7

0 2020.0 2021.0 2022.0 2023.0
2   51.0   51.9   49.0   44.4

DataFrame para North Macedonia:
0   Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
3  Belgium  90.7   53.5   56.5   89.1   83.3   83.3   82.8   82.8   79.3

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
3   82.1   80.0   80.0   78.6   79.3   75.0   69.0   74.2   69.0   65.5

0 2022.0 2023.0
3   69.0   69.0

DataFrame para Malta:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
4  Bulgaria  NaN   44.4   55.6   66.7   24.5   21.6   21.7   20.9   22.3

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
4   24.0   23.2   27.1   25.5   25.5   23.2   24.3   24.2   28.4   23.4

0 2022.0 2023.0
4   24.4   23.6

DataFrame para Netherlands:
0  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0 2012.0  \
5  Cyprus  100   91.7   91.7   91.7   92.3   92.3   92.3   92.3   92.3   92.3

0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0 2022.0 2023.0
5   84.6   84.6   73.3   69.2   61.5   61.5   61.5   66.7   69.2   58.3   54.5

DataFrame para Norway:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
6  Czechia  NaN   76.3   79.3   78.7   73.8   72.9   75.8   75.8   76.2

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
6   76.6   78.8   77.3   77.3   80.0   80.9   82.6   83.3   90.5   85.7

0 2022.0 2023.0
6   83.1   81.4

DataFrame para Poland:
0   Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
7  Germany  83.2   80.5   78.9   81.6   79.5   80.3   80.6   81.1   78.3

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
7   78.9   79.8   75.2   72.4   68.9   67.6   65.9   66.4   65.3   63.2

0 2022.0 2023.0
7   65.1   62.5

DataFrame para Romania:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
8  Denmark  100   84.2   73.7   75.0   77.8   78.9   78.9   73.7   73.7

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
8   76.2   75.0   75.0   75.0   71.4   66.7   72.2   72.2   77.8   77.8

0 2022.0 2023.0
8   78.9   83.3

DataFrame para Luxembourg:
0   Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
9  Estonia  88.9   83.3   83.3   83.3   84.2   84.2   84.2   84.2   89.5

0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
9   89.5   89.5   84.2   77.8   78.9   73.7   72.2   77.8   73.7   73.7

0 2022.0 2023.0
9   68.4   68.4

DataFrame para Serbia:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
10  Greece  NaN   98.0   93.8   89.2   82.4   82.9   80.6   79.2   79.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
10   73.6   69.4   63.9   55.6   54.9   50.7   51.3   46.1   27.6   67.1

0  2022.0 2023.0
10   67.1   34.9

DataFrame para Sweden:
0  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0 2012.0  \
11  Spain  NaN    NaN    NaN    NaN   92.7   92.0   88.3   89.3   90.4   88.8

0  2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0 2022.0  \
11   88.8   88.3   86.3   86.3   86.3   84.7   81.0   78.9   80.8   77.6

0  2023.0
11   80.8

DataFrame para Slovenia:
0    Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
12  Finland  66.7   66.7   73.7   72.2   68.4   68.4   73.7   73.7   73.7

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
12   68.4   68.4   68.4   66.7   72.2   68.4   78.9   68.4   75.0   71.4

0  2022.0 2023.0
12   55.0   70.0

DataFrame para Slovak Republic:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
13  Croatia  NaN    NaN    NaN    NaN   56.1   53.8   52.8   48.8   51.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
13   52.4   55.0   57.1   60.5   61.0   59.5   63.4   65.9   61.1   66.7

0  2022.0 2023.0
13   64.7   67.7

DataFrame para Trkiye:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
14  Hungary   50   50.0   39.0   39.0   40.2   39.0   39.5   43.2   43.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
14   43.2   46.4   52.4   50.6   51.9   50.6   48.8   50.0   49.4   38.2

0  2022.0 2023.0
14   38.2   40.9

DataFrame para United Kingdom:
0    Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
15  Ireland  71.4   71.4   66.7   57.1   75.0   75.0   75.0   77.8   77.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
15   88.9   88.9   66.7   70.0   55.6   55.6   77.8   77.8   75.0   75.0

0  2022.0 2023.0
15   66.7   66.7

DataFrame para Latvia:
0  Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
16  Italy  91.3    NaN    NaN    NaN   88.5   87.7   85.6   85.5   80.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
16   78.1   77.6   74.1   74.1   71.9   56.9   65.9   65.0   67.4   64.7

0  2022.0 2023.0
16   66.6   64.9

DataFrame para Lithuania:
0      Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
17  Lithuania  NaN   83.3   80.6   80.0   82.9   80.6   78.4   78.4   78.4

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
17   77.1   73.5   72.4   67.6   67.6   74.3   64.7   65.7   59.4   62.1

0  2022.0 2023.0
17   62.5   54.8

DataFrame para Austria:
0       Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
18  Luxembourg   50  100.0  100.0  100.0   80.0    0.0    0.0    0.0   33.3

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
18   25.0   25.0   50.0   50.0  100.0   80.0   80.0   80.0   33.3   50.0

0  2022.0 2023.0
18   25.0   44.4

DataFrame para Denmark:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
19  Latvia   50   35.0   30.0   40.5   42.2   42.6   48.9   47.8   45.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
19   44.0   49.1   44.9   34.1   31.1   36.1   34.3   30.6   29.4   34.4

0  2022.0 2023.0
19   29.4   31.4

DataFrame para Bosnia and Herzegovina:
0       Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
20  Montenegro  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
20    NaN    NaN    NaN   36.8   36.8   36.8   31.6   26.3   26.3   21.4

0  2022.0 2023.0
20   17.6   20.0

DataFrame para Belgium:
0            Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0  \
21  North Macedonia  NaN    NaN    NaN    NaN    NaN   55.6   70.0   61.9

0  2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0  \
21   63.6   57.9   47.4   44.0   47.8   52.6   50.0   52.4   52.6   50.0

0  2021.0 2022.0 2023.0
21   50.0   52.9   61.5

DataFrame para Bulgaria:
0  Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0 2012.0  \
22  Malta  NaN    NaN    NaN  100.0  100.0  100.0  100.0  100.0  100.0  100.0

0  2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0 2022.0  \
22  100.0   90.9   90.9   90.9   90.9  100.0  100.0  100.0   80.0   85.7

0  2023.0
22   85.7

DataFrame para Cyprus:
0        Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
23  Netherlands  90.2   91.7   84.2   83.8   86.8   86.8   86.8   83.3   83.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
23   85.7   84.8   81.8   80.0   74.3   71.4   64.9   64.7   73.0   60.0

0  2022.0 2023.0
23   57.1   58.3

DataFrame para Czech Republic:
0   Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
24  Norway  72.2   61.1   68.4   66.7   63.2   63.2   57.9   60.0   65.0

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
24   65.0   65.0   65.0   65.0   63.2   66.7   60.0   60.0   60.0   60.0

0  2022.0 2023.0
24   60.0   57.9

DataFrame para Germany:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
25  Poland  NaN   91.7   91.7   75.0   73.6   74.4   77.1   77.1   74.7

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
25   74.1   76.5   72.9   72.4   70.9   74.0   70.6   68.7   74.4   78.1

0  2022.0 2023.0
25   80.2   75.2

DataFrame para Estonia:
0     Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
26  Portugal  100   98.2   98.3   98.3   94.9   98.3   96.7   96.7   96.7

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
26   95.0   91.4   87.9   86.0   83.3   83.6   80.3   72.6   69.5   66.7

0  2022.0 2023.0
26   64.9   67.2

DataFrame para Italy:
0    Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
27  Romania  36.2   37.4   28.6   25.9   26.1   24.8   23.8   23.4   19.8

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
27   14.4   15.7   15.4   15.9   15.9   16.0   19.5   22.3   23.4   23.1

0  2022.0 2023.0
27   22.6   23.3

DataFrame para Greece:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
28  Serbia  NaN    NaN    NaN    NaN    NaN   46.4   44.6   29.2   29.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
28   25.0   40.0   41.7   42.1   40.5   47.4   43.6   41.5   38.1   36.6

0  2022.0 2023.0
28   36.6   22.0

DataFrame para Spain:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
29  Sweden  NaN    NaN    NaN   56.3   56.3   56.3   56.3   56.3   62.5

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
29   58.8   62.5   62.5   62.5   66.7   68.8   68.8   75.0   68.8   68.8

0  2022.0 2023.0
29   75.0   68.8

DataFrame para Finland:
0     Region  2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
30  Slovenia  63.9   62.5   63.8   63.8   68.3   65.9   61.0   59.0   62.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
30   56.4   62.9   63.6   62.1   61.3   60.0   59.4   61.3   60.0   58.6

0  2022.0 2023.0
30   66.7   53.6

DataFrame para Croatia:
0     Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
31  Slovakia  NaN   56.4   50.7   50.0   50.0   32.9   49.3   49.3   48.2

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
31   47.0   46.4   43.2   45.2   39.5   39.5   43.2   39.2   49.4   49.4

0  2022.0 2023.0
31   36.7   46.7

DataFrame para Hungary:
0    Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
32  Trkiye  NaN    NaN   95.6  100.0   82.8   82.8   80.2   76.1   84.0

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
32   84.1   84.4   84.2   80.1   83.4   80.3   84.4   85.2   85.2   87.5

0  2022.0 2023.0
32   87.5   87.9

DataFrame para Ireland:
0           Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0  \
33  United Kingdom  100   91.7   91.7   91.7   91.7   91.7   90.9   91.7

0  2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0  \
33   91.7   91.7   90.9   91.7   91.7   91.7   90.9   81.8   75.0   83.3

0  2021.0 2022.0 2023.0
33   83.3   90.0   91.7

DataFrame para Kosovo:
0   Region 2003 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0 2010.0 2011.0  \
34  Kosovo  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

0  2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0 2019.0 2020.0 2021.0  \
34    NaN    NaN    NaN    NaN    NaN    NaN   70.0   62.5   64.3   73.3

0  2022.0 2023.0
34   75.0   81.3

In [ ]:
df_belgium = dataframes_paises["Belgium"]
df_bulgaria = dataframes_paises["Bulgaria"]
df_czech_republic = dataframes_paises["Czech Republic"]
df_denmark = dataframes_paises["Denmark"]
df_germany = dataframes_paises["Germany"]
df_estonia = dataframes_paises["Estonia"]
df_ireland = dataframes_paises["Ireland"]
df_greece = dataframes_paises["Greece"]
df_spain = dataframes_paises["Spain"]
df_croatia = dataframes_paises["Croatia"]
df_italy = dataframes_paises["Italy"]
df_cyprus = dataframes_paises["Cyprus"]
df_latvia = dataframes_paises["Latvia"]
df_lithuania = dataframes_paises["Lithuania"]
df_luxembourg = dataframes_paises["Luxembourg"]
df_hungary = dataframes_paises["Hungary"]
df_malta = dataframes_paises["Malta"]
df_netherlands = dataframes_paises["Netherlands"]
df_austria = dataframes_paises["Austria"]
df_poland = dataframes_paises["Poland"]
df_portugal = dataframes_paises["Portugal"]
df_romania = dataframes_paises["Romania"]
df_slovenia = dataframes_paises["Slovenia"]
df_slovak_republic = dataframes_paises["Slovak Republic"]
df_finland = dataframes_paises["Finland"]
df_sweden = dataframes_paises["Sweden"]
df_united_kingdom = dataframes_paises["United Kingdom"]

In [ ]:
def T_en_df(df,country_names):
  df=df.T
  df.reset_index(inplace=True)
  df=df.iloc[1:,:]
  df.reset_index(drop=True,inplace=True)
  df.rename(columns={df.columns[1]: "% Tribunales supremos presidentes y miembros"}, inplace=True)
  df.rename(columns={df.columns[0]: "Date"}, inplace=True)
  df["Region"]=country_names
  df["gender"]=0
  return df

In [ ]:
df_belgium=T_en_df(df_belgium,"Belgium")
df_bulgaria=T_en_df(df_bulgaria,"Bulgaria")
df_czech_republic = T_en_df(df_czech_republic, "Czech Republic")
df_denmark = T_en_df(df_denmark, "Denmark")
df_germany = T_en_df(df_germany, "Germany")
df_estonia = T_en_df(df_estonia, "Estonia")
df_ireland = T_en_df(df_ireland, "Ireland")
df_greece = T_en_df(df_greece, "Greece")
df_spain = T_en_df(df_spain, "Spain")
df_croatia = T_en_df(df_croatia, "Croatia")
df_italy = T_en_df(df_italy, "Italy")
df_cyprus = T_en_df(df_cyprus, "Cyprus")
df_latvia = T_en_df(df_latvia, "Latvia")
df_lithuania = T_en_df(df_lithuania, "Lithuania")
df_luxembourg = T_en_df(df_luxembourg, "Luxembourg")
df_hungary = T_en_df(df_hungary, "Hungary")
df_malta = T_en_df(df_malta, "Malta")
df_netherlands = T_en_df(df_netherlands, "Netherlands")
df_austria = T_en_df(df_austria, "Austria")
df_poland = T_en_df(df_poland, "Poland")
df_portugal = T_en_df(df_portugal, "Portugal")
df_romania = T_en_df(df_romania, "Romania")
df_slovenia = T_en_df(df_slovenia, "Slovenia")
df_slovak_republic = T_en_df(df_slovak_republic, "Slovak Republic")
df_finland = T_en_df(df_finland, "Finland")
df_sweden = T_en_df(df_sweden, "Sweden")
df_united_kingdom = T_en_df(df_united_kingdom, "United Kingdom")

In [ ]:
dfs = [
    df_bulgaria,
    df_belgium,
    df_czech_republic,
    df_denmark,
    df_germany,
    df_estonia,
    df_ireland,
    df_greece,
    df_spain,
    df_croatia,
    df_italy,
    df_cyprus,
    df_latvia,
    df_lithuania,
    df_luxembourg,
    df_hungary,
    df_malta,
    df_netherlands,
    df_austria,
    df_poland,
    df_portugal,
    df_romania,
    df_slovenia,
    df_slovak_republic,
    df_finland,
    df_sweden,
    df_united_kingdom
]

# Concatenar los dataframes en uno solo
concatenated_dfmen = pd.concat(dfs, ignore_index=True)

In [ ]:
concatenated_dfmen

,Date,% Tribunales supremos presidentes y miembros,Region,gender
0,2003,NaN,Bulgaria,0
1,2004.0,NaN,Bulgaria,0
2,2005.0,NaN,Bulgaria,0
3,2006.0,100.0,Bulgaria,0
4,2007.0,100.0,Bulgaria,0
...,...,...,...,...
562,2019.0,77.8,United Kingdom,0
563,2020.0,75.0,United Kingdom,0
564,2021.0,75.0,United Kingdom,0
565,2022.0,66.7,United Kingdom,0
566,2023.0,66.7,United Kingdom,0

In [ ]:
concatenated_dfwomen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Date                                          567 non-null    object
 1   % Tribunales supremos presidentes y miembros  534 non-null    object
 2   Region                                        567 non-null    object
 3   gender                                        567 non-null    int64
dtypes: int64(1), object(3)
memory usage: 17.8+ KB

In [ ]:
concatenated_dfmen["Date"]=concatenated_dfmen["Date"].astype(int)

In [ ]:
concatenated_dfwomen["Date"]=concatenated_dfwomen["Date"].astype(int)

In [ ]:
new_df=pd.concat([concatenated_dfmen,concatenated_dfwomen])
new_df

     Date % Tribunales supremos presidentes y miembros          Region  gender
0    2003                                          NaN        Bulgaria       0
1    2004                                          NaN        Bulgaria       0
2    2005                                          NaN        Bulgaria       0
3    2006                                        100.0        Bulgaria       0
4    2007                                        100.0        Bulgaria       0
..    ...                                          ...             ...     ...
562  2019                                         22.2  United Kingdom       1
563  2020                                         25.0  United Kingdom       1
564  2021                                         25.0  United Kingdom       1
565  2022                                         33.3  United Kingdom       1
566  2023                                         33.3  United Kingdom       1

[1134 rows x 4 columns]

In [ ]:
ff

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who dont smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_x,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x",Esperenza de vida_x,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_y,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y",Esperenza de vida_y
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new_df["gender"].value_counts()

0    567
1    567
Name: gender, dtype: int64

In [ ]:
ff=pd.merge(ff,new_df,on=["Date","gender","Region"],how="left")

In [ ]:
pour_dfw=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/nuevos excels/Personas por riesgo de pobreza, privacion material, intensidad laboral del hogar, edad y sexo de la persona women.xlsx")

In [ ]:
pour_dfm=pd.read_excel("/content/drive/MyDrive/capstone igualdad de genero/nuevos excels/Personas por riesgo de pobreza, privacion material, intensidad laboral del hogar, edad y sexo de la persona men(1).xlsx")

In [ ]:
pour_dfm = pour_dfm.iloc[19:, :]
pour_dfm.reset_index(drop=True, inplace=True)
pour_dfm = pour_dfm.drop(pour_dfm.index[10])
pour_dfm = pour_dfm.drop(pour_dfm.index[11])
pour_dfm = pour_dfm.drop(pour_dfm.index[15])
pour_dfm = pour_dfm.drop(pour_dfm.index[16])
pour_dfm = pour_dfm.drop(pour_dfm.index[17])
pour_dfm.reset_index(drop=True, inplace=True)
pour_dfm.columns = pour_dfm.iloc[0]
pour_dfm = pour_dfm.drop(pour_dfm.index[0])
pour_dfm.reset_index(drop=True, inplace=True)
pour_dfm = pour_dfm.drop(pour_dfm.index[9])
pour_dfm = pour_dfm.drop(pour_dfm.index[12])
pour_dfm = pour_dfm.drop(pour_dfm.index[13])
pour_dfm.reset_index(drop=True, inplace=True)

In [ ]:
pour_dfm

,Geographic region\Time,2008,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,1.3,1.8,1.5
1,Austria,1.9,1.8,1.9,2.4,2.0,2.0,2.3,2.3,2.2,1.9,1.8,1.9,2.0
2,Belgium,3.4,3.2,3.6,3.5,3.5,3.7,3.6,3.9,3.3,2.9,2.3,2.8,3.0
3,Bulgaria,0.4,0.6,0.5,0.7,0.8,1.0,1.4,1.4,1.4,1.2,1.3,1.2,0.9
4,Switzerland,0.8,1.1,1.1,1.2,1.1,1.4,1.4,1.8,1.9,1.9,1.7,1.9,2.0
5,Cyprus,0.8,0.9,1.5,1.6,1.8,2.0,2.2,2.6,2.8,3.0,1.9,2.1,1.8
6,Czechia,1.7,1.3,1.4,1.3,1.6,1.8,1.2,1.3,NaN,1.2,1.1,1.0,1.2
7,Germany,2.1,1.8,2.0,1.9,1.6,1.8,1.8,1.6,2.0,1.6,1.4,1.5,2.2
8,Denmark,3.2,3.1,3.2,3.9,4.2,4.1,4.1,3.5,3.0,2.9,2.6,2.7,2.7
9,Greece,2.4,2.5,2.5,3.0,3.1,4.1,4.7,4.0,4.1,3.5,3.5,3.3,3.0
10,Spain,2.2,2.3,3.4,4.0,3.8,4.3,4.5,4.2,3.9,3.1,2.6,2.8,2.6
11,European Union,2.3,2.3,2.5,2.6,2.5,2.6,2.7,2.5,2.5,2.3,1.9,1.9,NaN
12,Finland,1.8,1.9,2.4,2.5,2.5,3.1,3.2,3.6,3.7,3.1,2.8,2.7,2.4
13,Ireland,4.9,7.1,8.4,10.1,7.2,7.4,5.9,4.5,3.9,4.2,3.2,4.5,3.7
14,Iceland,1.1,0.9,2.4,2.7,2.8,2.3,2.3,1.9,1.9,1.5,1.5,NaN,NaN
15,Italy,2.6,2.6,2.6,2.2,2.2,2.5,2.6,2.8,2.7,2.9,2.5,2.0,2.4
16,Lithuania,1.1,0.9,1.3,2.4,1.8,2.1,1.6,1.2,1.1,1.2,1.3,1.1,1.0
17,Luxembourg,1.6,2.1,1.9,2.3,2.2,2.2,1.7,2.3,2.6,2.3,3.2,2.4,2.9
18,Latvia,0.5,0.7,1.8,2.0,1.8,1.4,1.4,0.9,1.1,1.0,1.2,1.3,1.2
19,Montenegro,NaN,NaN,NaN,NaN,NaN,6.0,7.1,5.0,6.0,6.4,6.2,3.8,3.8
20,North Macedonia,NaN,NaN,2.8,1.6,1.5,1.9,2.1,2.8,2.2,1.9,1.7,1.4,1.8
21,Malta,2,2.1,1.9,1.8,1.5,1.6,1.5,1.3,1.4,1.1,0.7,0.8,0.8
22,Netherlands,2.9,2.7,2.9,3.2,2.8,2.8,2.8,3.0,2.2,2.3,2.0,2.1,1.8
23,Norway,2.1,2.2,2.7,2.8,2.5,2.3,2.0,2.2,2.3,2.6,2.4,2.6,2.6
24,Poland,1.9,1.8,1.7,1.6,1.5,1.6,1.8,1.7,1.4,1.3,1.3,1.1,1.3
25,Portugal,1.7,1.9,2.3,2.3,3.0,3.4,3.2,2.9,2.5,2.1,1.7,1.7,1.5
26,Romania,1.7,1.8,1.9,1.6,1.5,1.4,1.2,1.3,1.1,1.1,0.8,0.8,0.9
27,Serbia,NaN,NaN,NaN,NaN,NaN,3.1,3.5,3.4,3.8,3.5,3.0,2.9,2.9
28,Sweden,2.1,2.2,1.9,2.1,1.7,1.7,2.0,1.6,1.4,1.3,1.1,1.1,1.3
29,Slovenia,1.7,1.5,1.7,1.8,2.1,2.3,1.9,1.6,1.6,1.4,1.1,1.0,1.1
30,Slovakia,1,1.2,1.4,1.1,1.2,1.2,1.0,1.4,1.0,0.7,0.8,0.8,0.7
31,Trkiye,2.6,2.7,2.7,2.6,2.2,2.5,3.3,3.0,2.9,3.1,3.0,3.1,3.1
32,United Kingdom,2.1,3.0,3.0,3.6,3.7,3.7,3.2,3.3,3.3,3.1,2.5,NaN,NaN
33,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN

In [ ]:
pour_dfw=pour_dfw.iloc[19:,:]

In [ ]:
pour_dfw.reset_index(drop=True,inplace=True)

In [ ]:
pour_dfw=pour_dfw.drop(pour_dfw.index[10])
pour_dfw=pour_dfw.drop(pour_dfw.index[11])
pour_dfw=pour_dfw.drop(pour_dfw.index[15])
pour_dfw=pour_dfw.drop(pour_dfw.index[16])
pour_dfw=pour_dfw.drop(pour_dfw.index[17])
pour_dfw.reset_index(drop=True,inplace=True)

In [ ]:
pour_dfw

,"Persons by risk of poverty, material deprivation, work intensity of the household, age and sex of the person - intersections of EU 2020 Strategy poverty target indicators [ta_livcond_genind__ilc_pees01]",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Geographic region\Time,2008,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.1,2.4,2.1
2,Austria,2.9,3.0,2.8,3.2,2.5,2.9,3.5,3.3,3.1,2.6,2.2,2.6,2.4
3,Belgium,4.1,3.8,3.9,3.6,3.6,4.0,3.8,4.5,3.9,3.0,2.5,3.3,3.3
4,Bulgaria,0.5,0.6,0.7,0.9,0.8,1.0,1.1,1.3,1.4,1.0,1.1,1.0,1.0
5,Switzerland,1.6,1.5,1.7,1.9,1.3,1.6,2.5,2.2,2.4,2.4,2.1,2.2,2.3
6,Cyprus,2,1.7,1.8,1.9,2.4,2.5,3.1,3.3,3.6,3.4,2.8,2.8,1.9
7,Czechia,2.7,2.3,2.4,2.1,2.2,2.4,1.8,1.7,NaN,1.3,1.3,1.2,1.3
8,Germany,3,2.5,2.7,2.6,2.1,2.5,2.4,2.2,2.2,1.9,1.9,1.8,2.7
9,Denmark,3.4,3.4,4.1,4.3,4.2,4.5,4.5,4.1,4.1,3.2,2.1,2.6,3.2
10,Euro area (19 countries),3.1,2.9,3.2,3.1,3.0,3.0,3.2,2.9,2.9,2.6,2.4,2.4,2.5
11,Greece,3.7,3.4,3.6,4.0,4.4,5.1,5.6,5.6,5.7,4.8,4.6,4.2,3.9
12,Spain,2.6,2.6,3.3,4.0,4.1,4.1,4.2,4.0,3.7,3.1,2.7,3.3,2.7
13,European Union,2.9,2.9,3.1,3.1,3.0,3.0,3.0,2.8,2.8,2.5,2.2,2.1,NaN
14,European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,2.9,2.7,2.7,2.4,2.2,2.1,2.2
15,Finland,2.4,1.9,2.4,2.6,2.2,2.4,2.6,2.8,3.3,2.8,2.6,2.2,2.3
16,Croatia,NaN,NaN,3.1,3.6,3.8,3.2,3.1,2.7,2.6,2.4,2.1,1.8,1.9
17,Ireland,4.7,7.1,9.2,10.7,7.2,7.4,5.4,5.0,4.5,4.3,3.6,4.8,3.8
18,Iceland,1.5,1.1,2.9,3.2,3.3,2.8,2.6,2.4,2.2,2.2,1.9,NaN,NaN
19,Italy,3.6,3.3,3.4,3.1,3.3,3.2,3.1,3.1,3.2,3.4,3.0,2.3,2.8
20,Lithuania,1.3,0.9,1.4,1.9,1.5,2.0,1.1,1.2,1.3,1.3,0.9,1.2,0.9
21,Luxembourg,2.2,3.3,2.9,3.1,3.3,2.6,2.3,2.8,2.9,3.3,4.1,3.4,2.9
22,Latvia,0.6,0.7,1.6,1.6,1.4,1.3,1.1,0.9,1.0,1.2,1.1,1.1,1.3
23,Montenegro,NaN,NaN,NaN,NaN,NaN,6.0,6.9,4.4,5.7,5.7,6.0,3.7,3.8
24,North Macedonia,NaN,NaN,3.4,2.0,2.1,2.4,2.4,3.5,2.1,2.5,1.9,1.4,1.7
25,Malta,2.5,3.3,2.7,3.0,2.4,2.7,2.4,2.2,1.7,1.6,1.0,1.2,1.1
26,Netherlands,4.3,3.8,4.0,4.0,4.3,4.4,3.5,3.7,2.9,2.7,2.4,2.7,2.0
27,Norway,2.8,2.5,2.8,2.9,2.9,2.4,2.2,2.2,2.6,2.9,2.8,2.5,2.5
28,Poland,2.9,2.4,2.5,2.4,2.1,2.0,2.3,2.0,1.6,1.4,1.6,1.3,1.3
29,Portugal,2.4,2.2,2.5,2.4,3.0,3.1,3.1,3.0,2.6,2.3,1.7,1.6,1.4
30,Romania,2.8,2.8,2.7,2.5,2.7,2.6,2.0,2.2,2.1,2.0,1.7,1.2,1.3
31,Serbia,NaN,NaN,NaN,NaN,NaN,3.5,3.6,3.1,3.7,2.9,2.8,2.6,3.2
32,Sweden,2.4,2.6,2.0,2.6,1.8,1.8,2.2,2.0,1.9,1.6,1.0,1.2,1.4
33,Slovenia,2.6,2.6,2.9,2.6,2.9,2.8,2.8,2.2,2.1,1.6,1.4,1.3,1.1
34,Slovakia,1.9,1.8,2.1,1.8,1.7,1.4,1.0,1.2,0.8,0.7,0.7,0.8,0.6
35,Trkiye,3.4,3.7,3.4,3.5,3.3,3.7,4.8,4.4,4.2,4.6,4.8,4.8,4.8
36,United Kingdom,2.3,3.4,3.4,3.7,3.9,4.2,3.5,3.6,3.6,3.1,2.3,NaN,NaN
37,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.5,NaN,NaN

In [ ]:
pour_dfw.columns=pour_dfw.iloc[0]

In [ ]:
pour_dfw=pour_dfw.drop(pour_dfw.index[0])

In [ ]:
pour_dfw.reset_index(drop=True,inplace=True)

In [ ]:
pour_dfw=pour_dfw.drop(pour_dfw.index[9])
pour_dfw=pour_dfw.drop(pour_dfw.index[12])
pour_dfw=pour_dfw.drop(pour_dfw.index[13])
pour_dfw.reset_index(drop=True,inplace=True)

In [ ]:
pour_dfw["Geographic region\Time"].value_counts()

Albania            1
Portugal           1
Montenegro         1
North Macedonia    1
Malta              1
Netherlands        1
Norway             1
Poland             1
Romania            1
Austria            1
Serbia             1
Sweden             1
Slovenia           1
Slovakia           1
Trkiye            1
United Kingdom     1
Latvia             1
Luxembourg         1
Lithuania          1
Italy              1
Iceland            1
Ireland            1
Finland            1
European Union     1
Spain              1
Greece             1
Denmark            1
Germany            1
Czechia            1
Cyprus             1
Switzerland        1
Bulgaria           1
Belgium            1
Kosovo             1
Name: Geographic region\Time, dtype: int64

In [ ]:
country_name = [
    "Albania", "Portugal", "Montenegro", "North Macedonia", "Malta",
    "Netherlands", "Norway", "Poland", "Romania", "Austria",
    "Serbia", "Sweden", "Slovenia", "Slovak Republic", "Trkiye", "United Kingdom",
    "Latvia", "Luxembourg", "Lithuania", "Italy",
    "Iceland", "Ireland", "Finland", "European Union", "Spain",
    "Greece", "Denmark", "Germany", "Czech Republic", "Cyprus",
    "Switzerland", "Bulgaria", "Belgium", "Kosovo"
]



partes = [pour_dfw[i:i+1] for i in range(0, len(pour_dfw), 1)]

# Crear nuevos DataFrames con nombres de pases
dataframes_paises = {}
for i, parte in enumerate(partes):
    pais = country_name[i]
    dataframes_paises[pais] = parte.copy()

# Mostrar cada nuevo DataFrame por separado
for pais, df_pais in dataframes_paises.items():
    print(f"DataFrame para {pais}:\n{df_pais}\n")

DataFrame para Albania:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
0                Albania  NaN     NaN     NaN     NaN     NaN     NaN     NaN

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
0     NaN     NaN     2.0     2.1     2.4     2.1

DataFrame para Portugal:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
1                Austria  2.9     3.0     2.8     3.2     2.5     2.9     3.5

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
1     3.3     3.1     2.6     2.2     2.6     2.4

DataFrame para Montenegro:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
2                Belgium  4.1     3.8     3.9     3.6     3.6     4.0     3.8

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
2     4.5     3.9     3.0     2.5     3.3     3.3

DataFrame para North Macedonia:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
3               Bulgaria  0.5     0.6     0.7     0.9     0.8     1.0     1.1

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
3     1.3     1.4     1.0     1.1     1.0     1.0

DataFrame para Malta:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
4            Switzerland  1.6     1.5     1.7     1.9     1.3     1.6     2.5

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
4     2.2     2.4     2.4     2.1     2.2     2.3

DataFrame para Netherlands:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
5                 Cyprus    2     1.7     1.8     1.9     2.4     2.5     3.1

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
5     3.3     3.6     3.4     2.8     2.8     1.9

DataFrame para Norway:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
6                Czechia  2.7     2.3     2.4     2.1     2.2     2.4     1.8

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
6     1.7     NaN     1.3     1.3     1.2     1.3

DataFrame para Poland:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
7                Germany    3     2.5     2.7     2.6     2.1     2.5     2.4

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
7     2.2     2.2     1.9     1.9     1.8     2.7

DataFrame para Romania:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
8                Denmark  3.4     3.4     4.1     4.3     4.2     4.5     4.5

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
8     4.1     4.1     3.2     2.1     2.6     3.2

DataFrame para Austria:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
9                 Greece  3.7     3.4     3.6     4.0     4.4     5.1     5.6

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
9     5.6     5.7     4.8     4.6     4.2     3.9

DataFrame para Serbia:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
10                  Spain  2.6     2.6     3.3     4.0     4.1     4.1

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
10     4.2     4.0     3.7     3.1     2.7     3.3     2.7

DataFrame para Sweden:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
11         European Union  2.9     2.9     3.1     3.1     3.0     3.0

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
11     3.0     2.8     2.8     2.5     2.2     2.1     NaN

DataFrame para Slovenia:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
12                Finland  2.4     1.9     2.4     2.6     2.2     2.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
12     2.6     2.8     3.3     2.8     2.6     2.2     2.3

DataFrame para Slovak Republic:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
13                Ireland  4.7     7.1     9.2    10.7     7.2     7.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
13     5.4     5.0     4.5     4.3     3.6     4.8     3.8

DataFrame para Trkiye:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
14                Iceland  1.5     1.1     2.9     3.2     3.3     2.8

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
14     2.6     2.4     2.2     2.2     1.9     NaN     NaN

DataFrame para United Kingdom:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
15                  Italy  3.6     3.3     3.4     3.1     3.3     3.2

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
15     3.1     3.1     3.2     3.4     3.0     2.3     2.8

DataFrame para Latvia:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
16              Lithuania  1.3     0.9     1.4     1.9     1.5     2.0

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
16     1.1     1.2     1.3     1.3     0.9     1.2     0.9

DataFrame para Luxembourg:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
17             Luxembourg  2.2     3.3     2.9     3.1     3.3     2.6

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
17     2.3     2.8     2.9     3.3     4.1     3.4     2.9

DataFrame para Lithuania:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
18                 Latvia  0.6     0.7     1.6     1.6     1.4     1.3

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
18     1.1     0.9     1.0     1.2     1.1     1.1     1.3

DataFrame para Italy:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
19             Montenegro  NaN     NaN     NaN     NaN     NaN     6.0

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
19     6.9     4.4     5.7     5.7     6.0     3.7     3.8

DataFrame para Iceland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
20        North Macedonia  NaN     NaN     3.4     2.0     2.1     2.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
20     2.4     3.5     2.1     2.5     1.9     1.4     1.7

DataFrame para Ireland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
21                  Malta  2.5     3.3     2.7     3.0     2.4     2.7

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
21     2.4     2.2     1.7     1.6     1.0     1.2     1.1

DataFrame para Finland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
22            Netherlands  4.3     3.8     4.0     4.0     4.3     4.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
22     3.5     3.7     2.9     2.7     2.4     2.7     2.0

DataFrame para European Union:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
23                 Norway  2.8     2.5     2.8     2.9     2.9     2.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
23     2.2     2.2     2.6     2.9     2.8     2.5     2.5

DataFrame para Spain:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
24                 Poland  2.9     2.4     2.5     2.4     2.1     2.0

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
24     2.3     2.0     1.6     1.4     1.6     1.3     1.3

DataFrame para Greece:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
25               Portugal  2.4     2.2     2.5     2.4     3.0     3.1

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
25     3.1     3.0     2.6     2.3     1.7     1.6     1.4

DataFrame para Denmark:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
26                Romania  2.8     2.8     2.7     2.5     2.7     2.6

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
26     2.0     2.2     2.1     2.0     1.7     1.2     1.3

DataFrame para Germany:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
27                 Serbia  NaN     NaN     NaN     NaN     NaN     3.5

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
27     3.6     3.1     3.7     2.9     2.8     2.6     3.2

DataFrame para Czech Republic:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
28                 Sweden  2.4     2.6     2.0     2.6     1.8     1.8

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
28     2.2     2.0     1.9     1.6     1.0     1.2     1.4

DataFrame para Cyprus:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
29               Slovenia  2.6     2.6     2.9     2.6     2.9     2.8

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
29     2.8     2.2     2.1     1.6     1.4     1.3     1.1

DataFrame para Switzerland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
30               Slovakia  1.9     1.8     2.1     1.8     1.7     1.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
30     1.0     1.2     0.8     0.7     0.7     0.8     0.6

DataFrame para Bulgaria:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
31                Trkiye  3.4     3.7     3.4     3.5     3.3     3.7

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
31     4.8     4.4     4.2     4.6     4.8     4.8     4.8

DataFrame para Belgium:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
32         United Kingdom  2.3     3.4     3.4     3.7     3.9     4.2

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
32     3.5     3.6     3.6     3.1     2.3     NaN     NaN

DataFrame para Kosovo:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
33                 Kosovo  NaN     NaN     NaN     NaN     NaN     NaN

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
33     NaN     NaN     NaN     NaN     7.5     NaN     NaN

In [ ]:
df_belgium = dataframes_paises["Belgium"]
df_bulgaria = dataframes_paises["Bulgaria"]
df_czech_republic = dataframes_paises["Czech Republic"]
df_denmark = dataframes_paises["Denmark"]
df_germany = dataframes_paises["Germany"]

df_ireland = dataframes_paises["Ireland"]
df_greece = dataframes_paises["Greece"]
df_spain = dataframes_paises["Spain"]

df_italy = dataframes_paises["Italy"]
df_cyprus = dataframes_paises["Cyprus"]
df_latvia = dataframes_paises["Latvia"]
df_lithuania = dataframes_paises["Lithuania"]
df_luxembourg = dataframes_paises["Luxembourg"]

df_malta = dataframes_paises["Malta"]
df_netherlands = dataframes_paises["Netherlands"]
df_austria = dataframes_paises["Austria"]
df_poland = dataframes_paises["Poland"]
df_portugal = dataframes_paises["Portugal"]
df_romania = dataframes_paises["Romania"]
df_slovenia = dataframes_paises["Slovenia"]
df_slovak_republic = dataframes_paises["Slovak Republic"]
df_finland = dataframes_paises["Finland"]
df_sweden = dataframes_paises["Sweden"]
df_united_kingdom = dataframes_paises["United Kingdom"]

In [ ]:
def T_en_df(df,country_names):
  df=df.T
  df.reset_index(inplace=True)
  df=df.iloc[1:,:]
  df.reset_index(drop=True,inplace=True)
  df.rename(columns={df.columns[1]: "% Personas por riesgo de pobreza"}, inplace=True)
  df.rename(columns={df.columns[0]: "Date"}, inplace=True)
  df["Region"]=country_names
  df["gender"]=1
  return df

In [ ]:
df_belgium = T_en_df(df_belgium, "Belgium")
df_bulgaria = T_en_df(df_bulgaria, "Bulgaria")
df_czech_republic = T_en_df(df_czech_republic, "Czech Republic")
df_denmark = T_en_df(df_denmark, "Denmark")
df_germany = T_en_df(df_germany, "Germany")
df_ireland = T_en_df(df_ireland, "Ireland")
df_greece = T_en_df(df_greece, "Greece")
df_spain = T_en_df(df_spain, "Spain")
df_italy = T_en_df(df_italy, "Italy")
df_cyprus = T_en_df(df_cyprus, "Cyprus")
df_latvia = T_en_df(df_latvia, "Latvia")
df_lithuania = T_en_df(df_lithuania, "Lithuania")
df_luxembourg = T_en_df(df_luxembourg, "Luxembourg")
df_malta = T_en_df(df_malta, "Malta")
df_netherlands = T_en_df(df_netherlands, "Netherlands")
df_austria = T_en_df(df_austria, "Austria")
df_poland = T_en_df(df_poland, "Poland")
df_portugal = T_en_df(df_portugal, "Portugal")
df_romania = T_en_df(df_romania, "Romania")
df_slovenia = T_en_df(df_slovenia, "Slovenia")
df_slovak_republic = T_en_df(df_slovak_republic, "Slovak Republic")
df_finland = T_en_df(df_finland, "Finland")
df_sweden = T_en_df(df_sweden, "Sweden")
df_united_kingdom = T_en_df(df_united_kingdom, "United Kingdom")

In [ ]:
df_slovak_republic

      Date % Personas por riesgo de pobreza           Region  gender
0     2008                              4.7  Slovak Republic       1
1   2009.0                              7.1  Slovak Republic       1
2   2010.0                              9.2  Slovak Republic       1
3   2011.0                             10.7  Slovak Republic       1
4   2012.0                              7.2  Slovak Republic       1
5   2013.0                              7.4  Slovak Republic       1
6   2014.0                              5.4  Slovak Republic       1
7   2015.0                              5.0  Slovak Republic       1
8   2016.0                              4.5  Slovak Republic       1
9   2017.0                              4.3  Slovak Republic       1
10  2018.0                              3.6  Slovak Republic       1
11  2019.0                              4.8  Slovak Republic       1
12  2020.0                              3.8  Slovak Republic       1

In [ ]:
por_dfws=[
    df_belgium,
    df_bulgaria,
    df_czech_republic,
    df_denmark,
    df_germany,
    df_ireland,
    df_greece,
    df_spain,
    df_italy,
    df_cyprus,
    df_latvia,
    df_lithuania,
    df_luxembourg,
    df_malta,
    df_netherlands,
    df_austria,
    df_poland,
    df_portugal,
    df_romania,
    df_slovenia,
    df_slovak_republic,
    df_finland,
    df_sweden,
    df_united_kingdom
]
pour_dfconcatw=pd.concat(por_dfws,ignore_index=True)

In [ ]:
pour_dfconcatw

       Date % Personas por riesgo de pobreza          Region  gender
0      2008                              2.3         Belgium       1
1    2009.0                              3.4         Belgium       1
2    2010.0                              3.4         Belgium       1
3    2011.0                              3.7         Belgium       1
4    2012.0                              3.9         Belgium       1
..      ...                              ...             ...     ...
307  2016.0                              3.2  United Kingdom       1
308  2017.0                              3.4  United Kingdom       1
309  2018.0                              3.0  United Kingdom       1
310  2019.0                              2.3  United Kingdom       1
311  2020.0                              2.8  United Kingdom       1

[312 rows x 4 columns]

In [ ]:
country_name = [
    "Albania", "Portugal", "Montenegro", "North Macedonia", "Malta",
    "Netherlands", "Norway", "Poland", "Romania", "Austria",
    "Serbia", "Sweden", "Slovenia", "Slovak Republic", "Trkiye", "United Kingdom",
    "Latvia", "Luxembourg", "Lithuania", "Italy",
    "Iceland", "Ireland", "Finland", "European Union", "Spain",
    "Greece", "Denmark", "Germany", "Czech Republic", "Cyprus",
    "Switzerland", "Bulgaria", "Belgium", "Kosovo"
]



partes = [pour_dfm[i:i+1] for i in range(0, len(pour_dfm), 1)]

# Crear nuevos DataFrames con nombres de pases
dataframes_paises = {}
for i, parte in enumerate(partes):
    pais = country_name[i]
    dataframes_paises[pais] = parte.copy()

# Mostrar cada nuevo DataFrame por separado
for pais, df_pais in dataframes_paises.items():
    print(f"DataFrame para {pais}:\n{df_pais}\n")

DataFrame para Albania:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
0                Albania  NaN     NaN     NaN     NaN     NaN     NaN     NaN

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
0     NaN     NaN     1.5     1.3     1.8     1.5

DataFrame para Portugal:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
1                Austria  1.9     1.8     1.9     2.4     2.0     2.0     2.3

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
1     2.3     2.2     1.9     1.8     1.9     2.0

DataFrame para Montenegro:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
2                Belgium  3.4     3.2     3.6     3.5     3.5     3.7     3.6

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
2     3.9     3.3     2.9     2.3     2.8     3.0

DataFrame para North Macedonia:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
3               Bulgaria  0.4     0.6     0.5     0.7     0.8     1.0     1.4

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
3     1.4     1.4     1.2     1.3     1.2     0.9

DataFrame para Malta:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
4            Switzerland  0.8     1.1     1.1     1.2     1.1     1.4     1.4

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
4     1.8     1.9     1.9     1.7     1.9     2.0

DataFrame para Netherlands:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
5                 Cyprus  0.8     0.9     1.5     1.6     1.8     2.0     2.2

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
5     2.6     2.8     3.0     1.9     2.1     1.8

DataFrame para Norway:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
6                Czechia  1.7     1.3     1.4     1.3     1.6     1.8     1.2

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
6     1.3     NaN     1.2     1.1     1.0     1.2

DataFrame para Poland:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
7                Germany  2.1     1.8     2.0     1.9     1.6     1.8     1.8

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
7     1.6     2.0     1.6     1.4     1.5     2.2

DataFrame para Romania:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
8                Denmark  3.2     3.1     3.2     3.9     4.2     4.1     4.1

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
8     3.5     3.0     2.9     2.6     2.7     2.7

DataFrame para Austria:
0 Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  2014.0  \
9                 Greece  2.4     2.5     2.5     3.0     3.1     4.1     4.7

0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
9     4.0     4.1     3.5     3.5     3.3     3.0

DataFrame para Serbia:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
10                  Spain  2.2     2.3     3.4     4.0     3.8     4.3

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
10     4.5     4.2     3.9     3.1     2.6     2.8     2.6

DataFrame para Sweden:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
11         European Union  2.3     2.3     2.5     2.6     2.5     2.6

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
11     2.7     2.5     2.5     2.3     1.9     1.9     NaN

DataFrame para Slovenia:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
12                Finland  1.8     1.9     2.4     2.5     2.5     3.1

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
12     3.2     3.6     3.7     3.1     2.8     2.7     2.4

DataFrame para Slovak Republic:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
13                Ireland  4.9     7.1     8.4    10.1     7.2     7.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
13     5.9     4.5     3.9     4.2     3.2     4.5     3.7

DataFrame para Trkiye:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
14                Iceland  1.1     0.9     2.4     2.7     2.8     2.3

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
14     2.3     1.9     1.9     1.5     1.5     NaN     NaN

DataFrame para United Kingdom:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
15                  Italy  2.6     2.6     2.6     2.2     2.2     2.5

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
15     2.6     2.8     2.7     2.9     2.5     2.0     2.4

DataFrame para Latvia:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
16              Lithuania  1.1     0.9     1.3     2.4     1.8     2.1

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
16     1.6     1.2     1.1     1.2     1.3     1.1     1.0

DataFrame para Luxembourg:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
17             Luxembourg  1.6     2.1     1.9     2.3     2.2     2.2

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
17     1.7     2.3     2.6     2.3     3.2     2.4     2.9

DataFrame para Lithuania:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
18                 Latvia  0.5     0.7     1.8     2.0     1.8     1.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
18     1.4     0.9     1.1     1.0     1.2     1.3     1.2

DataFrame para Italy:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
19             Montenegro  NaN     NaN     NaN     NaN     NaN     6.0

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
19     7.1     5.0     6.0     6.4     6.2     3.8     3.8

DataFrame para Iceland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
20        North Macedonia  NaN     NaN     2.8     1.6     1.5     1.9

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
20     2.1     2.8     2.2     1.9     1.7     1.4     1.8

DataFrame para Ireland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
21                  Malta    2     2.1     1.9     1.8     1.5     1.6

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
21     1.5     1.3     1.4     1.1     0.7     0.8     0.8

DataFrame para Finland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
22            Netherlands  2.9     2.7     2.9     3.2     2.8     2.8

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
22     2.8     3.0     2.2     2.3     2.0     2.1     1.8

DataFrame para European Union:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
23                 Norway  2.1     2.2     2.7     2.8     2.5     2.3

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
23     2.0     2.2     2.3     2.6     2.4     2.6     2.6

DataFrame para Spain:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
24                 Poland  1.9     1.8     1.7     1.6     1.5     1.6

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
24     1.8     1.7     1.4     1.3     1.3     1.1     1.3

DataFrame para Greece:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
25               Portugal  1.7     1.9     2.3     2.3     3.0     3.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
25     3.2     2.9     2.5     2.1     1.7     1.7     1.5

DataFrame para Denmark:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
26                Romania  1.7     1.8     1.9     1.6     1.5     1.4

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
26     1.2     1.3     1.1     1.1     0.8     0.8     0.9

DataFrame para Germany:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
27                 Serbia  NaN     NaN     NaN     NaN     NaN     3.1

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
27     3.5     3.4     3.8     3.5     3.0     2.9     2.9

DataFrame para Czech Republic:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
28                 Sweden  2.1     2.2     1.9     2.1     1.7     1.7

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
28     2.0     1.6     1.4     1.3     1.1     1.1     1.3

DataFrame para Cyprus:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
29               Slovenia  1.7     1.5     1.7     1.8     2.1     2.3

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
29     1.9     1.6     1.6     1.4     1.1     1.0     1.1

DataFrame para Switzerland:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
30               Slovakia    1     1.2     1.4     1.1     1.2     1.2

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
30     1.0     1.4     1.0     0.7     0.8     0.8     0.7

DataFrame para Bulgaria:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
31                Trkiye  2.6     2.7     2.7     2.6     2.2     2.5

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
31     3.3     3.0     2.9     3.1     3.0     3.1     3.1

DataFrame para Belgium:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
32         United Kingdom  2.1     3.0     3.0     3.6     3.7     3.7

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
32     3.2     3.3     3.3     3.1     2.5     NaN     NaN

DataFrame para Kosovo:
0  Geographic region\Time 2008  2009.0  2010.0  2011.0  2012.0  2013.0  \
33                 Kosovo  NaN     NaN     NaN     NaN     NaN     NaN

0   2014.0  2015.0  2016.0  2017.0  2018.0  2019.0  2020.0
33     NaN     NaN     NaN     NaN     8.0     NaN     NaN

In [ ]:
df_belgium = dataframes_paises["Belgium"]
df_bulgaria = dataframes_paises["Bulgaria"]
df_czech_republic = dataframes_paises["Czech Republic"]
df_denmark = dataframes_paises["Denmark"]
df_germany = dataframes_paises["Germany"]

df_ireland = dataframes_paises["Ireland"]
df_greece = dataframes_paises["Greece"]
df_spain = dataframes_paises["Spain"]

df_italy = dataframes_paises["Italy"]
df_cyprus = dataframes_paises["Cyprus"]
df_latvia = dataframes_paises["Latvia"]
df_lithuania = dataframes_paises["Lithuania"]
df_luxembourg = dataframes_paises["Luxembourg"]

df_malta = dataframes_paises["Malta"]
df_netherlands = dataframes_paises["Netherlands"]
df_austria = dataframes_paises["Austria"]
df_poland = dataframes_paises["Poland"]
df_portugal = dataframes_paises["Portugal"]
df_romania = dataframes_paises["Romania"]
df_slovenia = dataframes_paises["Slovenia"]
df_slovak_republic = dataframes_paises["Slovak Republic"]
df_finland = dataframes_paises["Finland"]
df_sweden = dataframes_paises["Sweden"]
df_united_kingdom = dataframes_paises["United Kingdom"]

In [ ]:
def T_en_df(df,country_names):
  df=df.T
  df.reset_index(inplace=True)
  df=df.iloc[1:,:]
  df.reset_index(drop=True,inplace=True)
  df.rename(columns={df.columns[1]: "% Personas por riesgo de pobreza"}, inplace=True)
  df.rename(columns={df.columns[0]: "Date"}, inplace=True)
  df["Region"]=country_names
  df["gender"]=0
  return df

In [ ]:
df_belgium = T_en_df(df_belgium, "Belgium")
df_bulgaria = T_en_df(df_bulgaria, "Bulgaria")
df_czech_republic = T_en_df(df_czech_republic, "Czech Republic")
df_denmark = T_en_df(df_denmark, "Denmark")
df_germany = T_en_df(df_germany, "Germany")
df_ireland = T_en_df(df_ireland, "Ireland")
df_greece = T_en_df(df_greece, "Greece")
df_spain = T_en_df(df_spain, "Spain")
df_italy = T_en_df(df_italy, "Italy")
df_cyprus = T_en_df(df_cyprus, "Cyprus")
df_latvia = T_en_df(df_latvia, "Latvia")
df_lithuania = T_en_df(df_lithuania, "Lithuania")
df_luxembourg = T_en_df(df_luxembourg, "Luxembourg")
df_malta = T_en_df(df_malta, "Malta")
df_netherlands = T_en_df(df_netherlands, "Netherlands")
df_austria = T_en_df(df_austria, "Austria")
df_poland = T_en_df(df_poland, "Poland")
df_portugal = T_en_df(df_portugal, "Portugal")
df_romania = T_en_df(df_romania, "Romania")
df_slovenia = T_en_df(df_slovenia, "Slovenia")
df_slovak_republic = T_en_df(df_slovak_republic, "Slovak Republic")
df_finland = T_en_df(df_finland, "Finland")
df_sweden = T_en_df(df_sweden, "Sweden")
df_united_kingdom = T_en_df(df_united_kingdom, "United Kingdom")

In [ ]:
por_dfws=[
    df_belgium,
    df_bulgaria,
    df_czech_republic,
    df_denmark,
    df_germany,
    df_ireland,
    df_greece,
    df_spain,
    df_italy,
    df_cyprus,
    df_latvia,
    df_lithuania,
    df_luxembourg,
    df_malta,
    df_netherlands,
    df_austria,
    df_poland,
    df_portugal,
    df_romania,
    df_slovenia,
    df_slovak_republic,
    df_finland,
    df_sweden,
    df_united_kingdom
]
pour_dfconcatm=pd.concat(por_dfws,ignore_index=True)

In [ ]:
pour_dfconcatm

       Date % Personas por riesgo de pobreza          Region  gender
0      2008                              2.1         Belgium       0
1    2009.0                              3.0         Belgium       0
2    2010.0                              3.0         Belgium       0
3    2011.0                              3.6         Belgium       0
4    2012.0                              3.7         Belgium       0
..      ...                              ...             ...     ...
307  2016.0                              2.7  United Kingdom       0
308  2017.0                              2.9  United Kingdom       0
309  2018.0                              2.5  United Kingdom       0
310  2019.0                              2.0  United Kingdom       0
311  2020.0                              2.4  United Kingdom       0

[312 rows x 4 columns]

In [ ]:
pour_df=pd.concat([pour_dfconcatm,pour_dfconcatw])
pour_df

       Date % Personas por riesgo de pobreza          Region  gender
0      2008                              2.1         Belgium       0
1    2009.0                              3.0         Belgium       0
2    2010.0                              3.0         Belgium       0
3    2011.0                              3.6         Belgium       0
4    2012.0                              3.7         Belgium       0
..      ...                              ...             ...     ...
307  2016.0                              3.2  United Kingdom       1
308  2017.0                              3.4  United Kingdom       1
309  2018.0                              3.0  United Kingdom       1
310  2019.0                              2.3  United Kingdom       1
311  2020.0                              2.8  United Kingdom       1

[624 rows x 4 columns]

In [ ]:
pour_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 624 entries, 0 to 311
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              624 non-null    object
 1   % Personas por riesgo de pobreza  598 non-null    object
 2   Region                            624 non-null    object
 3   gender                            624 non-null    int64
dtypes: int64(1), object(3)
memory usage: 24.4+ KB

In [ ]:
pour_df["Date"]=pour_df["Date"].astype(int)

In [ ]:
pour_df

     Date % Personas por riesgo de pobreza          Region  gender
0    2008                              2.1         Belgium       0
1    2009                              3.0         Belgium       0
2    2010                              3.0         Belgium       0
3    2011                              3.6         Belgium       0
4    2012                              3.7         Belgium       0
..    ...                              ...             ...     ...
307  2016                              3.2  United Kingdom       1
308  2017                              3.4  United Kingdom       1
309  2018                              3.0  United Kingdom       1
310  2019                              2.3  United Kingdom       1
311  2020                              2.8  United Kingdom       1

[624 rows x 4 columns]

In [ ]:
pd.to_pickle(pour_df,"/content/drive/MyDrive/capstone igualdad de genero/pic_de_pour")

In [ ]:
ff=pd.merge(ff,pour_df,on=["Date","gender","Region"],how="left")

In [ ]:
ff

,Region,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),"Graduates of tertiary education (%, 15+ population)","People participating in formal or non-formal education and training (%, 15+ population)","Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","People doing cooking and/or housework, every day (%, 18+ population)","Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)","Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Share of board members of publically owned broadcasting organisations (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Self-perceived health, good or very good (%, 16+ population)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"People who dont smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",gender,Date,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_x,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x",Esperenza de vida_x,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_y,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y",Esperenza de vida_y,% Tribunales supremos presidentes y miembros,% Personas por riesgo de pobreza
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.1,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.3,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.9,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.7,2.0
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,4.1
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.8,2.6
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,3.1
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=ff.copy()

In [ ]:
# Definir un diccionario con las traducciones de las columnas
traducciones = {
    'Regin': 'Regin',
    'FTE employment rate (%,  15+ population)': 'Tasa de empleo a tiempo completo (%, poblacin 15+)',
    'Duracin de la vida laboral (aos, poblacin 15+)': 'Duracin de la vida laboral (aos, poblacin 15+)',
    'Employed people in Education, Human Health and Social Work activities (%, 15+ employed)': 'Empleados en Educacin, Salud y Actividades de Trabajo Social (%, empleados 15+)',
    'Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)': 'Capacidad para tomar 1h o 2h libres durante las horas de trabajo para atender asuntos personales (%, trabajadores 15+)',
    'ndice de Perspectivas de Carrera (puntos, 0-100)': 'ndice de Perspectivas de Carrera (puntos, 0-100)',
    'Ganancia mensual promedio (PPS, poblacin trabajadora)': 'Ganancia mensual promedio (PPS, poblacin trabajadora)',
    'Ingreso neto promedio equivalente (PPS, poblacin 16+)': 'Ingreso neto promedio equivalente (PPS, poblacin 16+)',
    'At-risk-of-poverty rate (%, 16+ population)': 'Tasa de riesgo de pobreza (%, poblacin 16+)',
    'Distribucin de quintiles de ingreso S20/S80 (poblacin 16+)': 'Distribucin de quintiles de ingreso S20/S80 (poblacin 16+)',
    'Graduates of tertiary education (%, 15+ population)': 'Graduados de educacin terciaria (%, poblacin 15+)',
    'People participating in formal or non-formal education and training (%, 15+ population)': 'Personas participando en educacin formal o no formal y capacitacin (%, poblacin 15+)',
    'Tertiary students in the fields of Education, Health and Welfare, Humanities and Art (tertiary students) (%, 15+ population)': 'Estudiantes terciarios en Educacin, Salud, Bienestar, Humanidades y Arte (estudiantes terciarios) (%, poblacin 15+)',
    'Personas cuidando y educando a sus hijos o nietos, ancianos o personas con discapacidades, todos los das (% poblacin 18+)': 'Personas cuidando a sus hijos o nietos, ancianos o personas con discapacidades, todos los das (% poblacin 18+)',
    'People doing cooking and/or housework, every day (%, 18+ population)': 'Personas que cocinan y/o realizan tareas domsticas todos los das (%, poblacin 18+)',
    'Workers doing sporting, cultural or leisure activities outside of their home, at least daily or several times a week (%, 15+ workers)': 'Trabajadores que realizan actividades deportivas, culturales o de ocio fuera de su hogar, asiduamente (%, trabajadores 15+)',
    'Workers involved in voluntary or charitable activities, at least once a month (%, 15+ workers)': 'Trabajadores involucrados en actividades voluntarias o benficas, al menos una vez al mes (%, trabajadores 15+)',
    'Porcentaje de ministros (%)': 'Porcentaje de ministros (%)',
    'Porcentaje de miembros del parlamento (%)': 'Porcentaje de miembros del parlamento (%)',
    'Porcentaje de miembros de las asambleas regionales (%)': 'Porcentaje de miembros de las asambleas regionales (%)',
    'Porcentaje de miembros de juntas en las mayores empresas cotizadas, junta de supervisin o junta de directores (%)': 'Porcentaje de miembros de juntas en las mayores empresas cotizadas, junta de supervisin o junta de directores (%)',
    'Porcentaje de miembros de la junta del banco central (%)': 'Porcentaje de miembros de la junta del banco central (%)',
    'Porcentaje de miembros de la junta de organizaciones de financiamiento de investigacin (%)': 'Porcentaje de miembros de la junta de organizaciones de financiamiento de investigacin (%)',
    'Share of board members of publically owned broadcasting organisations (%)': 'Porcentaje de miembros de la junta de organizaciones de radiodifusin de propiedad pblica (%)',
    'Porcentaje de miembros de la mxima autoridad de toma de decisiones de las organizaciones deportivas nacionales (%)': 'Porcentaje de miembros de la mxima autoridad de toma de decisiones de las organizaciones deportivas nacionales (%)',
    'Self-perceived health, good or very good (%, 16+ population)': 'Salud autopercibida, buena o muy buena (%, poblacin 16+)',
    'Esperanza de vida al nacer (aos)': 'Esperanza de vida al nacer (aos)',
    'Aos de vida saludable al nacer (aos)': 'Aos de vida saludable al nacer (aos)',
    'People who dont smoke and are not involved in harmful drinking (%, 16+ population)': 'Personas que no fuman y no estn involucradas en el consumo perjudicial de alcohol (%, poblacin 16+)',
    'People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)': 'Personas que realizan actividades fsicas y/o consumen frutas y verduras (%, poblacin 16+)',
    'Population with unmet needs for medical examination (%, 16+ population)': 'Poblacin con necesidades insatisfechas de exmenes mdicos (%, poblacin 16+)',
    'People with unmet needs for dental examination (%, 16+ population)': 'Personas con necesidades insatisfechas de exmenes dentales (%, poblacin 16+)',
    'gender': 'Gnero',
    'Date': 'Fecha',
    'Homicidios': 'Homicidios',
    'Homicidios por familiares': 'Homicidios por familiares',
    'Suicidios': 'Suicidios',
    'Tasa de suicidios': 'Tasa de suicidios',
    'Tasa de Desempleo en Personas Menores de 25 aos': 'Tasa de Desempleo en Personas Menores de 25 aos',
    'Tasa de Desempleo en Personas de 25 y Ms aos': 'Tasa de Desempleo en Personas de 25 y Ms aos',
    'Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)': 'Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)',
    'Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)': 'Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)',
    'Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)': 'Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)',
    'Esperenza de vida': 'Esperanza de vida',
    '% Tribunales supremos presidentes y miembros': '% Tribunales supremos presidentes y miembros',
    '% Personas por riesgo de pobreza': '% Personas por riesgo de pobreza'
}

# Renombrar las columnas usando el diccionario de traducciones
df.rename(columns=traducciones, inplace=True)

In [ ]:
len(traducciones)

46

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 0 to 377
Data columns (total 50 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   Region                                                                                                                              378 non-null    object
 1   Tasa de empleo a tiempo completo (%, poblacin 15+)                                                                                 378 non-null    object
 2   Duration of working life (years, 15+ population)                                                                                    378 non-null    object
 3   Empleados en Educacin, Salud y Actividades de Trabajo Social (%, empleados 15+)                                                    378 non-null    object
 4   Capacidad para tomar 1h o 2h libres durante las horas de trabajo para atender asuntos personales (%, trabajadores 15+)              378 non-null    object
 5   Career Prospects Index (points, 0-100)                                                                                              378 non-null    object
 6   Mean monthly earnings (PPS, working population)                                                                                     378 non-null    object
 7   Mean equivalised net income (PPS, 16+ population)                                                                                   378 non-null    object
 8   Tasa de riesgo de pobreza (%, poblacin 16+)                                                                                        378 non-null    object
 9   S20/S80 income quintile share (16+ population)                                                                                      378 non-null    object
 10  Graduados de educacin terciaria (%, poblacin 15+)                                                                                 378 non-null    object
 11  Personas participando en educacin formal o no formal y capacitacin (%, poblacin 15+)                                             378 non-null    object
 12  Estudiantes terciarios en Educacin, Salud, Bienestar, Humanidades y Arte (estudiantes terciarios) (%, poblacin 15+)               378 non-null    object
 13  People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)  378 non-null    object
 14  Personas que cocinan y/o realizan tareas domsticas todos los das (%, poblacin 18+)                                               378 non-null    object
 15  Trabajadores que realizan actividades deportivas, culturales o de ocio fuera de su hogar, asiduamente (%, trabajadores 15+)         378 non-null    object
 16  Trabajadores involucrados en actividades voluntarias o benficas, al menos una vez al mes (%, trabajadores 15+)                     378 non-null    object
 17  Share of ministers (%)                                                                                                              378 non-null    object
 18  Share of members of parliament (%)                                                                                                  378 non-null    object
 19  Share of members of regional assemblies (%)                                                                                         378 non-null    object
 20  Share of members of boards in largest quoted companies, supervisory board or board of directors (%)                                 378 non-null    object
 21  Share of board members of central bank (%)                                                                                          378 non-null    object
 22  Share of board members of research funding organisations (%)                                                                        378 non-null    object
 23  Porcentaje de miembros de la junta de organizaciones de radiodifusin de propiedad pblica (%)                                      378 non-null    object
 24  Share of members of highest decision making body of the national Olympic sport organisations (%)                                    378 non-null    object
 25  Salud autopercibida, buena o muy buena (%, poblacin 16+)                                                                           378 non-null    object
 26  Life expectancy in absolute value at birth (years)                                                                                  378 non-null    object
 27  Healthy life years in absolute value at birth (years)                                                                               378 non-null    object
 28  Personas que no fuman y no estn involucradas en el consumo perjudicial de alcohol (%, poblacin 16+)                               378 non-null    object
 29  Personas que realizan actividades fsicas y/o consumen frutas y verduras (%, poblacin 16+)                                         378 non-null    object
 30  Poblacin con necesidades insatisfechas de exmenes mdicos (%, poblacin 16+)                                                      378 non-null    object
 31  Personas con necesidades insatisfechas de exmenes dentales (%, poblacin 16+)                                                      378 non-null    object
 32  Gnero                                                                                                                              378 non-null    int64
 33  Fecha                                                                                                                               378 non-null    int64
 34  Homicidios                                                                                                                          296 non-null    float64
 35  Homicidios por familiares                                                                                                           173 non-null    float64
 36  Suicidios                                                                                                                           288 non-null    float64
 37  Tasa suicidios                                                                                                                      288 non-null    object
 38  Tasa de Paro en personas menores de 25 aos                                                                                         350 non-null    object
 39  Tasa de Paro en personas de 25 y ms aos                                                                                           350 non-null    object
 40  Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_x                                                  54 non-null     float64
 41  Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x                            54 non-null     float64
 42  Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x                                                54 non-null     float64
 43  Esperenza de vida_x                                                                                                                 20 non-null     object
 44  Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_y                                                  54 non-null     float64
 45  Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y                            54 non-null     float64
 46  Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y                                                54 non-null     float64
 47  Esperenza de vida_y                                                                                                                 20 non-null     object
 48  % Tribunales supremos presidentes y miembros                                                                                        336 non-null    object
 49  % Personas por riesgo de pobreza                                                                                                    204 non-null    object
dtypes: float64(9), int64(2), object(39)
memory usage: 150.6+ KB

In [ ]:
#del(df["Esperanza de vida"])

KeyError: ignored

In [ ]:
df

,Region,"Tasa de empleo a tiempo completo (%, poblacin 15+)","Duration of working life (years, 15+ population)","Empleados en Educacin, Salud y Actividades de Trabajo Social (%, empleados 15+)","Capacidad para tomar 1h o 2h libres durante las horas de trabajo para atender asuntos personales (%, trabajadores 15+)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","Tasa de riesgo de pobreza (%, poblacin 16+)",S20/S80 income quintile share (16+ population),"Graduados de educacin terciaria (%, poblacin 15+)","Personas participando en educacin formal o no formal y capacitacin (%, poblacin 15+)","Estudiantes terciarios en Educacin, Salud, Bienestar, Humanidades y Arte (estudiantes terciarios) (%, poblacin 15+)","People caring for and educating their children or grandchildren, elderly or people with disabilities, every day (% 18+ population)","Personas que cocinan y/o realizan tareas domsticas todos los das (%, poblacin 18+)","Trabajadores que realizan actividades deportivas, culturales o de ocio fuera de su hogar, asiduamente (%, trabajadores 15+)","Trabajadores involucrados en actividades voluntarias o benficas, al menos una vez al mes (%, trabajadores 15+)",Share of ministers (%),Share of members of parliament (%),Share of members of regional assemblies (%),"Share of members of boards in largest quoted companies, supervisory board or board of directors (%)",Share of board members of central bank (%),Share of board members of research funding organisations (%),Porcentaje de miembros de la junta de organizaciones de radiodifusin de propiedad pblica (%),Share of members of highest decision making body of the national Olympic sport organisations (%),"Salud autopercibida, buena o muy buena (%, poblacin 16+)",Life expectancy in absolute value at birth (years),Healthy life years in absolute value at birth (years),"Personas que no fuman y no estn involucradas en el consumo perjudicial de alcohol (%, poblacin 16+)","Personas que realizan actividades fsicas y/o consumen frutas y verduras (%, poblacin 16+)","Poblacin con necesidades insatisfechas de exmenes mdicos (%, poblacin 16+)","Personas con necesidades insatisfechas de exmenes dentales (%, poblacin 16+)",Gnero,Fecha,Homicidios,Homicidios por familiares,Suicidios,Tasa suicidios,Tasa de Paro en personas menores de 25 aos,Tasa de Paro en personas de 25 y ms aos,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_x,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_x",Esperenza de vida_x,Pareja con hijos Tiempo diario tareas domsticas antes y durante la pandemia (%)_y,"Soltero o conviviente nico con hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y","Soltero sin hijos, tiempo diario tareas domsticas antes y durante la pandemia (%)_y",Esperenza de vida_y,% Tribunales supremos presidentes y miembros,% Personas por riesgo de pobreza
0,Austria,43,35,28,36,64,2343,26051,14,25,27,17,41,36,83,25,12,53,41,35,34,0,43,40,16,73,84,59,71,44,1,1,1,2022,NaN,NaN,NaN,NaN,9.5,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
1,Belgium,40,32,40,30,66,2778,23537,15,28,36,14,52,43,81,32,9,50,44,43,37,35,38,30,21,73,83,64,72,37,2,5,1,2022,NaN,NaN,NaN,NaN,14.4,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.1,NaN
2,Bulgaria,46,32,19,20,66,1078,10935,25,13,27,8,41,39,73,12,3,36,23,27,17,43,50,40,24,63,78,68,70,11,2,3,1,2022,NaN,NaN,NaN,NaN,10.7,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.3,NaN
3,Cyprus,49,34,21,17,53,1941,21096,15,23,38,11,46,50,81,10,9,25,14,15,10,13,22,22,10,76,84,63,84,24,1,3,1,2022,NaN,NaN,NaN,NaN,18.5,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.9,NaN
4,Czechia,48,33,26,11,61,1463,15359,12,29,21,14,46,33,67,23,12,17,23,22,21,0,30,15,8,62,81,63,70,27,2,2,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Portugal,59,39,6,28,57,1666,12122,16,18,10,13,18,20,12,20,3,82,70,78,95,83,67,67,87,55,77,59,63,35,2,13,0,2013,92.0,NaN,812.0,16.32,36.9,15.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.7,2.0
374,Romania,57,35,4,20,67,945,4286,19,17,11,10,12,26,30,8,8,93,90,85,79,89,27,71,89,76,70,57,36,16,11,12,0,2013,160.0,NaN,2042.0,21.16,28.7,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,4.1
375,Sweden,64,42,11,47,68,2720,20186,11,28,24,26,29,32,49,55,30,54,53,53,74,65,40,52,58,82,80,67,61,56,10,8,0,2013,61.0,NaN,828.0,19.80,23.9,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.8,2.6
376,Slovenia,59,36,5,32,61,1795,14701,11,30,17,21,14,35,23,43,28,66,89,78,90,80,57,69,94,63,76,53,54,46,0,1,0,2013,9.0,NaN,2911.0,12.69,20.1,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.4,3.1
377,Slovakia,58,35,4,15,67,1292,9673,11,26,13,14,24,14,12,20,3,83,83,85,78,86,83,89,90,68,72,52,53,40,5,5,0,2013,48.0,6.0,537.0,21.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.to_pickle(df,"/content/drive/MyDrive/capstone igualdad de genero/df.pickle_12_09_23")

EDA: Analisis Exploratorio

In [ ]:
df.head()

In [ ]:
df.info()

Distribucin del target

In [ ]:
df['Gnero'].value_counts()

In [ ]:
target = 'Gnero'
features = df.columns[df.columns!=target]

In [ ]:
df.hist('Gnero')

In [ ]:
proportion_gender = (df['Gnero'].value_counts()) / (len(df['Gnero'])) *100
proportion_gender

print(f'La cantidad de datos de mujeres y hombres de este DataFrame es proporcional')
print(f'{proportion_gender}')

In [ ]:
df['Gnero']

In [ ]:
X = df[features]

In [ ]:
y = df[target]

In [ ]:
sns.distplot(y)
plt.title('Distribucion del target: '+target)
plt.show()

Analisis Univariable

In [ ]:
for i in features:
 if df[i].dtype.kind=="i" or df[i].dtype.kind=="f":
  sns.distplot(X[i])
  plt.title('Distribucion '+ i)
  plt.show()